<h2>Grades for <%= @user.display_name %></h2>
<h3><%= @course.title %>, <%= @course.term.semester %></h3>

<% if @course.gradebook.track_extensions %>
  <hr/>
  <h4>Assignment Extensions</h4>
  <%
	clazz = 'label-success'
	progress_class = 'progress-success'
    if @extension_hours >= @course.gradebook.extension_hours
      clazz = 'label-important'
      progress_class = 'progress-danger'
    elsif @extension_hours >= @course.gradebook.extension_hours * 0.75
	  clazz = 'label-warning'
	  progress_class = 'progress-warning'
	end
   %>
  <p>You have received <%= pluralize(@user_extensions.size, 'extension') %> on assignments, and used
  <span class="label <%= clazz %>"><%= pluralize(@extension_hours, 'hour') %></span> out of 
  <%= pluralize(@course.gradebook.extension_hours, 'hour') %> available to you.</p>
  <div class="progress <%= progress_class %> active progress-striped">
    <div class="bar" style="width: <%= ((@extension_hours / @course.gradebook.extension_hours.to_f)*100).to_i %>%"></div>
  </div>

  <hr/>
  <h4>Your Assignment Grades</h4>
<% end %>

<table class="table table-compact table-striped">
 <thead>
  <tr>
    <th>Assignment</th>
    <th>Feedback</th>
    <th>Category</th>
    <% if !@course.gradebook.nil? && @course.gradebook.weight_grades %><th>Category Weight</th><% end %>
    <th>Date</th>
    <th>Your Score</th>
    <th>Possible Points</th>
    <th>Percentage</th>
   </tr>
 </thead>

  <% count = 0 %>
  <% for grade_item in @grade_items %>
   <% if grade_item.visible %>
	<% count = count.next 
	     odd = "odd"
	     odd = "even" if count.even?
	   %> 
    <tr class="<%=odd%> hover" id="item_<%=grade_item.id%>">
      <td>
        <% if grade_item.assignment_id && grade_item.assignment_id > 0 %>
          <%= link_to "#{grade_item.name}", :controller => '/assignments', :course => @course, :action => 'view', :id => grade_item.assignment_id %>
  	    <% else %>	
          <%= grade_item.name %>
	    <% end %>
	  </td>
	  <td>
		<% if !grade_item.assignment.nil? &&  grade_item.assignment.released %>
		  <% if grade_item.assignment.quiz.nil? %>                
			<%= link_to 'Get Feedback', :controller => '/turnins', :course => @course, :assignment => grade_item.assignment, :action => 'feedback' %>
          <% elsif grade_item.assignment.quiz.survey %>
		    -N/A-
		  <% else %> 
		    <%= link_to 'Get Feedback', :controller => '/quiz', :action => 'results', :course => @course, :id => grade_item.assignment %>
		  <% end %>
		<% elsif !grade_item.assignment.nil? %>
		  <% if grade_item.assignment.quiz.nil? %>
		    <%= link_to 'Not Yet', :controller => '/turnins', :course => @course, :assignment => grade_item.assignment, :action => 'feedback' %> <%= image_tag 'lightbulb_off.png' %>
		  <% elsif grade_item.assignment.quiz.survey %>               
		    -N/A-
		  <% else %>
		    <%= link_to 'Not Yet', :controller => '/quiz', :action => 'results', :course => @course, :id => grade_item.assignment %><%= image_tag 'lightbulb_off.png' %>
		  <% end %>
		<% else %>
          -N/A-
		<% end %>
	  </td>
	  <td><%= grade_item.grade_category.category %></td>
	  <% if  @course.gradebook && @course.gradebook.weight_grades %><td align="right"><%= sprintf("%.2f", @weight_map[grade_item.grade_category.id] ) %>%</td><% end %>
      <td><%= grade_item.date.to_formatted_s(:long) %></td>

      <% if grade_item.display_type.eql?( GradeItem::shown_type( GradeItem::COMPLETE ) ) %>
		<td align="center" class="cell" colspan="4">
			Assignment
			<% if  @grade_map[grade_item.id].nil? %>
			  <%= image_tag 'cross.png' %> Incomplete
			<% else %>
			  <%= image_tag 'accept.png' %> Complete
			<% end %>
		</td>
      <% elsif grade_item.display_type.eql?( GradeItem::shown_type( GradeItem::PERCENTAGE ) ) %>
 		<td align="center" class="cell" colspan="3">
	        Percentage: 
			<% unless @grade_map[grade_item.id].nil? %>
	          <%= sprintf( "%.2f",  @grade_map[grade_item.id] / grade_item.points * 100 ) %>%
	        <% else %> --% <% end %>	
		</td>
      <% else %>

      <td align="right" class="cell">
        <% if @grade_map[grade_item.id].nil? %>
          <i>No Grade Reported</i> <%= image_tag 'bullet_error.png' %>
        <% else %>
          <%= sprintf("%.1f", @grade_map[grade_item.id].to_f ) %>
        <% end %>
      </td> 
      <td align="right" class="cell"><%= grade_item.points %></td>
      <td align="right" class="cell">
        <% unless @grade_map[grade_item.id].nil? %>
          <%= sprintf( "%.2f",  @grade_map[grade_item.id] / grade_item.points * 100 ) %>%
        <% else %> --% <% end %>
      </td>

      <% end %>

    </tr>
   <% end %>
  <% end %>


  <% if @course.gradebook && @course.gradebook.show_total %>
   <thead>
    <tr>
      <% width = 4
         width = 5 if @course.gradebook.weight_grades  
       %>
      <th colspan="<%=width%>" align="right">Points Summary:</th>
      <th><%= sprintf( "%.1f", @total_points ) %></th>
      <th><%= sprintf( "%.1f", @total_points_possible ) %></th> 
      <th><%= sprintf( "%.2f", @total_points / @total_points_possible * 100 ) rescue '--' %>% </th>
    </tr>
    <% if @course.gradebook.weight_grades %>
      <tr>
        <th colspan="5" align="right">Weighted Average:</th>
        <th><%= sprintf( "%.2f", @weighted_average ) %>%</th>
        <th> </th> 
        <th> </th>
      </tr>
    <% end %>
   </thead>
  <% end %>

</table>