<h2>Programming Languages</h2>

<%= link_to 'New Programming Language', {:action => 'new'}, {:class => 'btn btn-success'} %><br/><br/>

<% if @programming_languages.size == 0 %>
  <div class="alert alert-info">There are no programming languages configured.</div>
<% else %>

<table class="table table-condensed table-striped">
  <tr>
    <th>Language</th>
    <th>Controls</th>
  </tr>
  
<% count = 0 %>
<% for programming_language in @programming_languages %>
<% count = count.next 
   odd = "odd"
   odd = "even" if count.even?
%>

  <tr class="<%=odd%> hover" id="language_<%=programming_language.id%>">
    <td><%=h programming_language.name %></td>
    <td>
	  <div class="btn-group">
        <%= link_to 'Details', {:action => 'show', :id => programming_language}, {:class => 'btn btn-small'} %>
        <%= link_to 'Edit', {:action => 'edit', :id => programming_language}, {:class => 'btn btn-small'} %>
        <%= link_to 'Destroy', { :action => 'destroy', :id => programming_language }, :confirm => 'Are you sure?', :method => :post, :class => 'btn btn-danger btn-small' %>
      </div>
    </td>
  </tr>
<% end %>
</table>
<% end %>
