<h2>Editing CRN '<%= @crn.crn %>' / '<%= @crn.title %>'</h2>

<% form_tag( {:action => 'update', :id => @crn}, {:class => 'form-horizontal'} ) do %>
  <%= render :partial => 'form' %>

  <%= submit_tag 'Save Changes', {:class => 'btn btn-primary'} %>
  <%= link_to 'Cancel', {:action => 'index'}, {:class => 'btn'} %>
<% end %>
