<h2>CRN Admin</h2>
<div class="well"> 
  <b>Current Term:</b> <%= @term.semester %> (<%= @term.term %>)
</div>
<%= link_to "Create new CRN", {:action => 'new'}, {:class => 'btn btn-success'} %><br/><br/>

<% if @crns.size == 0 %>
 <div class="alert alert-info">There are no CRNs in this term.</div>
<% else %>

 <table class="table table-compact table-striped">
	<tr>
	  <th><%= link_to "CRN", :action => 'index', :sort => 'crn' %></th>
	  <th><%= link_to "Name", :action => 'index', :sort => 'name' %></th>
	  <th><%= link_to "Title", :action => 'index', :sort => 'title' %></th>
	  <th></th>
	</tr>
	
	<% for crn in @crns %>
	  <tr id="item_<%=crn.id%>">
	    <td><%= link_to "<i class=\"icon-edit\"></i> #{h crn.crn}", :action => 'edit', :id => crn.id %></td>
	    <td><%= crn.name %></td>
	    <td><%= crn.title %></td>
	    <td><%= link_to_remote( 'Delete', :url => { :action => 'destroy', :id => @crn }, :confirm => "Delete CRN for course: '#{h crn.title}'?", :success => "new Effect.Puff( 'item_#{crn.id}' )", :failure => "alert('There was an error deleting the CRN.');", :html => {:class => 'btn btn-danger btn-mini'}) %></td>
	  </tr>
	<% end %>
 </table>
<% end %>
	
<% if @isMuohio %>
<hr/>
<div id="form_area">
<% form_tag( :action => 'load_crns' ) do %>
<h2>Load new CRNs from external source</h2>

<div class="block_intro">
The subjects to load are a space separated list of the subjects areas to load CRNs for.   These are usually department codes, i.e. "CSA" for "Computer Science and Systems Analysis."	<b>This may take a while, especially if more than 1 department is entered.</b>
</div>
	
<div class="block">
<label for='course_title' class="required">Subjects to Load:</label>
<%= text_field_tag 'subjects', @subjects, :size => 80  %><br/>
</div>

<div class="submit">
  <%= submit_tag "Load..." %>
</div>
<% end %>
</div>
<% end %>