<h2><%= @program.title %> courses in <%= @audit_term.semester %></h2>
<% if @courses.size == 0 %>
  <div class="alert alert-info">There are no courses for <%= @program.title %> in <%= @term.semester %>.</div>
<% else %>
<table class="table table-condensed table-striped">
  <% for course in @courses %>	
    <tr id="course_<%=course.id%>">
      <td valign="middle" align="left"><%=h course.short_description %>) <%=h course.title %><br/>
	    <ul>
	     <li><strong>Instructor(s):</strong> <%=h course.instructors.join( ", " ) %></li>
	     <li><strong>Students:</strong> <%= course.student_count %></li>
	    </ul>
	  </td>
      <td valign="top" align="left" nowrap="nowrap" width="35%">
	    <ul>
	    <li><%= link_to 'Course outcomes', :controller => '/audit', :action => 'course_outcomes', :course => course, :id => @program %></li>
	    <li><%= link_to 'Entry and exit surveys', :controller => '/audit', :action => 'surveys', :course => course, :id => @program %></li>
	    <li><%= link_to 'Course rubrics report', :controller => '/audit', :action => 'rubric_report', :course => course, :id => @program %></li>
	    <li><%= link_to 'Review student work', :controller => '/audit', :action => 'assignments', :course => course, :id => @program %></li>
	    </ul>
	  </td>
	</tr>
  <% end %>	
</table>
<% end %>