<h2>Students eligible for audit <%= link_to_function '<i class="icon-resize-full"></i>', visual_effect(:toggle_slide, 'students' ) %></h2>

<div id="students">
<%= render :partial => 'students', :locals => {:students => @students} %>
</div>

<div class="SectionHeader"><div class="Full">
<h2>Assignments <%= @course.title %> (<%= @course.term.semester %>)<br/>
Program: <%= @program.title %></h2>
</div></div>

<p><strong>Notes:</strong> <em>Please use discretion when viewing and using student work for auditing purposes. This work has not been anonymized, and no scores will be shown. Online quizzes are not available for auditing.</em></p>

<% if @assignments.size == 0%>
 <div class="alert alert-info">There are no assignments in this course. Please work with the instructor or department administrators to obtain samples of student work.</div>

<% else %>
 <div id="assignments"><ul>
  <% for assignment in @assignments %>
    <li><%= link_to "#{assignment.title}", :controller => '/audit', :course => @course, :assignment => assignment, :id => @program, :action => 'turnins' %> - <em>Category: <%= assignment.grade_category.category %>, Due: <%= assignment.due_date.to_formatted_s(:short) %></em></li>
  <% end %>
 </ul></div>
<% end %>