<p><%= link_to 'Back', :controller => '/audit', :action => 'program', :id => @program, :course => nil %></p>

<div class="SectionHeader"><div class="Full">
<h2>Course Outcomes to Program Outcomes report<br/>
<%= @course.title %> (<%= @course.short_description %>), <%= @program.title %>, <%= @audit_term.semester %></h2>
</div></div>

<p><%= link_to "#{image_tag 'page_white_excel.png', :align => 'absmiddle'} Export this report as a spreadsheet", :controller => '/audit', :course => @course, :action => 'course_outcomes', :id => @program, :format => 'csv' %></p>

<% all_outcomes = @course.ordered_outcomes %>
<table class="fancy">	
  <tr class="header">
	<th>Course Outcomes \ Program Outcomes (<%= @program.title %>)</th>
	  <% for po in @program.program_outcomes%>
	    <th align="center" width="2%">
	      <u><acronym title="<%=h po.outcome %>"><%= po.position %></acronym></u>
	    </th>
	  <% end %>
  </tr>
 <% row_count = 0 
    parent_stack = [-1]
	count_stack = [0] %>
 <% for outcome in @course.ordered_outcomes %>
  	 <% row_count = row_count.next 
	    odd = "odd"
        odd = "even" if row_count.even? %> 
    <tr class="<%=odd%> hover" id="assignment_<%=outcome.id%>">
	  <td>
		<% space_count = @numbers[outcome.id].split(".").size - 1 %>
		<% 1.upto(space_count) do %>
		   &nbsp;&nbsp;
		<% end %>
		
	    <%= @numbers[outcome.id] %>) <%=h outcome.outcome %>
	  </td>
	  <% for po in @program.program_outcomes%>
	    <th align="center" nowrap="nowrap">
	      <% if outcome.mapped_to_program_outcome?(po.id) %>
	        <acronym title="<%=h po.outcome %>"><%= image_tag 'accept.png', :align => 'absmiddle' %><%= outcome.get_depth_level_short(po.id) %></acronym>
	      <% end %>
	    </th>
	 <% end %>	  
	</tr>
  <% end %>
</table>

<p><strong>Mapping levels:</strong><ul>
<li><strong>S</strong> = <em>some</em></li>
<li><strong>M</strong> = <em>moderate</em></li>
<li><strong>E</strong> = <em>extensive</em></li>
</ul></p>

<h3>Program Outcomes for <%= @program.title %></h3>
<div id="program_outcomes">
<%= render :partial => 'program_outcomes' %>
</div>