<h2>Entry/Exit Surveys for <%= @course.title %> (<%= @course.term.semester %>)<br/>
Program: <%= @program.title %></h2>

<p>Select the surveys that you would like to export, and the format that you would like. 
The HTML view will automatically generate comparison graphs.
<em>It make take up to 2 minutes to render survey data.</em>
</p>

<% has_hidden_surveys = 0 %>
  <% form_tag({:action => 'compare_surveys', :course => @course, :id => @program}, {:class => 'form-horizontal'}) do %>
  <div class="control-block">
    <p class="help-block">Select the surveys that you want to include in your report (max of 2).</p>
	<div class="controls">	
	<% for survey in @surveys %>
	  <% if survey.available_to_auditors %>
	  <label class="checkbox">
	    <%= check_box_tag "survey_#{survey.id}", survey.id, false %>
	    <%= survey.assignment.title %> 
	    (<%= survey.assignment.close_date.to_formatted_s(:short) %>)
      </label>
      <% else %>
        <% has_hidden_surveys = has_hidden_surveys + 1 %>
      <% end %>
	<% end %>
	</div>
	<% if has_hidden_surveys > 0 %>
	  <p class="help-block">This course has <%= pluralize(has_hidden_surveys, 'hidden survey') %>. Please contact the instructor, program manager, or department chair to get access to hidden surveys or to find out why these surveys are not available to auditors.</p>
	<% end %>
  </div> 

  <div class="control-blocl">
    <p class="help-block">Select the format for your report HTML (in browser with graphs) or export to Excel (CSV format).</p>
    <div class="controls">
	  <label class="radio"><%= radio_button_tag 'format', 'html', true %> HTML / In Browser</label>
	  <label class="radio"><%= radio_button_tag 'format', 'printer', false %> Printer Friendly</label>	
	  <label class="radio"><%= radio_button_tag 'format', 'csv', false %> Export to Excel (CSV format) (<i>Charts will not be included</i>)</label>
	</div>
  </div>

  <%= submit_tag 'Generate Survey Report', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', {:controller => '/audit', :action => 'program', :id => @program}, {:class => 'btn'} %>
  <% end %>