<% line_num = 0 %>
   <div class="codeout">
     <% for line in @lines %>
       <% line_num = line_num.next %>
       <% numbers = line_num.to_s 
          numbers.size.upto(8) { |x| numbers = "&nbsp;#{numbers}" } %>
       <%= numbers %>: <%= line %><br/>

       <% if @comment_hash[line_num] %>
          <div class="codecomment">
<i>Instructor comment on line <%=line_num%></i><br/>
<b><%= @comment_hash[line_num].comments.to_html %></b>
          </div>
       <% end %>
       <% if @style_hash[line_num] %>
          <% for fs in @style_hash[line_num] %>
            <div class="codestyle">
	           <i>PMD Code Style:</i> From line <%= fs.begin_line %>:<%= fs.begin_column %> to line <%= fs.end_line %>:<%= fs.end_column %><br/>
	           <ul>
		         <li><b><%= fs.message %></b></li>
		         <li><b>Explanation:</b> <%= fs.style_check.description rescue "unknown" %> </li>
		         <li><b><%= link_to_function "View Example: #{image_tag 'folder_bug.png'}", visual_effect(:toggle_appear, "ex#{@utf.id}.#{fs.id}" )  %></b></li>
		       <ul>
			   
			       <div class="code_example" id="ex<%=@utf.id%>.<%=fs.id%>" style="display: none;">
				     <%= fs.style_check.example rescue "no example available" %>
				   </div>
	        </div>
          <% end %>
       <% end %>

     <% end %>
   </div>