
<% if @user.instructor_in_course?(@course.id) || @user.assistant_in_course?(@course.id) || @course.course_setting.enable_forum_topic_create %>
<p><%= link_to "#{image_tag 'layout_add.png'} Create new forum", :course => @course, :action => 'new_forum' %> |
<%= link_to "#{image_tag 'chart_pie.png'} View post report", :course => @course, :action => 'post_report' %>
</p>
<% end %>

<% if @topics.size == 0 %>
	<p><i>There are no forum topics in this course.</i></p>
<% else %>

<table class="fancy" width="99%">
  <tr class="header">
	  <th width="65%">Topic</th>
	  <th>Last Poster</th>
	  <th>When</th>
	  <th>Posts</th>
	
	  <% if @user.instructor_in_course?(@course.id) %>
	    <th>Controls</th>
	  <% end %>
	</tr>

  <% count = 0 %>
  <% for topic in @topics %>
    <% count = count.next 
	     odd = "odd"
	     odd = "even" if count.even? %> 
    <tr class="<%=odd%> hover" id="topic_<%=topic.id%>">
	  <td nowrap="nowrap" align="left"><%= link_to "#{h topic.topic}", :action => 'view_topic', :course => @course, :id => topic.id %>
	    <% unless topic.allow_posts %> <i> <%= image_tag 'door.png' %> forum closed</i><% end %>	
	  </td>
	  <td nowrap="nowrap" align="left"><%=h topic.user.display_name %></td>
	  <td nowrap="nowrap" align="left"><%= distance_of_time_in_words_to_now( topic.last_post, true ) %> ago</td>
	  <td nowrap="nowrap" align="left"><%= topic.post_count %></td>
	  <% if @user.instructor_in_course?(@course.id) %>
	    <td nowrap="nowrap" align="left">
		  <%= link_to "#{image_tag 'arrow_up.png'} Move Up", :action => 'move_up', :id => topic %> |
		  <%= link_to "#{image_tag 'arrow_down.png'} Move Down", :action => 'move_down', :id => topic %> |
		  <% if topic.allow_posts %>
		    <%= link_to "#{image_tag 'door_open.png'} Close Topic", :action => 'toggle_open', :id => topic %>
		  <% else %>
		    <%= link_to "#{image_tag 'door.png'} Open Topic", :action => 'toggle_open', :id => topic %>
		  <% end %>
	    </td>
	  <% end %>
	</tr>
  <% end %>
</table>

<% end %>

