<% if @user.instructor_in_course?(@course.id) || @user.assistant_in_course?(@course.id) || @course.course_setting.enable_forum_topic_create %>
<div class="row-fluid">
 <div class="span12">
  <div class="btn-toolbar">	
	<div class="btn-group">
<%= link_to '<i class="icon-plus-sign"></i> Create New Forum', {:course => @course, :action => 'new_forum'}, {:class => 'btn btn-small'} %>
  <% if @user.instructor_in_course?(@course.id) || @user.assistant_in_course?(@course.id) %>
<%= link_to '<i class="icon-signal"></i> View Post Report', {:course => @course, :action => 'post_report'}, {:class => 'btn btn-small'} %>
<%= link_to '<i class="icon-random"></i> Reorder Forumns', {:course => @course, :action => 'reorder'}, {:class => 'btn btn-small'} %>
  <% end %>
    </div>
   </div>
 </div>
</div>
<% end %>

<% if @topics.size == 0 %>
 <div class="alert alert-info">There are no forum topics in this course.</div>
<% else %>

<table class="table table-striped">
 <thead>
  <tr>
	  <th width="35%">Topic</th>
	  <th>Last Poster</th>
	  <th>When</th>
	  <th>Posts</th>
	  <th>Subscribed?</th>
	
	  <% if @user.instructor_in_course?(@course.id) %>
	    <th>Controls</th>
	  <% end %>
	</tr>
 </thead>

  <% for topic in @topics %>
    <tr id="topic_<%=topic.id%>">
	  <td nowrap="nowrap" align="left"><%= link_to "#{h topic.topic}", :action => 'view_topic', :course => @course, :id => topic.id %>
	    <% unless topic.allow_posts %> <span class="label label-important">forum closed</span><% end %>	
	  </td>
	  <td nowrap="nowrap" align="left"><%=h topic.user.display_name %></td>
	  <td nowrap="nowrap" align="left"><%= distance_of_time_in_words_to_now( topic.last_post, true ) %> ago</td>
	  <td nowrap="nowrap" align="left"><span class="badge badge-info"><%= topic.post_count %></span></td>
	  <td nowrap="nowrap" align="left">
		<% if topic.is_watching(@user) %>Yes
		<% else %>
		  No
		<% end %>
	  </td>
	  <% if @user.instructor_in_course?(@course.id) %>
	    <td nowrap="nowrap" align="left">
		  <% if topic.allow_posts %>
		    <%= link_to 'Close Topic', {:action => 'toggle_open', :id => topic}, {:class => "btn btn-danger btn-mini"} %>
		  <% else %>
		    <%= link_to 'Open Topic', {:action => 'toggle_open', :id => topic}, {:class => "btn btn-success btn-mini"} %>
		  <% end %>
	    </td>
	  <% end %>
	</tr>
  <% end %>
</table>

<% end %>

