
<script type="text/javascript">
  google.load("visualization", "1", {packages:["piechart"]});
  google.setOnLoadCallback(drawChart);
  
  function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Student');
        data.addColumn('number', 'Forum Posts');
        data.addRows( <%= @course.students.size %> );
        
        <% counter = 0 %>
		<% for student in @course.students %>
          data.setValue( <%= counter %>, 0, "<%= student.display_name %>" );
          data.setValue( <%= counter %>, 1, <%= @count_map[student.id] %> );

		  <% counter = counter + 1 %>
		<% end %>		

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, {width: 800, height: 480, is3D: true, title: 'Posts by Students'});
  }
</script>

<h2>Course: <%= @course.title %></h2>
<h3>Forum Post Report</h3>

<% count = 0 %>

<div id="chart_div"></div>

<table class="table table-striped table-compact">
 <thead>
  <tr class="header">
	  <th colspan="3">Instructors</th>
  </tr>
  <tr>
	  <th>User</th>
	  <th>UniqueID</th>
	  <th>Post Count</th>
  </tr>
 </thead>
  <% for user in @course.instructors %>
    <tr>
 	  <td><%= user.display_name %></td>
      <td><%= user.uniqueid %></td>
      <td><%= @count_map[user.id] %> </td>
	</tr>
  <% end %>


  <% if @course.assistants.size > 0 %>
 <thead>
  <tr class="header">
	  <th colspan="3">TAs</th>
  </tr>
  <tr>
	  <th>User</th>
	  <th>UniqueID</th>
	  <th>Post Count</th>
  </tr>
 </thead>
  <% for user in @course.assistants %>
    <tr>
 	  <td><%= user.display_name %></td>
      <td><%= user.uniqueid %></td>
      <td><%= @count_map[user.id] %> </td>
	</tr>
  <% end %>
  <% end %>

 <thead>
  <tr class="header">
	  <th colspan="3">Students</th>
  </tr>
  <tr>
	  <th>User</th>
	  <th>UniqueID</th>
	  <th>Post Count</th>
  </tr>
 </thead>
  <% for user in @course.students %>
    <tr>
 	  <td><%= user.display_name %></td>
      <td><%= user.uniqueid %></td>
      <td><%= @count_map[user.id] %> </td>
	</tr>
  <% end %>

  <% if @course.guests.size > 0 %>
 <thead>
  <tr class="header">
	  <th colspan="3">Guests</th>
  </tr>
  <tr>
	  <th>User</th>
	  <th>UniqueID</th>
	  <th>Post Count</th>
  </tr>
 </thead>
  <% for user in @course.guests %>
    <tr>
 	  <td><%= user.display_name %></td>
      <td><%= user.uniqueid %></td>
      <td><%= @count_map[user.id] %> </td>
	</tr>
  <% end %>
  <% end %>
  
</table>