<div class="row-fluid">
 <div class="span12">
  <div class="btn-toolbar">	
   <div class="btn-group">
     <%= link_to 'Back to Forum', {:action => 'view_topic', :id => @topic.id, :course => @course}, {:class => 'btn'} %>
   </div>
  </div>
 </div>
</div>

<h2><%=h @topic.topic %> : '<%=h @parent_post.headline %>'</h2>

<table class="table table-compact">
  <%= render :partial => "post", :locals => { :post => @parent_post, :parent => @parent_post, :controls => true } %> 
</table>

<h2>Replies to '<%=h @parent_post.headline %>'</h2>

<table class="table table-compact table-striped">
  <% for post in @posts %>
     <%= render :partial => "post", :locals => { :post => post, :parent => @parent_post, :controls => true } %> 
  <% end %>
</table>

<div class="pagination">
 <ul>
 <% 1.upto(@post_pages.page_count) do |i| %>
 <li <%= 'class="active"' if i == @page %>>
     <%= link_to i, { :page => i } %>
 </li>
 <% end %>
 </ul>
</div>


