<h3>Reply to post</h3>

<table class="table table-compact">
  <%= render :partial => "post", :locals => { :post => @reply_to, :parent => @parent, :controls => false } %> 
</table>

<% if @reply_to.id != @parent.id %>
<h3>In the forum</h3>
<table class="table table-compact">
  <%= render :partial => "post", :locals => { :post => @parent, :parent => @parent, :controls => false } %> 
</table>
<% end %>

<h3>Your Reply</h3>
<% form_tag( {:action => 'submit_post'}, {:class => 'form-horizontal'} ) do %>
  <%= hidden_field_tag 'topic', @topic.id %>
  <%= hidden_field_tag 'parent', @parent.id %>
  <%= render :partial => 'post_form' %>
  <%= submit_tag "Submit Reply", :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', {:action => 'read', :id => @parent.id}, {:class => 'btn'} %>
<% end %>
