<div class="row-fluid">
 <div class="span12">
  <div class="btn-toolbar">	
   <div class="btn-group">
     <% if @topic.allow_posts %><%= link_to '<i class="icon-plus-sign"></i> New Post ', {:action => 'new_post', :topic => @topic.id, :course => @course}, {:class => 'btn btn-success'} %><% end %>
 </div>
 <div class="btn-group">	
	<% if @topic.is_watching(@user) %>
	  <%= link_to '<i class="icon-eye-close"></i> Stop Watching Forum ', {:action => 'stop_watch', :id => @topic}, {:class => 'btn btn-danger'} %>
	<% else %>
	  <%= link_to '<i class="icon-eye-open"></i> Watch Forum ', {:action => 'watch', :id => @topic}, {:class => 'btn btn-success'} %>
	<% end %>
   </div>
   <div class="btn-group">
	<%= link_to '<i class="icon-list-alt"></i> All Topics ', {:action => nil, :topic => nil, :course => @course}, {:class => 'btn'} %>
   </div>
  </div>
 </div>
</div>		

<h2>Forum: <%= @topic.topic %></h2>

<% if @posts.size == 0 %>
 <p><i>There are no posts in this forum.</i></p>

<% else %>

<table class="table table-striped">
 <thead>
  <tr>
	  <th width="50%">Title</th>
	  <th>Topic Starter</th>
	  <th>Last Update</th>
	  <th>Replies</th>
	  <th>Last Post By</th>
	</tr>
 </thead>

  <% for post in @posts %>
    <tr id="post_<%=post.id%>">
	  <td align="left">
	    <% if post.hot? %><%= image_tag 'medal_gold_1.png' %>
	    <% elsif post.medium? %><%= image_tag 'medal_silver_1.png' %>
	    <% else %><%= image_tag 'medal_bronze_1.png' %><% end %>
	     <%= link_to "#{h post.headline}", :course => @course, :action => 'read', :id => post %></td>
	  <td align="left" nowrap="nowrap"><%= post.user.display_name %></td>
	  <td align="left" nowrap="nowrap"><%= distance_of_time_in_words_to_now( post.updated_at, true ) %> ago</td>
	  <td align="center" nowrap="nowrap">
		<% if post.replies.nil? %>0<% else %><%= post.replies%><% end %>
	  </td>
  	  <td align="center" nowrap="nowrap">
	    <% if post.last_user.nil? %> -
	    <% else %>
	      <%= post.last_user.display_name %>
	    <% end %>
	  </td>
	</tr>
  <% end %>
</table>

<% if @post_pages.page_count > 1 %>
<div class="pagination">
 <ul>
 <% 1.upto(@post_pages.page_count) do |i| %>
 <li <%= 'class="active"' if i == @page %>>
     <%= link_to i, { :page => i } %>
 </li>
 <% end %>
 </ul>
</div>
<% end %>


<% end %>