<% if @course.course_setting.enable_rss %>
<h4>Subscribe to this course's RSS feed</h4>
<p>
Want to be notified any time there is a new document, announcement, or assignment posted? <%= link_to "Subscribe to this course's RSS feed. <i class=\"icon-fire\"></i>", :controller => 'feed', :action => 'subscribe', :course => @course %>
(<%= link_to "What is RSS?", "http://www.google.com/support/feedburner/bin/answer.py?answer=79408", :popup => true %>)
</p>
<% end %>

<h4>Course Information</h4>
<ul class="unstyled">
 <li><strong>Course:</string> <%=h @course.title %></strong></li>
 <li><strong>Instructor<%= 's' if @course.instructors.size > 1 %>:</strong>
  <ul>
 <% for instructor in  @course.instructors %>
   <li><img src="<%= instructor.gravatar_url(request.ssl?) %>" align="middle" /> <%= instructor.to_s %></li>
 <% end %>
  </ul>
 </li>
<% tas = @course.assistants %>
<% if tas.size > 0 %>
 <li><strong>Assistant(s):</strong>
  <ul>
 <% for assistant in  tas %>
    <li><img src="<%= assistant.gravatar_url(request.ssl?) %>" align="middle" /> <%= assistant.to_s %></li>
 <% end %>
  </ul>
 </li>
<% end %>
<% if @course.course_information %>
 <li><strong>Days:</strong> <%=h @course.course_information.meeting_days %></li>
 <li><strong>Time:</strong> <%=h @course.course_information.meeting_time %></li>
 <li><strong>Room:</strong> <%=h @course.course_information.room %></li>
 <li><strong>Office Hours:</strong> <%=h @course.course_information.office_hours %></li>
<% end %>
</ul>
