<% form_tag( {:action => 'change_term'}, {:class => 'well form-inline'} ) do  %>
<legend><h3>Select the term for your new course</h3></legend>
<% if @isLdap %>
Selecting the appropriate term will allow you to pick from any available CRNs in the system.
You can enter a new CRN if the one for your course is not available.
<% end %>
<%= select_tag 'id', options_from_collection_for_select(@terms, "id", "semester", @createTerm.id ) %> 
<%= submit_tag( 'Change Term', :class => 'btn-small btn-warning' ) %>
<% end %><br/>

<% form_tag( {:action => 'create'}, {:class => 'form-horizontal'} ) do %>
<legend><h3>Create a New Course</h3></legend>
<%= hidden_field_tag('term', @term.id) %>
<%= error_messages_for 'course', :class => 'alert alert-error' %>
<fieldset>
 <div class="control-group <%= error_class_for(@course, 'title') %>">
    <label for="course_title" class="control-label">Title:</label>
    <div class="controls">
     <%= text_field 'course', 'title' %>
     <p class="help-block">Course title is the short title (course number). For example, 'CSA101'.</p>
    </div>
 </div>
 <div class="control-group <%= error_class_for(@course, 'short_description') %>">
    <label for="course_short_description" class="control-label">Description:</label>
    <div class="controls">
     <%= text_field 'course', 'short_description' %>
     <p class="help-block">Description is a more formal course title. For example 'Introduction to Computer Science'.</p>
    </div>
 </div>


<% if @isLdap %>
 <div class="control-group">
   <label for="crn" class="control-label">CRN:</label>
   <div class="controls">
    <%= text_field_tag 'crn', @crn %> 
    <p class="help-block">The CRN number is used for auto-enrollment. A course can exist without one entered, but it is recommended to enter one.   Use the full CRN number, for example '20063012345' to represent course number '12345' in term '200630'.  If a course has multiple CRN numbers, you should create a course with each, and then combine the courses (for example a cross-listed graduate/undergraduate course) as this will preserve  both course numbers. <strong>If there are CRNs below that match your course, it is better to select them instead.</strong></p>
   </div>
 </div>


<table class="table table-condensed table-stribed"> 
 <% 0.upto(@column1.size-1) do |i| %>
 <% odd = "odd"
	odd = "even" if i.even?
  %>
  <tr>
	<td>
	  <% if @column1[i].courses.empty? %><%= check_box_tag("crn_#{@column1[i].id}") %><% end %>
	  <%= @column1[i].crn %> / <%= @column1[i].name %> - <%= @column1[i].title %></td>
	<td><% unless @column2[i].nil? %>
	  <% if @column2[i].courses.empty? %><%= check_box_tag("crn_#{@column2[i].id}") %><% end %>
	  <%= @column2[i].crn %> / <%= @column2[i].name %> - <%= @column2[i].title %>
	<% end %></td>
  </tr>
 <% end %>
</table>
<% end %>

<%= submit_tag "Create", :class => 'btn btn-primary' %>
<% end %>
</<fieldset>


  
