<h2>Student turn-ins for '<%= @assignment.title %>'</h2>
<h3>Course: <%= @course.title %> (<%= @course.term.semester%>)</h3>

<p>
<%= link_to "Edit Rubrics for this assignment", :controller => '/instructor/rubrics', :course => @course, :assignment => @assignment %> |
<%= link_to 'Back to all assignments', :course => @course, :assignment => nil, :controller => '/instructor/course_assignments' %>

<% unless @grade_item %>
<p><i>Warning - this assignment is not connected with an entry in the GradeBook.</i></p>
<% end %>

<% if @assignment.released %>
<div class="GoodMessage">Comments entered on files and assignments are available to students.  (<%= link_to 'change', :action => 'toggle_released', :course => @course, :assignment => @assignment %>)</div>
<% else %>
  <div class="errorExplanation">Comments entered on files and assignments are NOT available to students.  (<%= link_to 'change', :action => 'toggle_released', :course => @course, :assignment => @assignment %>)</div>
 <% if @assignment.auto_grade %>
  <div class="standout"><%= link_to "#{image_tag 'bug.png'} Rerun AutoGrade for ALL students in this class.", :course => @course, :assignment => @assignment, :action => 'autograde_all' %></div>
 <% end %>

<% end %>

<ul>
<% if( (@assignment.use_subversion || @assignment.enable_upload) &&  @any_turnins  ) %>
  <li><%= image_tag 'page_white_compressed.png' %> <%= link_to "Download all student files.", {:action => 'download_all_files', :course => @course, :assignment => @assignment }, :confirm => "Press OK to gather and download students files.  This make take several minutes depending on class size." %></li>
<% end %>
<% if ( @assignment.programming )%>
  <li><%= image_tag 'table_relationship.png' %> Look for similarities in submissions: 
	<% form_tag( {:action => 'diff_count', :course => @course, :assignment => @assignment, :id => nil} ) do %>
		File Extension: <%= select_tag 'extension', options_for_select(@textfiles,'java') %>
		Max Differences: <%= select_tag 'diffcount', options_for_select(@diffsize,@count) %>
		<%= submit_tag 'Look for differences' %>
	<% end %>
	</li>
<% end %>
<% if @assignment.rubrics.size > 0 %>
  <li><%= image_tag 'layout_content.png', :align => 'absmiddle' %> <%= link_to 'Rubrics Report', :action => 'rubrics', :course => @course, :assignment => @assignment %></li>
<% end %>

</ul>

<% if @course.course_setting.enable_project_teams %>
 <% if @assignment.team_filters.size > 0 %>
   <div class="errorExplanation">This assignment uses team filters, so not all students have it available.</div>
 <% end %>
<% end %>

<% form_tag( :controller => '/instructor/turnins', :action => 'save_all_grades', :course => @course, :assignment => @assignment, :id => nil ) do %>

<% if @grade_item %>
<p><i>When entering grades, you can enter a grade less than zero to remove the entry all together.  If you leave the field blank, no change will be made.</i></p>
<% end %>

<table class="fancy">
  <tr class="header">
    <th valign="bottom">&nbsp;</th>
    <th valign="bottom">Student</th>
    <th valign="bottom">ID</th>
    <% if @assignment.team_project %>
      <th valign="bottom">Team</th>
    <% end %>

    <% if @assignment.use_subversion && @assignment.programming %>
      <th valign="bottom">SVN Repo</th>
    <% end %>

    <% if (@assignment.use_subversion && @assignment.programming) || @assignment.enable_upload %>
      <th valign="bottom">Files Submitted @</th>
    <% end %>
    <% if @assignment.enable_journal %>
      <th valign="bottom">Journals</th>
    <% end %>

	<% if @grade_item %>
	  <th valign="bottom">Grades (<%= @grade_item.points %> points)</th>
	<% end %>
	<% if @assignment.auto_grade %>
	  <th>AutoGrade Results</th>
	<% end %>

    <th valign="bottom">View / Grade</th>
    <th valign="bottom">
		Assignment Due:<br/> <%= @assignment.due_date.to_formatted_s(:long) %><br/>
		<% if @assignment.due_date !=   @assignment.close_date %>
		  Late Turnin Date:<%= @assignment.close_date.to_formatted_s(:long) %><br/>
		<% end %>
	View/Grant Extensions</th>
  </tr>

  <% count = 0 %>
  <% for student in @students %>
    <% count = count.next 
	   odd = "odd"
	   odd = "even" if count.even?
  	%>

    <% block = false 
       if @course.course_setting.enable_project_teams && @assignment.team_filters.size
	     unless @assignment.enabled_for_students_team?( student.id )
		   block = true
		 end
	   end
    %>

	<tr class="<%=odd%> hover" id="student_<%=student.id%>">
      <td><img src="<%=student.gravatar_url(request.ssl?) %>" /></td>
      <td align="left" nowrap="nowrap"><%=h student.display_name %></td>
      <td align="left"><%=h student.uniqueid %></td>

      <% if block 
         colspan = 2
	     colspan = colspan + 1 if (@assignment.use_subversion && @assignment.programming) || @assignment.enable_upload 
	     colspan = colspan + 1 if @assignment.enable_journal 
         colspan = colspan + 2 if @grade_item 
        %>
         <td colspan="<%= colspan %>" align="center">not available for student's team.</td>
      <% else %>

	  <% if @assignment.team_project %>
	    <td>
	      <% unless @team_members[student.id].nil? %>
	        <%= "#{@team_members[student.id].name} (#{@team_members[student.id].team_id})" %>
	      <% else %>
	        <%= image_tag 'error.png' %>
	      <% end %>
	    </td>
	  <% end %>

	  <% if (@assignment.use_subversion && @assignment.programming) && @assignment.team_project %>
	    <td><a href="<%=@assignment.subversion_server%><%=@assignment.development_path_replace( student.uniqueid, @team_members[student.id] )%>" target="_blank">dev</a> | <a href="<%=@assignment.subversion_server%><%=@assignment.release_path_replace( student.uniqueid, @team_members[student.id] )%>"  target="_blank">rel</a></td>
	  <% elsif (@assignment.use_subversion && @assignment.programming) %>
	    <td><a href="<%=@assignment.subversion_server%><%=@assignment.development_path_replace( student.uniqueid )%>" target="_blank">dev</a> | <a href="<%=@assignment.subversion_server%><%=@assignment.release_path_replace( student.uniqueid )%>"  target="_blank">rel</a></td>
	  <% end %>

      <% if (@assignment.use_subversion && @assignment.programming) || @assignment.enable_upload %>
        <td nowrap="nowrap"><% if @turnin_sets[student.id].nil? %>No
	        <% else %>
	          <%= @turnin_sets[student.id].updated_at.to_formatted_s(:short) %>
	        <% end %>
        </td>
      <% end %>
      <% if @assignment.enable_journal %>
        <td><%= pluralize( @journal_count[student.id], 'Journal') %></td>
      <% end %>

	  <% if @grade_item %>
		<td align="right">
		  <% unless @grades[student.id] %>
		    <acronym title="no grade entered"><%= image_tag 'bullet_error.png' %></acronym>
	      <% end %>
		  <% value = '' 
		     value = sprintf("%0.1f", @grades[student.id]) unless @grades[student.id].nil?
		   %>
	 	  <%= text_field_tag "grade_#{student.id}", value, :size => 5 %> / <%= @grade_item.points %>
	 	</td>
	  <% end %>
	  <% if @assignment.auto_grade %>
	    <td>
		<% if !@assignment.auto_grade_setting.nil? && @assignment.auto_grade_setting.io_check? %>
		  <%= link_to_remote( "Summary", :update => "agsummary_#{student.id}",
		    :url => { :action => "agsummary", :id => student.id, :course => @course, :assignment => @assignment }, :success => visual_effect(:toggle_slide, "agsummary_#{student.id}" ) ) %><br/>
		<% end %>
		<% if !@assignment.auto_grade_setting.nil? && (@assignment.auto_grade_setting.io_check? || @assignment.auto_grade_setting.check_style?) %>
		  <%= link_to 'Full Report', { :controller => '/instructor/turnins', :action => 'view_io_tests', :course => @course, :assignment => @assignment, :student => student.id }, :popup => true %>
		<% end %>
		</td>
	  <% end %>

      <td>
        <%= link_to "Grade / View Files / Journals", :action => 'view_student', :id => student, :course => @course, :assignment => @assignment %>
      </td> 

      <td align="center"> 
	    <% extension = @assignment.extension_for_user( student ) %>
	    <% if extension.nil? %>
	      <%= link_to 'Grant', :action => 'grant', :assignment => @assignment, :course => @course, :id => student.id %>
	    <% else %>
	      <%= extension.extension_date.to_formatted_s(:long) %> <br/>
	      <%= link_to 'Edit Grant', :action => 'grant', :assignment => @assignment, :course => @course, :id => student.id %> |
	      <%= link_to 'Revoke', :action => 'revoke', :assignment => @assignment, :course => @course, :id => student.id %> 
	    <% end %>
	  </td>
	  <% end %>
    </tr>
	
	<tr id="<%="agsummary_#{student.id}"%>"> 
	  
    </tr>
  <% end %>

  <% if @grade_item %>
  <tr class="none">
	<td colspan="2" class="none">&nbsp;</td>
	<% if (@assignment.use_subversion && @assignment.programming) || @assignment.enable_upload %><td class="none">&nbsp;</td><% end %>
	<% if @assignment.enable_journal %><td class="none">&nbsp;</td><% end %>
    <% if @grade_item %>
      <td colspan="2" class="none">
	    <%= submit_tag "Save All Grades" %>
	  </td>
    <% end %>
    <td class="none">&nbsp;</td>
    <td class="none">&nbsp;</td>
  </tr>
  <% end %>

</table>

<% end %>
