<div class="row-fluid"><div class="span12">
<h2>'<%= @assignment.title %>' turn-ins for '<%= @student.display_name %>'</h2>

 <div class="btn-group">
<%= link_to "Back turn-in for #{@student.display_name}", {:controller => '/instructor/turnins', :action => 'view_student', :course => @course, :assignment => @assignment, :id => @student}, {:class => 'btn'} %>
 </div>
</div></div>

<div class="row-fluid">
 <div class="span12">
  <%= render :partial => 'utf_gradable' %>
 </div>
</div>

<% if false && @utf.main %>
<div class="row-fluid"><div class="span12"><div class="well">
<p>This file is marked as the Java main class for this turn-in.   This gives you the option to simply compile and run this single file.  If you need to pull in more source files, consider configuring AutoGrade for this assignment.</p>
<p>Before compiling and running this file - please check the file for malicious code (deletion/creation of files, network usage, System.exec, infinite loops). <strong>Code that expects more input than is provided will not terminate.</strong></p>

<% form_tag( {:course => @course, :assignment => @assignment, :student => @student, :action => 'view_file', :id => @utf }, {:onsubmit => "new Element.toggle('button');new Element.toggle( 'spinner');", :class => 'form-inline' } ) do %>
  <%= hidden_field_tag 'execute_java', true %>
  <%= text_field_tag 'command_line_arguments', @command_line_arguments, {:class => 'input-xlarge', :placeholder => 'Command line arguments' }%>
  <%= text_area_tag 'standard_in', @standard_in, {:rows => 5, :class => 'input-xlarge', :placeholder => 'Standard In'} %>
  
 <div id='button'><%= submit_tag 'Compile and Execute this file', :class => 'btn btn-primary' %></div>
 <div id='spinner' style="display:none;"><%= image_tag 'spinner.gif' %></div>
<% end %>
</div></div></div>
<% end %>

<% if @display_java_execute %>
<div class="standout" id="execute_java_results">
<p><b>Compiler output:</b><br/>
	<%= @compile_out.gsub(/\n/, "<br/>" ).gsub(/ /,'&nbsp;') %> 
</p>

<% if @compile_success %>
<p><b>Execution Output:</b><br/>
<code>
<%= @execute_out_html %> 
</code>
</p>
<% else %>
<p><i>There was an error during compilation - execution was aborted.</i></p>
<% end %>

</div>
<% end %>

<% unless @expand %>
  <p><%= link_to "Expand all comments / style guide", :action => 'view_file', :course => @course, :assignment => @assignment, :student => @student, :id => @utf, :expand => true %></p>
<% else %>
  <p><%= link_to "Collapse all comments / style guides", :action => 'view_file', :course => @course, :assignment => @assignment, :student => @student, :id => @utf, :expand => nil %></p>
<% end %>
<table class="table-compact codetable" cellpadding="0" cellspacing="0" width="99%">
  <tr class="header">
   <th nowrap="nowrap" width="30px">Line#</th>
   <th class="has_comment" nowrap="nowrap" width="50px">Comments</th>
   <th class="has_style" nowrap="nowrap" width="50px">Style</th>
   <th align="center" nowrap="nowrap">Line from file</th>
  </tr>

  <% line_num = 0 %>
  <% for line in @lines %>
    <% line_num = line_num.next 
	   odd = "odd"
	   odd = "even" if line_num.even?
  	%>
	<tr class="<%=odd%> hover" id="line_<%=line_num%>">
	  <td align="right" nowrap="nowrap" <%= 'class="has_comment"' if @comments[line_num] %>><%=line_num%></td>
	  <td align="center" id="status_<%=line_num%>" <%= 'class="has_comment"' if @comments[line_num] %>>
	    <% if @comments[line_num] %>
	      <%= link_to_function "view", visual_effect(:toggle_slide, "comments_line_#{line_num}" ) %>
	    <% else %>
	      <%= link_to_function "new", visual_effect(:toggle_slide, "comments_line_#{line_num}" ) %>	      
	    <% end %>
	  </td>
	    <% style_color = ""
		   if @styles[line_num]
	         style_color = "has_style" 
	         for fs in @styles[line_num]
		       style_color = "hidden_style" if fs.suppressed
		     end
	       end
	     %>
	
	  <td align="center" id="style_<%=line_num%>" <%= "class=\"#{style_color}\"" if @styles[line_num] %>>
		<% if @styles[line_num] %>
		  <%= link_to_function "view - #{@styles[line_num].size}", visual_effect(:toggle_appear, "style_line_#{line_num}") %>
		<% end %>
	  </td>
      <td><code><%= line %></code></td>
    </tr>
  
    <% comment_style = 'display: none;'
       if @comments[line_num] && @expand 
	     comment_style = ''
       end %>
    <tr id="comments_line_<%=line_num%>" style="<%= comment_style %>">
      <td colspan="4" class="formcell">
 		<% form_remote_tag( :url => { :controller => "/instructor/turnins", :action => "file_comment", :course => @course, :assignment => @assignment, :student => @student, :id => @utf.id }, :success => "new Effect.Highlight( 'line_#{line_num}' );", :failure => "alert('There was an error saving the comment for line #{line_num}, please refresh the page.');", :update => "status_#{line_num}" ) do %>
           <%= hidden_field_tag 'line', line_num.to_s %>
           <% if @comments[line_num] %>
             <i>Comment by <%= @comments[line_num].user.display_name %></i><br/>
             <%= text_area_tag 'comments', @comments[line_num].comments, {:class => 'input-xlarge', :rows => 5} %> 
           <% else %>
             <%= text_area_tag 'comments', '', {:class => 'input-xlarge', :rows => 5, :placeholder => 'Your Comment'}%>
           <% end %>
           <%= submit_tag "Save Comments for line #{line_num}", :class => 'btn btn-primary' %>
        <% end %>
      </td>
    </tr>
    <% if @styles[line_num] %>
      <% style_style = 'display: none;'
        if @expand 
          style_style = ''
        end %>
      <tr id="style_line_<%=line_num%>" style="<%= style_style %>">
	    <td colspan="4" class="<%= style_color %>">
		   	<% for fs in @styles[line_num] %>
	            <div class="codestyle">
		           <i>PMD Code Style:</i> From line <%= fs.begin_line %>:<%= fs.begin_column %> to line <%= fs.end_line %>:<%= fs.end_column %><br/>
		           <% if fs.suppressed %>
		              <%= image_tag 'exclamation.png' %> - Currently suppressed in student view.
		           <% else %>
		              <%= image_tag 'accept.png' %> - Visible to student.
		           <% end %>
		
		<%= link_to_remote( "Toggle", :url => { :controller => '/instructor/turnins', :action => 'toggle_style_item', :course => @course.id, :assignment => @assignment, :id => @utf.id, :line => line_num, :file_style => fs.id }, :update => "style_line_#{line_num}" ) %>
		
		           <ul>
			         <li><b><%= fs.message %></b></li>
			         <li><b>Explanation:</b> <%= fs.style_check.description rescue '<b>unavailable</b>' %> </li>
			         <li><b>Example:</b></li>
			       <ul>
				   <div class="code_example" id="example_<%=fs.id%>" >
					     <%= fs.style_check.example rescue '<b>unavailable</b>' %>
				   </div>
		        </div>
	        <% end %>
		</td>
	  </tr>
    <% end %>
  <% end %>

</table>
<br/>
<div class="btn-group"><%= link_to "Back turn-in for #{@student.display_name}", {:controller => '/instructor/turnins', :action => 'view_student', :course => @course, :assignment => @assignment, :id => @student}, {:class => 'btn'} %></div>