<h2>'<%= @assignment.title %>' turn-ins for '<%= @student.display_name %>'</h2>
<h3>Course: <%= @course.title %> (<%= @course.term.semester%>)</h3>

<p><%= link_to 'Back to all students', :controller => '/instructor/turnins', :course => @course, :assignment => @assignment %> |
   <%= link_to "Grade overview for #{@student.display_name}", :controller => '/instructor/course_gradebook', :action => 'for_student', :course => @course, :id => @student.id %>
	</p>

<!-- team -->
<% if @assignment.team_project %>
<div class="SectionHeader"><div class="Full">
  <h2>Project Team Details</h2>
</div></div>
<div class="Section">
	<p><%= image_tag 'group.png' %><b>This is a group project, turn-ins are shared.</b><br/>
  <% if @team.nil? %>
    <i>This student is NOT assigned to a project group.</i>
  <% else %>
    <b>This student is a member of <%= @team.name %> (<%= @team.team_id %>)</b>, all members:<br/>
		       <ul>
		         <% for tm in @team.team_members %>
		           <li><%= tm.user.display_name %> - <%= tm.user.email %></li>
		         <% end %>
		       </ul>
  <% end %>
  <p>
</div>
<% end %>

<!-- files -->
<div class="SectionHeader"><div class="Full">
  <h2>Turn-in Set</h2>
</div></div>
<div class="Section">
	
<% if @display_turnin %>

<% if @display_turnin.id == @current_turnin.id %>
  <div class="GoodMessage">This is the student's most recent turn-in set.</div>
<% else %>
  <div class="errorExplanation">This is NOT the student's final turn-in set.  You most likely do not want to grade these files.</div>
<% end %>

<p><b>Turn-in set</b><br/>
Originally Submitted: <%= @display_turnin.created_at.to_formatted_s(:friendly_date) %><br/>
Last Updated: <%= @display_turnin.updated_at.to_formatted_s(:friendly_date) %><br/>
</p>

<p><b>Download entire turn-in set:</b> <%= link_to 'as tar file', :course => @course, :assignment => @assignment, :controller => 'instructor/turnins', :action => 'download_set', :id => @display_turnin.id %></p>

<% if @display_turnin.id == @current_turnin.id && @current_turnin.user_turnin_files.size == 1 && @turnins.size > 1 %>
<div class="errorExplanation">This student's current turn-in set does not have any files in it, and there are previous turn-in sets.  You may <%= link_to 'rollback to the previous turn-in set', :controller => 'instructor/turnins', :action => 'rollback', :course => @course, :assignment => @assignment, :student => @student, :id => @student %></div>
<% end %>
</div>

<% parent_spaces = Hash.new 
   parent_spaces[0.to_s] = 0
   any_java = @display_turnin.any_java_files?
%>
<table class="fancy">
  <tr class="header">
    <th valign="bottom">File</th>
	<th valign="bottom">Date</th>
	<% if @assignment.programming %>
	  <th valign="bottom">Main?</th>
	  <% if any_java %>
	    <th valign="bottom">Clean Java?</th>
	    <th valign="bottom">Instructor<br/> Override?</th>
	  <% end %>
	<% end %>
	<th valign="bottom">Download</th>
	<th valign="bottom">Review / Comment</th>
	<% if @team %>
	  <th valign="bottom">Submitter</th>
	<% end %>
  </tr>

<% count = 0 %>
<% previous_tif = nil %>
<% for @tif in @display_turnin.user_turnin_files %>
  <% count = count.next 
     odd = "odd"
     odd = "even" if count.even?
   %>
  <tr class="<%=odd%> hover" id="user_turnin_file_<%=@tif.id%>">
    
    <% 

       if @tif.directory_entry 
	     parent_spaces[@tif.id.to_s] = parent_spaces[@tif.directory_parent.to_s] + 1
       end %>


    <% spaces = ''
       if @tif.directory_entry
         upper = parent_spaces[@tif.id.to_s] - 1
       else
	     upper = parent_spaces[@tif.directory_parent.to_s]
       end
       1.upto(upper*3) { |i| spaces = "&nbsp;#{spaces}" }
     %>
    <td nowrap="nowrap">
      <%= spaces %>    
      <%= image_tag "#{@tif.icon}", :align => 'absmiddle' %>
      <%=h @tif.filename %> 
    </td>
    <td nowrap="nowrap"> <i><%= @tif.created_at.to_formatted_s(:short) %></i> </td>
    <% if @assignment.programming %>
      <td>
		<% if @tif.main %>
	      <acronym title="This is the class that will be run when graded."><%= image_tag 'accept.png' %> <b>Current</b></acronym>
	    <% elsif @tif.main_candidate && ! (@display_turnin.sealed || @display_turnin.finalized) %>
	      <acronym title="Make this the main class when grading.">
	        <%= link_to "#{image_tag 'add.png'} Select", :action => 'change_main', :course => @course, :assignment => @assignment, :id => @student, :tif => @tif %>
	         </acronym>
	    <% end %>	
	  </td>
	
	   <% if any_java %>
	    <td>
		  <% if @tif.extension.eql?('java') ## will need to expand later w/ other languages %>
		    <% if @tif.gradable %>
		      <%= image_tag 'accept.png' %> 
		    <% else %>
		      <%= image_tag 'cross.png' %> <b><%= link_to_function "Details", visual_effect(:toggle_appear, "dirty_details_#{@tif.id}" ) %></b>
		    <% end %>
		  <% end %>
		</td>
		<td>
		  <% if @tif.extension.eql?('java') ## will need to expand later w/ other languages %>
		    <% if ! @tif.gradable %>
		      <% if @tif.gradable_override %>
		        <%= image_tag 'accept.png' %> Yes
		      <% else %>
		        <%= image_tag 'cross.png' %> No
		      <% end %>
		    <% end %>
		  <% end %>
		</td>	
	  <% end %>
	
    <% end %>

    <td>
     <% if @tif.directory_entry %>
       <s>Download</s>
     <% else %>
       <%= link_to 'Download', :course => @course, :assignment => @assignment, :controller => 'instructor/turnins', :action => 'download_file', :id => @tif.id %>
     <% end %>
    </td>
  
    <td>
      <% if @tif.directory_entry %>
        &nbsp;
      <% else %>
        <% if @tif.is_text_file? %>
          <%= link_to 'View/Comment', :controller => 'instructor/turnins', :action => 'view_file', :course => @course, :assignment => @assignment, :student => @student, :id => @tif %>
        <% else %>
          <%= link_to 'Download', :controller => 'instructor/turnins', :action => 'download_file', :course => @course, :assignment => @assignment, :student => @student, :id => @tif %>
        <% end %>
      <% end %>
    </td>

    <% if @team %>
    <td>
      <%= @tif.user.display_name %>
    </td>
    <% end %>

  </tr>

  <% if any_java && @tif.extension.eql?('java') && !@tif.gradable %>
    <tr style="display: none;" id="dirty_details_<%=@tif.id%>">
	  <td colspan="5">
		 <p><b>Can not AutoGrade your assignment because '<%= @tif.filename %>' it contains the following disallowed strings.</b></p>
	    <p><% unless @tif.gradable_message.nil? %><%= @tif.gradable_message.to_html %><% end %></p>
	  </td>
	</tr>
  <% end %>

  <% previous_tif = @tif %>
<% end %>
</table>

<% else %>
  <p><i>No files submitted</i></p>
<% end %>

<!-- AutoGrade area -->
<% if !@assignment.auto_grade_setting.nil? && @assignment.auto_grade_setting.io_check? ## Only kind of autograde supported %>
 <div class="SectionHeader"><div class="Full"> 
   <h2>AutoGrade Results</h2>
 </div></div>

 <div class="Section">
    <p><%= link_to "View I/O Check results for #{@student.display_name}.", :course => @course, :assignment => @assignment, :student => @student, :action => 'view_io_tests', :controller => 'instructor/turnins' %> <b>From this screen you can also re-run the automatic tests.</b></p>
 </div>

<% elsif @assignment.auto_grade && !@assignment.auto_grade_setting.nil? && @assignment.auto_grade_setting.check_style? %>
<div class="SectionHeader"><div class="Full"> 
  <h2>PMD Control</h2>
</div></div>

<div class="Section">
	<p><%= image_tag 'flag_green.png' %><%= link_to 'Re-run PMD checks for the current turn-in set.', :course => @course, :assignment => @assignment, :student => @student, :controller => 'instructor/turnins', :action => 'io_retest' %></p>
</div>

<% end %>


<!-- begin grade area -->
<div class="SectionHeader"><div class="Full">
  <h2>Grade</h2>
</div></div>

<% unless @grade_item %>
<p><i>Warning - this assignment is not connected with an entry in the GradeBook.</i></p>
<% else %>
  <div id="form_area">
  <% form_tag( {:controller => 'instructor/turnins', :action => 'submit_grade', :id => @student, :course => @course, :assignment => @assignment}, {:name=>"gradeForm"} ) do %>
    <%= error_messages_for 'grade_entry' %>    

	<p class="blockintro">You can enter general assignment comments here.   You also have the ability to comment on individual files below as well as to make annotations tied to specific line numbers for text files.   <b>If you enter a negative point value, the student's grade for this assignment will be deleted (including the comments entered below).</b> Leaving the points value blank, results in a score of zero.
   <% if @assignment.rubrics.size > 0 %><br/>
      <b>This assignment contains defined rubrics</b>, so they are displayed first.
   <% end %>	
  </p>
	<div class="block">
    
<% if @assignment.rubrics.size > 0 %>
  <p><b>Rubrics for this assignment</b><br/>
  <ul><% for rubric in @assignment.rubrics %>
    <li><b><%=h rubric.primary_trait %></b></li>

<% pointValue = 0
   pointValue = rubric.no_credit_points if @rubric_entry_map[rubric.id].no_credit
   pointValue = rubric.part_credit_points if @rubric_entry_map[rubric.id].partial_credit
   pointValue = rubric.full_credit_points if @rubric_entry_map[rubric.id].full_credit
   pointValue = rubric.above_credit_points if @rubric_entry_map[rubric.id].above_credit
%>

<% javascript_tag :defer => 'defer' do %>
var cur_rubric<%=rubric.id%>_value = <%= pointValue %>;

function update_rubric_<%=rubric.id%>_to( newValue ) {
  var oldValue = cur_rubric<%=rubric.id%>_value;
  var curTotalValue = parseInt( document.getElementById("grade_entry_points").value )
  if (isNaN( curTotalValue )) {
    document.getElementById("grade_entry_points").value = newValue;
  } else {
    document.getElementById("grade_entry_points").value = curTotalValue - oldValue + newValue;
  }
  cur_rubric<%=rubric.id%>_value = newValue;
}
<% end %>

    <ul>
	  <% unless rubric.above_credit_criteria.nil? %>
	    <li><%= radio_button_tag( "rubric_#{rubric.id}", 'above', @rubric_entry_map[rubric.id].above_credit, :onclick => "update_rubric_#{rubric.id}_to( #{rubric.above_credit_points} )" )%><b>Expert:</b> 
			  <%=h rubric.above_credit_criteria %> (<%=h rubric.above_credit_points%> points)
	  <% end %>	
	  <li><%= radio_button_tag( "rubric_#{rubric.id}", 'full', @rubric_entry_map[rubric.id].full_credit, :onclick => "update_rubric_#{rubric.id}_to( #{rubric.full_credit_points} )" )%><b>Proficient:</b>
		  <%=h rubric.full_credit_criteria %> (<%=h rubric.full_credit_points%> points)</li>
	  <li><%= radio_button_tag( "rubric_#{rubric.id}", 'partial', @rubric_entry_map[rubric.id].partial_credit, :onclick => "update_rubric_#{rubric.id}_to( #{rubric.part_credit_points} )" )%><b>Apprentice:</b>
	      <%=h rubric.part_credit_criteria %> (<%=h rubric.part_credit_points%> points)</li>
	  <li><%= radio_button_tag( "rubric_#{rubric.id}", 'no', @rubric_entry_map[rubric.id].no_credit, :onclick => "update_rubric_#{rubric.id}_to( #{rubric.no_credit_points} )" )%><b>Novice:</b>
	      <%=h rubric.no_credit_criteria %> (<%=h rubric.no_credit_points%> points)</li>
	  <li>Comments:<br/>
		 <%= text_area_tag("rubric_#{rubric.id}_comments", @rubric_entry_map[rubric.id].comments, { "cols" => 80, "rows" => 7 } ) %>
		 </li>
	</ul>
  <% end %></ul>
  </b></p>	
  <hr/>
<% end %>				
		
	  <p><label for="document_title">Points:</label>
	  <%= text_field 'grade_entry', 'points', :size => 10  %> / <%= sprintf("%0.1f", @grade_item.points ) %>
          <% if @assignment.team_project && !@team.nil? %>
             <br/><%= check_box_tag( 'apply_to_team', true, @apply_to_team )%> Apply grade and comments to all team members.
          <% end %> 
      </p>

      <p><label for="document_comments">General comments:</label><br/>
        <%= text_area 'grade_entry', 'comment', "cols" => 90, "rows" => 12, :class=>'short'  %><br/>
        <%= link_to_function "More room to type", "Form.Element.toggleHeight(this, 'grade_entry_comment'); return false;", :class => 'bottab more' %>
      </p>

    </div>

  	<div class="submit">
	  <div id="button">
	     <%= submit_tag "Save Grade" %>
	     <%= submit_tag "Save Grade and Go to Next Student"%>
	  </div>
	</div>
  <% end %>
  </div>

<% end %>
<!-- END GRADE AREA -->

<!-- journals -->


<% if @assignment.enable_journal %>
<div class="SectionHeader"><div class="Full">
  <h2>Assignment Journals</h2>
</div></div>
<% if !@assignment.team_project || @team.nil? %>
	<% if @journals.size == 0 %>
	  <p><i>This student has not submitted any journal entries.</i></p>
	<% else %>
  	  <p><b>Reported Time:</b> <%= pluralize(@days,'day') %>, <%= pluralize(@hours,'hour') %>, <%= pluralize(@minutes,'minute') %>.

    <table cellpadding="0" cellspacing="0" class="fancy">
    <%= render :partial => 'journalheader' %>

    <% count = 0 %>
    <% for journal in @journals %>
	 <% count = count.next 
	     odd = "odd"
	     odd = "even" if count.even?
	   %>
 	 <%= render :partial => "journal", :locals => { :odd => odd, :journal => journal } %>
    <% end %>
    </table>

  <% end %>

<% else %>
  <!-- team journals -->
  <p><b>Displaying Journal entries for all team members</b></p>

  <% for tm in @team.team_members %>
    <p>Journals for <b><%= tm.user.display_name %></b></p>
	
	<% if @team_journals[tm.user.id].nil? || @team_journals[tm.user.id].size == 0 %>
	  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>This student has not submitted any journal entries.</i></p>
	<% else %>
      <table cellpadding="0" cellspacing="0" class="fancy">
      <%= render :partial => 'journalheader' %>

      <% count = 0 %>
      <% for journal in @team_journals[tm.user.id] %>
        <% count = count.next 
	     odd = "odd"
	     odd = "even" if count.even?
	     %>
 	     <%= render :partial => "journal", :locals => { :odd => odd, :journal => journal } %>
      <% end %>
      </table>	  
	<% end %>
	
  <% end %>

<% end %>
<% end %> <!-- end journals -->

<!-- previous turn-in sets -->
<div class="SectionHeader"><div class="Full">
  <h2>Previous Turn-in sets (read-only)</h2>
</div></div>
<div class="Section">

<p>Previous turn-in sets for <%= @student.display_name %>.   By selecting these previous turn-in sets you can view the files and AutoGrade reports to see how students progressed during development.  Any comments entered on previous turn-in sets are ultimately available to students as they browse their own turn-in history.</p>

<% if @assignment.auto_grade %>
 <% unless @assignment.auto_grade_setting.nil? %>
  <% if @assignment.auto_grade_setting.student_style || @assignment.auto_grade_setting.student_io_check || @assignment.auto_grade_setting.student_autograde %> 
    <div class="standout">
	  <p><%= image_tag 'information.png' %> This assignment has automatic grading enabled and is <b>limited to <%= @app['turnin_limit'] %> submissions per day.</b></p>
	  <p><%= @student.display_name %> has finalized <%= @today_count %> turn-in sets today, and may finalize <b><%= @remaining_count %>  more turn-in sets today.</b>   If the student requires additional turn-in sets, you may reopen the most recent turn-in set, allowing them to submit additional turn-in sets in a single day.</p>
	</div>
  <% end %>
 <% end %>
<% end %>

<table class="fancy">
  <tr class="header">
    <th>#</th>
    <th>Previous Set</th>
    <% if @team %><th>Creator</th><% end %>
    <th>View</th>
    <th>Archived</th>
    <th>Finalized</th>
    <th>Controls</th>
  </tr>

<% count = @turnins.size + 1 %>
<% for ut in @turnins %>
  <% count = count - 1  
     odd = "odd"
     odd = "even" if count.even?
   %>
  <tr class="<%=odd%> hover" id="user_turnin_<%=ut.id%>">
    <td align="right"><%= count %></td>
    <td><%=h ut.updated_at.to_formatted_s(:long) %>
      <% if ut.id == @current_turnin.id %><b>current</b> <%end%>
    </td>
    <% if @team %><td><%= ut.user.display_name %></td><% end %>
    <td><%= link_to 'View', :controller => 'instructor/turnins', :action => 'view_student', :course => @course, :assignment => @assignment, :id => @student, :ut => ut.id %></td>
    <td><% if ut.sealed %> <%= image_tag 'accept.png' %> <% else %> <%= image_tag 'cross.png' %> <% end %></td>
    <td><% if ut.finalized %> <%= image_tag 'accept.png' %> <% else %> <%= image_tag 'cross.png' %> <% end %></td>
    <td id="reopen_<%= ut.id %>">
	  <% if @current_turnin.id == ut.id && ut.finalized %>
	    <%= link_to  'Reopen (unfinalized)', :controller => '/instructor/turnins', :action => 'unfinalize', :course => @course.id, :assignment => @assignment, :id => @student %>
	  <% elsif @current_turnin.id == ut.id %>
	    Most recent turn-in - but not finalized.
	  <% else %>
	    --
	  <% end %>
	</td>
  </tr>
<% end %>
</table>
</div>

</div>
