<h2>Assignments for <%= @course.title %></h2>

<% if @assignments.size == 0 %>
  <p><i>There are no assignments at this time, please check back later.</i></p>
<% else %>

<script type="text/javascript">
function resizeContent() {
	width = document.getElementById('assignments').offsetWidth;
	alert( "starting width: " + width );
	newWidth = width + 50;
	alert( "div width" + document.getElementById('content').offsetWidth );
	document.getElementById('content').style.minWidth = newWidth + "px";
	alert( "div width" + document.getElementById('content').offsetWidth );
	marginLeft = newWidth + 25;
	document.getElementById('right').style.marginLeft = marginLeft + "px";
}

</script>

  <table class="fancy" id="assignments">
    <tr class="header">
	  <% if @instructor %>
	    <th>&nbsp;</th>
	    <th>Published</th>
	  <% end %>
	 
      <!-- <th>#</th> -->
      <th>Title</th>
      <th>Category</th>
      <% if !@public %><th colspan="2">Graded?</th><% end %>
      <th>Available</th>
      <th>Due</th>
     </tr>

    <% count = 0 %>
    <% for assignment in @assignments %>
      <% count = count.next 
	     odd = "odd"
	     odd = "even" if count.even?
	   %>
	  <tr class="<%=odd%> hover" id="assignment_<%=assignment.id%>">
		<% if @instructor %>
		  <td nowrap="nowrap"><%= link_to "#{image_tag 'page_edit.png', :align=>'absmiddle'}", :course => @course, :id => assignment, :controller => '/instructor/course_assignments', :action => 'edit' %></td>	
		  <td>
		  	<% 
			if assignment.visible 
			  img_url = image_tag('accept.png', :align => 'absmiddle')
			  status = 'yes'
			else
			  img_url = image_tag('cancel.png', :align => 'absmiddle')
			  status = 'no'
			end 
			%>
			<%= img_url %>
		  </td>
		<% end %>
		
		 <% user_completed_quiz = false 
	        if !@public && assignment.quiz 
	          user_completed_quiz = assignment.quiz.user_has_completed_attempt?(@user) 
            end %>
	<!--
	   <td align="right" valign="top">
          <% if assignment.quiz %>
            <% if @public %>
               <%= h count %>
            <% else %>
	          <% if user_completed_quiz %>
	            <%= link_to "#{h count}", {:controller => '/quiz', :action => 'start', :course => @course, :id => assignment}, :confirm => "You have already completed this quiz, are you sure you want to take it again?" %>
	          <% else %>
	            <%= link_to "#{h count}", :controller => '/quiz', :action => 'start', :course => @course, :id => assignment %>
	          <% end %>
	        <% end %>
		  <% else %>
		    <%= link_to "#{h count}", :action => 'view', :id => assignment %>
		  <% end %>
		</td>
	-->
	    <td valign="top" align="left" nowrap="nowrap">
	      <% if assignment.quiz %>
	        <% if @public %>
	          <%= h assignment.title %>
	        <% else %>
	          <% if user_completed_quiz %>
	            <%= link_to "#{h assignment.title}", {:controller => '/quiz', :action => 'start', :course => @course, :id => assignment}, :confirm => "You have already completed this quiz, are you sure you want to take it again?" %>
	          <% else %>
	            <%= link_to "#{h assignment.title}", :controller => '/quiz', :action => 'start', :course => @course, :id => assignment %>
	          <% end %><br/>
              <% if assignment.quiz.survey %><i>online survey</i><% else %><i>online quiz</i><% end %>
            <% end %>
	      <% else %>
	        <%= link_to "#{h assignment.title}", :action => 'view', :id => assignment %>
  		    <% if assignment.team_project %><%= image_tag 'group.png' %><% end %>
          <% end %>
		</td>
	    <td valign="top" align="left" ><%=h assignment.grade_category.category %></td>
	    <% if !@public %>
	    <td valign="top" nowrap="nowrap" align="right">
	      <% if assignment.released && !assignment.grade_item.nil? %>
	        <% if assignment.quiz.nil? %>
  	           <%= link_to 'Yes', :controller => '/turnins', :course => @course, :assignment => assignment, :action => 'feedback' %><%= image_tag 'lightbulb.png' %>
            <% elsif assignment.quiz.survey %>
               -N/A-
            <% else %>
               <%= link_to 'Yes', :controller => '/quiz', :action => 'results', :course => @course, :id => assignment %><%= image_tag 'lightbulb.png' %>
            <% end %>
	      <% else %>
	        <% if assignment.quiz.nil? %>
	          <%= link_to 'No', :controller => '/turnins', :course => @course, :assignment => assignment, :action => 'feedback' %> <%= image_tag 'lightbulb_off.png' %>
	        <% elsif assignment.quiz.survey %>
               -N/A-
	        <% else %>
	          <%= link_to 'No', :controller => '/quiz', :action => 'results', :course => @course, :id => assignment %><%= image_tag 'lightbulb_off.png' %>
	        <% end %>
	      <% end %>
	    </td>
	    <td nowrap="nowrap" align="right" valign="top">
	      <% if assignment.released && !assignment.grade_item.nil? %>
	        <% gi =  @user.grade_for_grade_item(assignment.grade_item) %>
	        <% if gi.nil? %>
	          <acronym title="no grade yet">__</acronym>/<%= assignment.grade_item.points %>
	        <% else %>
	          <%= gi.points %>/<%= assignment.grade_item.points %>
	        <% end %>
	      <% elsif !assignment.grade_item.nil? %>
	        <acronym title="no grade yet">__</acronym>/<%= assignment.grade_item.points %>
	      <% else %>
	        &nbsp;
	      <% end %>
	    </td>
	    <% end %>
	    <td nowrap="nowrap" valign="top" align="left" >
	      <% if assignment.upcoming? %><%= image_tag 'clock_error.png', :align => 'absmiddle' %>
	      <% elsif assignment.current? %><%= image_tag 'clock.png', :align => 'absmiddle' %>
	      <% else %><%= image_tag 'clock_red.png', :align => 'absmiddle' %>
	      <% end %>
	      <%= assignment.open_date.to_formatted_s(:long) %>
	    </td>
	    <td nowrap="nowrap" valign="top" align="left" >
	      <%= assignment.due_date.to_formatted_s(:long) %><br/>
	      <% unless assignment.past? %>
	        (<i><%= distance_of_time_in_words_to_now( assignment.due_date, true )%> from now</i>)
	      <% else %>
	        (<b><%= distance_of_time_in_words_to_now( assignment.due_date, true )%> ago</b>)
	      <% end %>
	
	      <% extension = nil
	         extension = assignment.extension_for_user(@user) if !@public rescue extension = nil %>
	      <% unless extension.nil? %>
	        <br/><b>EXTENSION GRANTED:</b><br/>
	        <% unless extension.past? %>
	          <%= image_tag 'clock.png', :align => 'absmiddle' %> <%= extension.extension_date.to_formatted_s(:long) %>
	          (<i><%= distance_of_time_in_words_to_now( extension.extension_date, true )%> from now</i>)
		    <% else %>
		      <%= image_tag 'clock_red.png', :align => 'absmiddle' %> <%= extension.extension_date.to_formatted_s(:long) %>
		      (<b><%= distance_of_time_in_words_to_now( extension.extension_date, true )%> ago</b>)
		    <% end %> 
	      <% end %>
	
	    </td>
	  </tr>
    <% end %>
  </table>

<% end %>