<% if @journals.size == 0 %>
  <div class="alert alert-info">You have no journals for this assignment.</div>
<% else %>
<% if @assignment.journal_field.start_time && @assignment.journal_field.end_time %>
 <div class="alert alert-info">According to your journals, you have spent <%= pluralize( @days, 'day') %>, <%= pluralize( @hours, 'hour') %>, <%= pluralize( @minutes, 'minute') %> on this assignment.</div>
<% end %>

<% width = 0 %>
 <table class="table table-condensed table-striped">
  <thead>
   <tr>
	 <th>Entry</th>
     <% if @assignment.journal_field.start_time 
	      width += 1
	  %><th nowrap="nowrap">Start</th><% end %>
     <% if @assignment.journal_field.end_time
	      width += 1
      %><th>End</th><% end %>
     <% if @assignment.journal_field.interruption_time
	      width += 1
      %><th nowrap="nowrap">Intr.</th><% end %>
     <% if @assignment.journal_field.task
	      width += 1
      %><th>Tasks</th><% end %>
     <% if @assignment.journal_field.reason_for_stopping
	      width += 1
      %><th>Stop Reason</th><% end %>
     <% if @assignment.journal_field.completed
	      width += 1
      %><th>Done?</th><% end %>
     <% unless @assignment.closed?
	      width += 1
      %><th>Edit</th><% end %>
   </tr>
 </thead>
   <% count = 0 %>
   <% for journal in @journals %>
	<% count = count.next %>
     <tr id="journal_<%=journal.id%>">
	   <th><%= count %></th>
       <% if @assignment.journal_field.start_time %><td nowrap="nowrap"><%=h journal.start_time.to_formatted_s(:short) rescue '' %></td><% end %>
       <% if @assignment.journal_field.end_time %><td nowrap="nowrap"><%=h journal.end_time.to_formatted_s(:short) rescue '' %></td><% end %>
       <% if @assignment.journal_field.interruption_time %><td nowrap="nowrap"><%=h journal.interruption_time rescue '' %></td><% end %>
       <% if @assignment.journal_field.task %><td>
	     <ul>
         <% for task in journal.journal_tasks %>
           <li><%= task.task %></li>
         <% end %>
         </ul>
         </td>
       <% end %>
       <% if @assignment.journal_field.reason_for_stopping %><td>
	     <ul>
         <% for sr in journal.journal_stop_reasons %>
           <li><%= sr.reason %></li>
         <% end %>
         </ul>
         </td>
       <% end %>
       <% if @assignment.journal_field.completed %><td><%=journal.completed_text%></td><% end %>
       <% unless @assignment.closed? %>       
       <td>
        <%= link_to 'Edit', :controller => 'journals', :action => 'edit', :course => @course, :assignment => @assignment.id, :id => journal.id %> 
       </td> 
       <% end %>
     </tr>
   
     <% if @assignment.journal_field.comments %>
     <tr>
	   <td>Comments:</td>
	   <td colspan="<%= width  %>"><%= journal.comments.to_html rescue "" %></td>
	 </tr>
     <% end %>
   <% end %>
 </table>

<% end %>