<%= render :partial => 'overview/right' %>

<h2>Current Time</h2>
<p><b><%= Time.now.to_formatted_s(:friendly_date) %></b></p>

<h2>Due Dates</h2>
<div style="float:left;">
<% 
today = Date.today 
code_block = Proc.new do |d|
	  if d.eql?(today) 
	    [d.mday, {:class => "today"}]     
	  else
		clazz = "day"       
		duea = Array.new                              
		@course.assignments.each do |x|
		  if x.due_date.to_date.eql?(d)
		    clazz = "specialDay" 
		    duea << x.title
		  end	
		end
		if duea.size > 0
		  ["<acronym title=\"#{duea.join(', ')}\">#{d.mday}</acronym>", {:class => clazz} ]
		else
	      [d.mday, {:class => clazz}]	 
	    end
	  end
    end
%>

<%= calendar( :year => today.year, :month => today.month, :abbrev=>(0..0) ) { |d| code_block.call(d) } %>
<% today = today.to_time.next_month %>
<%= calendar( :year => today.year, :month => today.month, :abbrev=>(0..0) ) { |d| code_block.call(d) } %>
<% today = today.to_time.next_month %>
<%= calendar( :year => today.year, :month => today.month, :abbrev=>(0..0) ) { |d| code_block.call(d) } %>
</div>