<div class="row">
  <div class="span3">&nbsp;</div>
  <div class="span6">	  
<h2><%= @course.title %> / <%= @course.short_description %> </h2>
<h3><%= @assignment.title %></h3>

<div class="well">This assignment requires that you authorize CascadeLMS to access your GitHub repositories located on the <strong><%= @course.course_setting.github_server.web_endpoint %></strong> server.<br/>
	<%= link_to "Authorize GitHub Access (takes you to #{@course.course_setting.github_server.web_endpoint})", {:action => 'github_forward', :course => @course, :id => @assignment, :assignment => nil}, {:method => :post, :class => 'btn btn-success'} %>
</div>
  </div>
  <div class="span3">&nbsp;</div>
</div>