<%= error_messages_for('announcement', {:class => 'alert alert-error'}) %>

<!--[form:announcement]-->
<div class="control-group">
 <label for="announcement_headline" class="control-label">Headline</label>
 <div class="controls">
  <%= text_field 'announcement', 'headline'  %>
 </div>
</div>

<div class="help-block">The text entered will be visible to ALL users of this system.</div>
<div class="control-group">
 <label for="announcement_text" class="control-label">Text</label>
 <div class="controls">
  <%= text_area 'announcement', 'text', {:class => 'input-xxlarge', :rows => 10, :rel => 'wysihtml5'} %>
 </div>
</div>

<div class="help-block">All announcements are time restrictive, be sure that you give all users adequate time to view all announcements.</div>
<div class="control-group">
 <label for="announcement_start" class="control-label">Start</label>
 <div class="controls">
  <%= datetime_select 'announcement', 'start', {}, {:class => 'input-small'} %>
 </div>
</div>

<div class="control-group">
 <label for="announcement_end" class="control-label">End</label>
 <div class="controls">
  <%= datetime_select 'announcement', 'end', {}, {:class => 'input-small'} %>
 </div>
</div>
<!--[eoform:announcement]-->
