<h2>Listing System Announcements</h2>

<%= link_to 'New announcement', {:action => 'new'}, {:class => 'btn btn-success'} %><br/><br/>

<% if @announcements.size == 0 %>
 <div class="alert alert-info">There are no system announcements</div>
<% else %>

<table class="table table-compact table-striped">
<% for announcement in @announcements %>
  <tr id="item_<%=announcement.id%>">
   <td><table><tr>
	<td>
	  <% if announcement.future? %>
        <i class="icon-forward"></i>
	  <% elsif announcement.current? %>
	    <i class="icon-play"></i>
	  <% else %>
	    <i class="icon-step-backward"></i>
	  <% end %>
    </td>
	
    <td>From: <%=h announcement.start %></td>
    <td>To: <%=h announcement.end %></td>
    <td>
      <div class="btn-group">
        <%= link_to 'Edit', {:action => 'edit', :id => announcement}, {:class => 'btn btn-small'} %>
	    <%= link_to 'Destroy', { :action => 'destroy', :id => announcement }, :confirm => 'Are you sure?', :method => :post, :class => 'btn btn-small' %>
	  </div>
	</td>
  </tr>
  <tr>
	<td colspan="4">
	  <b><%= announcement.headline %></b><br/>
	  <%= announcement.text_html %>
    </td>
  </tr>
  </td></table>
<% end %>
</table>

<br />

<% end %>
