<% for column in Announcement.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @announcement.send(column.name) %>
</p>
<% end %>

<p><b>As shown to users:</b></p>
<div id="form_area">
<div class="block">
<p><b><%=h @announcement.headline %></b></p>
<%= @announcement.text_html %>
</div>	
</div>

<%= link_to 'Edit', :action => 'edit', :id => @announcement %> |
<%= link_to 'Back', :action => 'list' %>
