<h2>Administer your Courseware Installation</h2>

<% if @app['social_upgrade'].eql?('0') %>
<hr/>
<%= link_to 'Upgrade your system to CascadeLMS 2', {:action => 'run_upgrade'}, {:class => "btn btn-xlarge btn-success"} %><br/> This upgrade must be run once when upgrading from a release of CascadeLMS older than 1.5 to a version newer than 1.5.
<hr/>
<% end %>

<ul>
  <li><%= link_to 'System Announcements', :controller => '/admin/announcement', :action => nil, :id => nil %></li>
  <li><%= link_to 'Course Admin', :controller => '/admin/course_admin', :action => nil, :id => nil %></li>
  <li><%= link_to 'CRNs', :controller => '/admin/crn_admin', :action => nil, :id => nil %></li>
  <li><%= link_to 'Programs (Accreditation Groupings)', :controller => '/admin/programs', :action => nil, :id => nil %></li>
  <li><%= link_to 'User Admin', :controller => '/admin/user_admin', :action => nil, :id => nil %></li>
  <li><%= link_to 'Terms', :controller => '/admin/terms', :action => nil, :id => nil %></li>
  <li><%= link_to 'Programming Languages', :controller => '/admin/languages', :action => nil, :id => nil %></li>
  <li><%= link_to 'Settings', :controller => '/admin/settings', :action => nil, :id => nil %></li>
  <li><%= link_to 'GitHub Servers', :controller => '/admin/github', :action => nil, :id => nil %></li>
</ul>