<div class="SectionHeader"><div class="Full">
<h2>Outcomes for Course '<%=h @course.title%>' </h2>
</div></div>

<p><%= link_to "#{image_tag('add.png', :align => 'absmiddle' )} Create new course outcome", :controller => '/instructor/outcomes', :action => 'new', :course => @course.id %></p>

<% if @course.course_outcomes.length == 0 %>
	<p><i>There are no outcomes defined for this course.</i></p>
<% else %>


<table class="fancy" width="99%">
  <tr class="header">
	  <th width="90%">Course Outcome</th>
	  <th>Controls</th>
	</tr>

   <% row_count = 0 
      parent_stack = [-1]
	  count_stack = [0] %>
   <% for outcome in @course.ordered_outcomes %>
	 <% row_count = row_count.next 
	    odd = "odd"
        odd = "even" if row_count.even? %> 
	
	 <tr class="<%=odd%> hover" id="outcome_<%=outcome.id%>">
       <td>
          <% if outcome.parent == parent_stack[-1] ## Same level %>
             <% count_stack.push( count_stack.pop + 1 ) %>
	      <% elsif parent_stack.index( outcome.parent ).nil?  ## New level %>
	         <% parent_stack.push outcome.parent 
	            count_stack.push 1 %>
          <% else ## need to pop back to correct level %>
             <% while (parent_stack[-1] != outcome.parent) 
                  parent_stack.pop
                  count_stack.pop
                end 
                count_stack.push( count_stack.pop + 1 )
              %>
	      <% end %>
	
	      <% parent_stack[0..-2].each { |i| %>&nbsp;&nbsp;<%  } %>
          <%=h count_stack.join('.') %>)
          <%=h outcome.outcome %>
	
	      <% if outcome.program_outcomes.size > 0 %>
	        &nbsp;(<%= link_to_function( "#{image_tag('application_side_expand.png', :align => 'absmiddle' )} mappings", "blindToggle( 'outcome_details_#{outcome.id}' )" ) %>)
	      <% end%>
	
	      <br/>
	      <div id="outcome_details_<%=outcome.id%>" style="display: none; padding-left: 25px">
		    <ul>
		      <% for program in @course.programs %>
		        <li>Program: <b><%=program.title%></b></li>
		        <% count = 0 %>
		        <ul>
			      <% added = false %>
			      <% for prog_outcome in program.program_outcomes %>
			        <% count = count.next %>
			        <% if outcome.mapped_to_program_outcome?(prog_outcome.id) 
				        added = true %>
			            <li><%= count %>) <%= prog_outcome.outcome %></li>
			        <% end %>
			      <% end %>
			      <% unless added %>
			        <li><i>Not mapped to any program outcomes for this program.</i></li>
			      <% end %>
			    </ul>
		      <% end %>
		    </ul>
		  </div>
	   </td>
       <td nowrap="nowrap">
         <%= link_to 'Edit', :action => 'edit', :course => @course, :id => outcome %> |
         <%= link_to 'Reorder', :action => 'reorder', :course => @course, :id => outcome.parent %> |
         <%= link_to 'Delete', { :action => 'destroy', :course => @course, :id => outcome }, :confirm => "Are you sure you want to delete the course outcome '#{outcome.outcome}' and all of it's associated data? This action can not be undone." %>
       </td>
   <% end %>

</table>

<% end %>

