<div class="SectionHeader"><div class="Full">
<h2>Outcomes for Course '<%=h @course.title%>' </h2>
</div></div>

<br/>
<%= link_to "#{image_tag('add.png', :align => 'absmiddle' )} Create new course outcome", :controller => '/instructor/outcomes', :action => 'new', :course => @course.id %>	
<% if @course.programs.length > 0 %>
  <br/><%= link_to_function "#{image_tag('database_refresh.png', :align => 'absmiddle' )} Import outcomes from program template.", "blindToggle('import')" %>

<div id="import" class ="sub_form" style="display:none;">
<div id="form_area">
  <% form_tag( :action => 'import_outcomes', :course => @course ) do %>
   
  <p class="blockintro">Import course outcomes from a standard program template.</p>
  <div class="block">
    <% # build options list
       options = ""
       @course.programs.each do |program|
	     course_templates = program.course_templates
	     course_templates.sort! do |a,b| 
		   res = a.title <=> b.title
	       res = a.start_date <=> b.start_date if res == 0
	       res
		 end
	     course_templates.each do |course_template|
		   options = "#{options}\n    <option value=\"#{course_template.id}\">(#{program.title}) #{course_template.title} :: #{course_template.start_date}</option>" if course_template.approved
		 end
	   end
     %>
    <p><label for="import_from" class="required">Import from template:</label>
	   <%= select_tag 'import_from', options %></b> </p>
  </div>

  <div class="submit">
	<%= submit_tag "Import outcomes from template" %>
  </div>
  <% end %>	
</div>
</div>

  <% if @course.course_outcomes.size == 0 %>
    <br/><s><%= image_tag('database_save.png', :align => 'absmiddle' ) %> Export these outcomes as a template.</s>
  <% else %> 
    <br/><%= link_to_function "#{image_tag('database_save.png', :align => 'absmiddle' )} Export these outcomes as a template.", "blindToggle('export')" %>
  <% end %>

<div id="export" class ="sub_form" style="display:none;">
<div id="form_area">
  <% form_tag( :action => 'export_outcomes', :course => @course ) do %>	
    <p class="blockintro">Exporting the outcomes from this course will create a new course template that will be shared by all programs that this course is mapped to.   The template will be named "<i>EXPORT - <%= @course.title %> - <%= @course.short_description %></i>" with a start date of "<i><%= @course.term.semester %></i>"</p>
    
    <div class="submit">
	  <%= submit_tag "Export Outcomes" %>
    </div>
  <% end %>

</div>
</div>

<% else %>
<br/>If you map this course to a program, you might be able to import course objectives from one of the program templates.
<% end %>
<% if @surveys.length > 0  %>
  <br/><%= link_to "#{image_tag 'table_relationship.png', :align => 'absmiddle'} View entry and exit surveys.", :controller => '/instructor/results', :action => 'compare', :course => @course %>
<% end %>
  <br/><%= link_to "#{image_tag 'report.png', :align => 'absmiddle'} View Assignments to Outcomes report.", :action => 'assignments', :course => @course %>

<p>&nbsp;</p>

<% if @course.course_outcomes.length == 0 %>
	<p><i>There are no outcomes defined for this course.</i></p>
<% else %>


<table class="fancy" width="99%">
  <tr class="header">
	  <th width="90%">Course Outcome</th>
	  <th>Controls - <%= link_to "#{image_tag 'chart_organisation_delete.png', :align => 'absmiddle'} Delete All", {:course => @course, :action => 'delete_all'}, :confirm => "Are you sure you want to delete all the outcomes from this course? This action can not be undone." %></th>
	</tr>

   <% row_count = 0 
      parent_stack = [-1]
	  count_stack = [0] %>
   <% for outcome in @course.ordered_outcomes %>
	 <% row_count = row_count.next 
	    odd = "odd"
        odd = "even" if row_count.even? %> 
	
	 <tr class="<%=odd%> hover" id="outcome_<%=outcome.id%>">
       <td>
          <% if outcome.parent == parent_stack[-1] ## Same level %>
             <% count_stack.push( count_stack.pop + 1 ) %>
	      <% elsif parent_stack.index( outcome.parent ).nil?  ## New level %>
	         <% parent_stack.push outcome.parent 
	            count_stack.push 1 %>
          <% else ## need to pop back to correct level %>
             <% while (parent_stack[-1] != outcome.parent) 
                  parent_stack.pop
                  count_stack.pop
                end 
                count_stack.push( count_stack.pop + 1 )
              %>
	      <% end %>
	
	      <% parent_stack[0..-2].each { |i| %>&nbsp;&nbsp;<%  } %>
          <%=h count_stack.join('.') %>)
          <%=h outcome.outcome %>
	
	      <% if outcome.program_outcomes.size > 0 %>
	        &nbsp;(<%= link_to_function( "#{image_tag('application_side_expand.png', :align => 'absmiddle' )} mappings", "blindToggle( 'outcome_details_#{outcome.id}' )" ) %>)
	      <% end%>
	
	      <br/>
	      <div id="outcome_details_<%=outcome.id%>" style="display: none; padding-left: 25px">
		    <ul>
		      <% for program in @course.programs %>
		        <li>Program: <b><%=program.title%></b></li>
		        <% count = 0 %>
		        <ul>
			      <% added = false %>
			      <% for prog_outcome in program.program_outcomes %>
			        <% count = count.next %>
			        <% if outcome.mapped_to_program_outcome?(prog_outcome.id) 
				        added = true %>
			            <li><%= count %>) <%= prog_outcome.outcome %></li>
			        <% end %>
			      <% end %>
			      <% unless added %>
			        <li><i>Not mapped to any program outcomes for this program.</i></li>
			      <% end %>
			    </ul>
		      <% end %>
		    </ul>
		  </div>
	   </td>
       <td nowrap="nowrap">
         <%= link_to 'Edit', :action => 'edit', :course => @course, :id => outcome %> |
         <%= link_to 'Reorder', :action => 'reorder', :course => @course, :id => outcome.parent %> |
         <%= link_to 'Delete', { :action => 'destroy', :course => @course, :id => outcome }, :confirm => "Are you sure you want to delete the course outcome '#{outcome.outcome}' and all of it's associated data? This action can not be undone." %>
       </td>
   <% end %>

</table>

<% end %>

