<h2>Create new Course Outcome for '<%=h @course.title%>' </h2>

<%= error_messages_for('course_outcome', :class => 'alert alert-error') %>	
<% form_tag( {:action => 'create_outcome', :course => @course}, {:class => 'form-horizontal'} ) do %>

  <%= render :partial => 'outcome_form' %>
 
  <%= submit_tag "Create Outcome", :class => 'btn btn-primary' %>
  <%= link_to 'Back', {:controller => '/instructor/outcomes', :action => nil, :course => @course}, {:class => 'btn'} %>
<% end %>	
