<% if @courses.size == 0 %>
<div class="alert alert-info">The selected term has no courses</div>
<% else %>
<table class="table table-compact table-striped">
   <tr>
    <th>CRN(s)</th>
    <th>Title</th>
    <th>Description
    <th>Open?</th>   
    <th>Instructor(s)</th>
    <th>Controls</th>
   </tr>

<% for course in @courses %>
  <tr id="item_<%=course.id%>">
    <td align="left" valign="top"><%= course.crns.join('<br/> ')%></td>
    <td nowrap="nowrap" align="left" valign="top"><%=h course.title%></td>
    <td nowrap="nowrap" align="left" valign="top"><%=h course.short_description%></td>  
    <td id="course_open_<%=course.id%>" align="left" valign="top">
      <% @course = course %>
      <%= render :partial => 'courseopen' %>
    </td>
    <td nowrap="nowrap" align="left" valign="top"><%= course.instructors.join(',<br/> ')%></td>
    <td align="left" valign="top"><%= link_to 'edit', {:action => 'edit', :id => course}, {:class => 'btn btn-mini'} %></td>
  </tr>
<% end %>
</table>
<% end %>