<% if request.path_parameters['action'].eql?('edit') %>
<h3>Merge Courses</h3>
<div id="merge_area">
<% form_remote_tag( :update => 'merge_results', :url => { :action => 'mergesearch', :id => @course }, :complete => "new Effect.BlindDown('merge_results');", :html => {:class => 'form-search'} ) do %>
  <%= text_field_tag 'searchterms', '', {:placeholder => 'Course Title', :class => 'input-medium search-query'}  %>
  <%= submit_tag 'Search', :class => 'btn btn-primary' %><br/>
<% end %>
</div>
<div id="merge_results" style="display: none;">
</div>

<h3>Add users to course</h3>
<% if @course.course_open %>
<% form_remote_tag( :update => 'search_results', :url => { :action => :search, :id => @course }, :complete => "new Effect.BlindDown('search_results');", :html => {:class => 'form-search'}) do %>
	<%= text_field_tag 'searchterms', '', {:placeholder => 'User Search', :class => 'input-medium search-query'} %>
	<%= submit_tag 'Search', :class => 'btn btn-primary' %><br/>
<% end %>
<span id="spinner" style="display: none;"><%= image_tag 'spinner.gif' %></span>

<div id="search_results" style="display: none;">
</div>
<% else %>
<div class="alert">Disabled: this course is in archive status.</div>
<% end %>

<% end %>