<p><%= link_to "#{image_tag 'arrow_left.png' } Back", :action => 'index' %></p>

<div id="form_area">
<h2>Editing course <%= @course.title %></h2>

<% form_tag( :action => 'update', :id => @course ) do %>

<%= error_messages_for 'course' %>

<%= render :partial => 'courseform' %>

<div class="submit">
  <%= submit_tag "Save Changes" %>
</div>
<% end %>
</div>

<h2>CRN(s) for <%= @course.title %></h2>
<div id="CRN_error"> </div>
<div id="CRN"> 
<ul>
<% if @course.crns.size == 0 %>
  <li>No CRN values have been entered for this course (can not auto-enroll).</li>
<% else %>
  <% for crn in @course.crns %>
    <li><%=h crn.crn %> - <%= crn.name %></li>
  <% end %>  
<% end %>
<ul>
</div>
<hr/>

<h2>Instructor(s) for <%= @course.title %></h2>
<div id="instructor_error"> </div>
<div id="instructor">
<% @users = @course.instructors %>
<% @utype = 'instructor' %>
<%= render :partial => 'userlist' %>
</div>


<hr/>
<h2>TA/Grader(s) for <%= @course.title %></h2>
<div id="assistant_error"> </div>
<div id="assistant">
<% @users = @course.assistants %>
<% @utype = 'assistant' %>
<%= render :partial => 'userlist' %>
</div>

<hr/>
<h2>Students(s) for <%= @course.title %></h2>
<div id="student_error"> </div>
<div id="student">
<% @users = @course.students %>
<% @utype = 'student' %>
<%= render :partial => 'userlist' %>
</div>


<hr/>
<h2>Guest(s) for <%= @course.title %></h2>
<div id="guest_error"> </div>
<div id="guest">
<% @users = @course.guests %>
<% @utype = 'guest' %>
<%= render :partial => 'userlist' %>
</div>

<hr/>
<h2>Dropped Students(s) for <%= @course.title %></h2>
<div id="dropped_error"> </div>
<div id="dropped">
<% @users = @course.drops %>
<% @utype = 'dropped' %>
<%= render :partial => 'userlist' %>
</div>

<hr/>
<p><%= link_to "#{image_tag 'arrow_left.png' } Back", :action => 'index' %>
