<h2>Create a new course</h2>
<%= error_messages_for('course', {:class => 'alert alert-error'}) %>

<% form_tag({:action => 'create'}, {:class => 'form-horizontal'}) do %>
 <%= render :partial => 'courseform' %>

  <div class="control-group">
    <label for="crn" class="control-label">CRN</label>
    <div class="controls">
      <%= text_field_tag 'crn', @crn %>
      <p class="help-block"><strong>This only applies to systems using LDAP authentication where course enrollment information is presented on authentication.</strong> The CRN number is used for auto-enrollment.  A course can exist without one entered, but it is recommended to enter one.   Use the full CRN number, for example '20063012345' to represent course number '12345' in term '200630'.  If a course has multiple CRN numbers, you should create a course with each, and then combine the courses (for example a cross-listed graduate/undergraduate course) as this will preserve  both course numbers.</p>
    </div>
  </div>

 <div class="control-group">
   <label for="program" class="control-label">Program</label>
   <div class="controls">
	 <%= select_tag 'program_id', "<option value=\"-1\">-none-</option>#{options_from_collection_for_select(@programs, "id", "title", @program_id )}" %>
   </div>
 </div>

  <%= submit_tag 'Create', :class => 'btn btn-primary' %>
<% end %>
