<%= link_to_function(image_tag("arrow_up.png"), "new Effect.BlindUp('search_results')") %>
<% if @invalid %>
<div id="ErrorExplanation">You must enter at least 4 characters in your search term.</div>
<% else %>

<% if @users.size == 0 %>
<div id="ErrorExplanation">No users matched your search term.</div>
<% else %>

<table class="fancy">

<% count = 0 %>
<% for user in @users %>
<% count = count.next 
   odd = "odd"
   odd = "even" if count.even?
%>

  <tr class="<%=odd%> hover" id="item_<%=user.id%>">
    <td>
	<table><tr>
	  <td colspan="5"><%=h user.display_name %> | uid='<%=h user.uniqueid %>'</td>
    </tr><tr>
	  <td align="right">Add As:</td>
	  <td>
		<% if user.student_in_course?(@course.id) %>
		  <s>Student</s>
		<% else %>
		  <%= link_to_remote( "Student", :update => "student", :url => { :action => 'adduser', :type => 'student', :course => @course.id, :id => user }, :complete => "new Effect.Highlight( 'student' )" ) %>
		<% end %>
	  </td>
	  <td>
		<% if user.instructor_in_course?(@course.id) || !user.instructor %>
		  <s>Instructor</s>
		<%else%>
		  <%= link_to_remote( "Instructor", :update => "instructor", :url => { :action => 'adduser', :type => 'instructor', :course => @course.id, :id => user }, :complete => "new Effect.Highlight( 'instructor' )" ) %>
		<%end%>
	  </td>
	  <td>
		<% if user.assistant_in_course?(@course.id) %>
		  <s>TA</s>
		<%else%>
		  <%= link_to_remote( "TA", :update => "assistant", :url => { :action => 'adduser', :type => 'assistant', :course => @course.id, :id => user }, :complete => "new Effect.Highlight( 'assistant' )" ) %>
		<%end%>
	  </td>
	  <td>
		<% if user.guest_in_course?(@course.id) %>
		  <s>Guest</s>
		<%else%>
		  <%= link_to_remote( "Guest", :update => "guest", :url => { :action => 'adduser', :type => 'guest', :course => @course.id, :id => user }, :complete => "new Effect.Highlight( 'guest' )" ) %>
		<%end%>	  	
	  </td>
	</tr></table>
	</td>
  </tr>

<% end %>

</table>

<% end %>
<% end %>