<table class="table table-condensed table-striped">
 <thead>
  <tr>
    <th>ID</th>
    <th>Student</th>
	<th>Submitted</th>
	<th>Last Update</th>
	<th>Started</th>
	<th>Message</th>
  </tr>
 </thead>

 	<% for queue in @items %>
	  <tr id="queue_<%=queue.id%>">
	    <td nowrap="nowrap"><%= queue.id %></td>
		<td nowrap="nowrap"><%= queue.user_turnin.user.display_name rescue 'unknown' %></td>
	    <td nowrap="nowrap"><%= queue.created_at.to_formatted_s(:short) %></td>
		<td nowrap="nowrap"><%= queue.updated_at.to_formatted_s(:short) %></td>	
		<td nowrap="nowrap"><% if queue.acknowledged %><%= image_tag 'accept.png' %><% end %>&nbsp;</td>
		<td><%= queue.message %></td>
	  </tr>
	  <tr>
		<td>&nbsp;</td>
		<td align="right"><b>Class:</b></td><td><%= queue.assignment.course.title rescue 'unknown' %></td>
		<td align="right"><b>Assignment:</b></td><td><%= queue.assignment.title rescue 'unknown' %></td>
		<td><div id="area_<%=queue.id%>"><%= link_to_remote( 'Requeue', :update => "area_#{queue.id}", :url => { :action => 'reset_ag_item', :course => @course, :id => queue.id }, :success => visual_effect(:highlight, "area_#{queue.id}" ) ) %> 
 <% if queue.course_id == @course.id || queue.course_id < 0 %><% end %>
			| <%= link_to_remote( 'Remove', :update => "area_#{queue.id}", :url => { :action => 'mark_ag_finished', :course => @course, :id => queue.id }, :confirm => 'Are you sure you want to permanently remove this item from the grading queue?', :success => visual_effect(:highlight, "area_#{queue.id}" ) ) %>
 			</div></td>
	  </tr>
    <% end %>
</table>