<h2>Background Job Queue</h2>

<% if @jobs.size == 0 %>
  <div alert="alert alert-info">There are no background jobs scheduled</div>
<% else %>
<ul>
 <% for job in @jobs %>
   <li><%= job.bj_job_id %> <%= job.command %> <%= job.submitted_at %></li>
 <% end %>
</ul>
<% end %>
	
<h2>AutoGrade Queue - Monitor Console</h2>
<div class="btn-group">
 <%= link_to('View Queue', {:course => @course, :controller => '/instructor/monitor', :action => 'agqueue'}, {:class => 'btn'}) %>
 <%= link_to('View Failures', {:course => @course, :controller => '/instructor/monitor', :action => 'agfailed'}, {:class => 'btn'}) %> 
</div><br/>

<% if @items.size == 0 %>
<div class="alert alert-info">There are no unprocessed items in the AutoGrader queue.</div>

<% else %>

<%= render :partial => 'table'%>

<% end %>
