<%= error_messages_for 'document' %>

<!--[form:document]-->
<p class="blockintro">Create a new folder to hold course documents.</p>
<div class="block">
<p><label for="document_title" class="required">Folder Name:</label>
<%= text_field 'document', 'title'  %></p>

<p><label for="document_comments">Comments (optional):</label>
<%= text_area 'document', 'comments'  %></p>
</div>

<p class="blockintro">Setting a folder to unpublished prevents all documents in the folder from being seen by students.</p>
<div class="block">
<p><label for="document_published" class="required">Published:</label>
	<%= radio_button 'document', 'published', true %> Yes
	<%= radio_button 'document', 'published', false %> No</p>
</div>

<p class="blockintro"><%= image_tag 'ipod_cast.png' %> You can set a folder to be a <a href="http://www.apple.com/itunes/store/podcastsfaq.html" target="_blank">podcast</a>, allowing you to have multiple podcasts in your class.  We suggest that you fill in appropriate comments for the directory and for items in the directory.   Subdirectories in the posdcast directory are NOT included in the podcast.</p>
<div class="block">
<p><label for="document_podcast_folder" class="required">Podcast Folder:</label>
	<%= radio_button 'document', 'podcast_folder', true %> Yes
	<%= radio_button 'document', 'podcast_folder', false %> No</p>
</div>


<!--[eoform:document]-->

