<%= error_messages_for('document', {:class => 'alert alert-error'}) %>

<!--[form:document]-->
<div class="control-group">
  <label for="document_title" class="control-label">Title</label>
  <div class="controls">
    <%= text_field 'document', 'title', {:class => 'input-large'} %>
  </div>
</div>

<div class="control-group">
  <label for="file" class="control-label">File</label>
  <div class="controls">
    <%= file_field_tag "file" %>
  </div>
</div>

<div class="control-group">
  <label for="document_comments" class="control-label">Comments</label>
  <div class="controls">
    <%= text_area 'document', 'comments', {:class => 'input-xlarge', :rows => 5} %>
  </div>
</div>

<span class="help-block">Publication control. <em>Visible after</em> allows you to schedule documents for future publication, as long as the <em>Visible</em> setting is set to <strong>Yes</strong>.</span>
<div class="control-group">
 <label for="document_created_at" class="control-label">Visible after</label>
 <div class="controls">
   <%= datetime_select 'document', 'created_at', {}, {:class => 'input-small'} %>
 </div>
</div>

<div class="control-group">
 <label for="document_published" class="control-label">Visible</label>
 <div class="controls">
	<%= radio_button 'document', 'published', true %> Yes
	<%= radio_button 'document', 'published', false %> No
 </div>
</div>
<!--[eoform:document]-->
