<h2>Document Accesses for <%=h @document.title %></h2>
<p><%= link_to 'Back', {:controller => "/instructor/course_docs", :course => @course, :action => 'index', :id => @document.document_parent}, {:class => 'btn'} %></p>

<table class="table table-condensed table-striped">
 <thead>
  <tr>
    <th>Student</th>
	<th>Access Count</th>
  </tr>
 </thead>
<% for user in @students %>
  <tr id="user_<%=user.id%>">
	<td><%=h user.display_name %> &nbsp;<br/>
	 <div id="details_<%=user.id%>" style="padding-left: 25px"><ul>
	  <% if @access_map[user.id].nil? %><li><em>none</em></li><% else %>
	   <% for da in @access_map[user.id] %>
	    <li><%= da.created_at.to_formatted_s(:friendly_date) %></li>
	   <% end %>
	  <% end %>
	 </ul></div> 
    </td>
	<td><%= @access_map[user.id].size rescue 0 %></td>
  </tr>
<% end %>
</table>
