<h2>Editing document '<%= @document.title %>'</h2>

<% unless @folder.nil? %>
<p>Document nested in the folder:<br>
<b><%= @folder.relative_path() %></b>
</p>
<% end %>

<div id="form_area">
<% form_tag( { :action => 'update', :id => @document, :folder => @folder_id }, :multipart => true ) do %>
  <%= render :partial => 'form' %>
<div class="submit"> 
  <%= submit_tag 'Edit' %>
</div>
<% end %>

</div>

<%= link_to 'Back', :action => 'index', :id => @document.document_parent %>
