<h2>Editing document '<%= @document.title %>'</h2>

<% unless @folder.nil? %>
<div class="alert alert-info">Document nested in <strong><%= @folder.relative_path() %></strong></div>
<% end %>

<% form_tag( { :action => 'update', :id => @document, :folder => @folder_id }, :multipart => true, :class => 'form-horizontal' ) do %>
  <%= render :partial => 'form' %>

  <%= submit_tag('Edit', {:class => 'btn btn-primary'}) %>
  <%= link_to('Back', {:action => 'index', :id => @document.document_parent}, {:class => 'btn'}) %>
<% end %>
