<h2>Documents for <%= @course.title %></h2>

<div class="btn-group">
 <%= link_to('<i class="icon-plus icon-white"></i> New document', {:action => 'new', :id => @folder_id}, {:class => 'btn btn-success'}) %>
 <%= link_to('<i class="icon-circle-arrow-right icon-white"></i> New link', {:action => 'new', :id => @folder_id, :link => true}, {:class => 'btn btn-success'}) %>
 <% if @folder.nil? || (!@folder.nil? && !@folder.podcast_folder) %>
	<%= link_to('<i class="icon-folder-open icon-white"></i> New Folder', {:action => 'new_folder', :id => @folder_id}, {:class => 'btn btn-success'}) %>
 <% end %>
 <%= link_to('<i class="icon-random"></i> Reorder Documents', {:action => 'reorder', :course => @course, :id => @folder_id}, {:class => 'btn'}) %>
</div><br/>

<ul class="breadcrumb">
  <li><%= link_to 'Course Documents', :action => 'index', :id => 0 %><span class="divider">/</span></li>	
  
  <% dir_arr = Array.new
   unless @folder.nil?
     cur_f = @folder
     while !cur_f.nil?     
       dir_arr << link_to( "#{cur_f.title}", :action => 'index', :id => cur_f )
	   if cur_f.podcast_folder
	     dir_arr[-1] = "#{dir_arr[-1]} <i class=\"icon-headphones\"></i> (#{link_to 'edit', :action => 'edit_folder', :id => @folder_id})"
	   end
	   cur_f = cur_f.parent_document()
	 end
   end
   dir_arr.reverse!
   for fold in dir_arr
   %>
     <li><%= fold %><span class="divider">/</span></li>
   <% end %>
</ul>

<% if @documents.size == 0 %>
 <div class="alert alert-info">There are no documents in this folder.</div>
<% else %>

<table class="table table-condensed table-striped">
 <thead>
  <tr>
	<th>Title</th>
	<th>Activity</th>
	<th>Size</th>
    <th>Visible</th>
	<th>Visible After</th>
	<th>Accesses</th>
	<th>Controls</th>
  </tr>
 </thead>
 
<% for document in @documents %>
  <tr id="document_<%=document.id%>">
    <td><i class="<%= document.icon_file %>"></i>
      <% if document.folder %>
        <%= link_to "#{h document.title}", :action => 'index', :id => document %>
		<% if document.podcast_folder %>
		  <i class="icon-headphones"></i>
		<% end %>
	  <% else %>
	    <%=h document.title %>
	  <% end %></td>
	<td><% unless document.item.nil? %><%= link_to "#{document.item.aplus_count} A+ | #{document.item.comment_count} Comments", {:controller => '/post', :action => 'view', :id => document.item, :course => nil} %><% end %></td>
    <td><% unless document.folder || document.link %><%=h document.size_text %><% end %>&nbsp;</td>
    <td id="published_<%= document.id %>"><%= render(:partial => 'published', :locals => {:document => document}) %></td>
    <td><%=h document.created_at.to_formatted_s(:long) %></td>

    <td>
	  <% unless document.folder %>
	    <span class="badge badge-inverse">
	    <%= link_to "#{document.access_count()}", :action => 'accesses', :id => document, :course => @course %>
	    </span>
	  <% end %>
	</td>
    <td>
	  <div class="btn-group">
	  <% if document.folder %>
	    <%= link_to('Open', {:action => 'index', :id => document}, {:class => 'btn btn-small'}) %>
	  <% elsif document.link %>
	    <a href="<%=h document.url %>" class="btn btn-small" target="_blank" />Follow Link</a>
	  <% else %>
        <%= link_to('Download', {:action => 'download', :id => document, :file => document.without_extension, :extension => document.extension}, {:class => 'btn btn-small'}) %>
	  <% end %>
 
      <% if document.folder %>
        <%= link_to('Edit', {:action => 'edit_folder', :id => document}, {:class => 'btn btn-small'}) %>
      <% else %>
        <%= link_to('Edit', {:action => 'edit', :id => document}, {:class => 'btn btn-small'}) %>
      <% end %>

      <% if document.folder %>
        <%= link_to 'Delete', { :action => 'destroy', :id => document }, :confirm => 'Are you sure you want to permanently delete this folder AND ALL NESTED FOLDERS AND DOCUMENTS.  This action can not be undone.?', :method => :post, :class => 'btn btn-danger btn-small' %>
      <%else %> 
        <%= link_to 'Delete', { :action => 'destroy', :id => document }, :confirm => 'Are you sure you want to permanently delete this file?  This action can not be undone.', :method => :post, :class => 'btn btn-danger btn-small' %>
      <% end %>
      </div>
    </td>
  </tr>
<% end %>
</table>

<div class="pagination">
 <ul>
	<% 1.upto(@document_pages.page_count) do |i| %>
	<li <%= 'class="active"' if i == @page %>>
	  <%= link_to i, { :page => i } %>
	</li>
	<% end %>
 </ul>
</div>
<% end %>