<h2>Documents for <%= @course.title %></h2>

<p><%= link_to "Back", :controller => "/instructor/index", :course => @course %> | <%= link_to 'New document', :action => 'new', :id => @folder_id %> 
<% if @folder.nil? || (!@folder.nil? && !@folder.podcast_folder) %>
	| <%= link_to 'New Folder', :action => 'new_folder', :id => @folder_id %>
<% end %>
| <%= link_to "#{image_tag 'arrow_switch.png'} Reorder Documents", :action => 'reorder', :course => @course, :id => @folder_id %>
</p>

<p><b>Folder Navigation: </b>
  <%= link_to 'root://', :action => 'index', :id => 0 %>	
  
  <% dir_arr = Array.new
   unless @folder.nil?
     cur_f = @folder
     while !cur_f.nil?     
       dir_arr << link_to( "#{cur_f.title}", :action => 'index', :id => cur_f )
	   if cur_f.podcast_folder
	     dir_arr[-1] = "#{dir_arr[-1]} #{image_tag 'ipod_cast.png'} (#{link_to 'edit', :action => 'edit_folder', :id => @folder_id})"
	   end
	   cur_f = cur_f.parent_document()
	 end
   end
   dir_arr.reverse!
   for fold in dir_arr
   %>
     <%= fold %> /
   <% end %>

     

</p>

<% if @documents.size == 0 %>
 <p><i>There are no documents in this folder.</i></p>
<% else %>

<table class="fancy">
  <tr class="header">
    <th>#</th>
	<th>Title</th>
	<th>Size</th>
    <th>Published</th>
	<th>Date</th>
	<th>Controls</th>
  </tr>
 
<% count = 0%> 
<% for document in @documents %>
<% count = count.next 
   odd = "odd"
   odd = "even" if count.even?
%>
  <tr class="<%=odd%> hover" id="document_<%=document.id%>">
    <td><%= document.position %></td>
    <td><%= image_tag "#{document.icon_file}", :align => 'absmiddle' %>
      <% if document.folder %>
        <%= link_to "#{h document.title}", :action => 'index', :id => document %>
		<% if document.podcast_folder %>
		  <%= image_tag 'ipod_cast.png' %>
		<% end %>
	  <% else %>
	    <%=h document.title %>
	  <% end %></td>
    <td><% unless document.folder %><%=h document.size_text %><% end %>&nbsp;</td>
    <td id="published_<%= document.id %>"><%= render(:partial => 'published', :locals => {:document => document}) %></td>
    <td><%=h document.created_at.to_formatted_s(:long) %></td>

    <td>
	  <% if document.folder %>
	    <%= link_to 'Open', :action => 'index', :id => document %>
	  <% else %>
        <%= link_to 'Download', :action => 'download', :id => document, :file => document.without_extension, :extension => document.extension %>
	  <% end %>
	 |
 
      <% if document.folder %>
        <%= link_to 'Edit', :action => 'edit_folder', :id => document %> |
      <% else %>
        <%= link_to 'Edit', :action => 'edit', :id => document %> |
      <% end %>

      <% if document.folder %>
        <%= link_to 'Delete', { :action => 'destroy', :id => document }, :confirm => 'Are you sure you want to permanently delete this folder AND ALL NEXTED FOLDERS AND DOCUMENTS.  This action can not be undone.?', :method => :post %>
      <%else %> 
        <%= link_to 'Delete', { :action => 'destroy', :id => document }, :confirm => 'Are you sure you want to permanently delete this file?  This action can not be undone.', :method => :post %>
      <% end %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @document_pages.current.previous, :id => @folder_id } if @document_pages.current.previous %>
<%= link_to 'Next page', { :page => @document_pages.current.next, :id => @folder_id } if @document_pages.current.next %> 

<% end %>

<br />

<p><%= link_to "Back", :controller => "/instructor/index", :course => @course%> | <%= link_to 'New document', :action => 'new', :id => @folder_id  %>
	<% if @folder.nil? || (!@folder.nil? && !@folder.podcast_folder) %>
		| <%= link_to 'New Folder', :action => 'new_folder', :id => @folder_id %>
	<% end %>
	| <%= link_to "#{image_tag 'arrow_switch.png'} Reorder Documents", :action => 'reorder', :course => @course, :id => @folder_id %>	
</p>
