<h2>Reorder Documents for '<%= @course.title %>'</h2>


<div id="reorder">
  <%= link_to('Done Reordering', {:controller => '/instructor/course_docs', :course => @course, :id => @folder_id}, {:class => 'btn btn-primary'}) %><br/>

  <ul id="document-order">
    <% for document in @documents %>
      <li id="document_<%= document.id %>"><i class="icon-random"></i>
        <i class="<%=document.icon_file%>"></i>
	      <% if document.folder %>
	        <%= link_to "#{h document.title}", :action => 'index', :id => document %>
			<% if document.podcast_folder %>
			  <i class="icon-headphones"></i>
			<% end %>
		  <% else %>
		    <%=h document.title %>
		  <% end %>
      </li>
    <% end %>
  </ul>
</div>

<%= sortable_element 'document-order', 
    :url => { :action => 'sort', :course => @course, :id => @folder_id },
    :complete => visual_effect(:highlight, 'document-order')
%>