<div class="SectionHeader"><div class="Full">
<h2>Reorder Documents for 
'<%= @course.title %>'</h2>
</div></div>


<div id="reorder">
  <p>Drag and Drop the documents to order.</p>

  <p><b><%= link_to "I'm done reordering documents.", :controller => '/instructor/course_docs', :course => @course, :id => @folder_id %></b></p>

  <ul id="document-order">
    <% for document in @documents %>
      <li id="document_<%= document.id %>"><%= image_tag 'arrow_switch.png', :align => 'absmiddle' %>
        <%= image_tag "#{document.icon_file}", :align => 'absmiddle' %>
	      <% if document.folder %>
	        <%= link_to "#{h document.title}", :action => 'index', :id => document %>
			<% if document.podcast_folder %>
			  <%= image_tag 'ipod_cast.png' %>
			<% end %>
		  <% else %>
		    <%=h document.title %>
		  <% end %>
      </li>
    <% end %>
  </ul>
</div>

<%= sortable_element 'document-order', 
    :url => { :action => 'sort', :course => @course, :id => @folder_id },
    :complete => visual_effect(:highlight, 'document-order')
%>