<p><%= link_to 'Back to course outcomes', :controller => '/instructor/outcomes', :course => @course, :action => nil, :id => nil %></p>

<div class="SectionHeader"><div class="Full">
<h2>Entry/Exit Survey Results '<%= @course.title %>'</h2>
</div></div>

<% if @surveys[0].quiz_questions.length == 0 %>
  <p><i>There are no questions for this survey.</i></p>
<% else %>

<% if @surveys[0].anonymous %>
<div class="GoodMessage">This survey is anonymous, by student responses are not available.</div>
<% end %>


  <p>Here are the aggregate survey responses for all students.  You can also view the by-student responses for a question or view the entire survey for a given student.</p>
 
  <table class="fancy" width="99%">
  <tr class="header">
	  <th align="center">#</th>
	  <th align="center" width="90%">Question</th>
	  <th align="center">Controls</th>
	</tr>

   <% row_count = 0 %>
   <% for question in @surveys[0].quiz_questions %>
	 <% row_count = row_count.next 
	    odd = "odd"
        odd = "even" if row_count.even? %>
     <tr class="<%=odd%> hover" id="quiz_question_<%=question.id%>">
	   <td valign="top"><%= row_count %></td>
	   <td valign="top"><%=h question.question %></td>
	   <td valign="top" nowrap="nowrap"><% if !@surveys[0].anonymous %><%= link_to 'Expand', :action => 'survey_question', :class => @class, :assignment => @assignment, :id => question %><% end %></td>
	 </tr>
	 <tr class="<%=odd%> hover" id="quiz_question_<%=question.id%>_answers">
	   <td>&nbsp;</td>
	   <td colspan="2">
	    
	   <table><tr><% for survey in @surveys %><td><b><%= survey.assignment.title %></b><br/>
	   	 
		
		  <% if question.text_response %>
		    <ul>
			  <% for response in @all_text_responses[survey.id][survey.quiz_questions[row_count-1]] %>
			    <li><%=h response %></li>
			  <% end %>
			</ul>
		
		  <% else %>
		  <table class="fancy">
		    <tr><th align="center">Answer</th>
			    <th align="right">Raw Count</th>
			    <th align="right">Percentage</th>
			</tr>	
			
			<% for answer in survey.quiz_questions[row_count-1].quiz_question_answers %>
			<tr>
			  <td valign="top" align="left"><%=h answer.answer_text %></td>
			  <td valign="top" align="right" nowrap="nowrap"><%= @all_answer_count_maps[survey.id][answer.id] %></td>
			  <td valign="top" align="right" nowrap="nowrap">
			    <% if @all_question_answer_totals[survey.id][question.id].to_i > 0 %>
			        <%= sprintf("%.3f", @all_answer_count_maps[survey.id][answer.id]/@all_question_answer_totals[survey.id][survey.quiz_questions[row_count-1].id].to_f * 100 ) %>% 
			    <% else %>
			        0.000%
			    <% end %>
			  </td>
			</tr>
			<% end %>
			
			<tr><td align="right" class="summaryCell"><b>TOTALS:</b></td>
			    <td align="right" class="summaryCell" nowrap="nowrap"><%= @all_question_answer_totals[survey.id][survey.quiz_questions[row_count-1].id] %></td>
			    <td align="right" class="summaryCell" nowrap="nowrap">100.000%</td>
			</tr>
			
		  </table>
		  <% end %>
	   
	     </td><% end %></tr></table>
	   </td>
     </tr>
   <% end %> 
  </table>

<% end # if there are questions %>


<% if ! @surveys[0].anonymous %>
<p>&nbsp;</p>

<div class="SectionHeader"><div class="Full">
<h2>View Results By Student</h2>
</div></div>
<p>&nbsp;</p>
<div class="Section">
<table class="fancy">
<% 0.upto( @column1.length-1) do |i| %>
  <% odd = "odd"
	 odd = "even" if i.even?
	  %>
  <tr class="<%=odd%> hover">
	<td width="50%"><%= link_to "#{@column1[i].display_name} (#{@column1[i].uniqueid})", :id => @column1[i].id, :action => 'for_student', :course => @course, :assignment => @assignment %></td>
	<td width="50%"><%= link_to( "#{@column2[i].display_name} (#{@column2[i].uniqueid})", :id => @column2[i].id, :action => 'for_student', :course => @course, :assignment => @assignment) rescue "&nbsp;" %></td>
  </tr>
<% end %>
</table>
</div>
<% end %>
