<h2>Quiz Submissions '<%= @assignment.title %>'</h2>

<p>This page is an overview of quiz scores for students.  You can view individual student responses and assign grades to text response questions from this screen.</p>

<% if @assignment.grade_item.nil? %>
<p><i>Warning - this assignment is not connected with an entry in the GradeBook.</i></p>
<% end %>

<% if @assignment.released %>
   <div class="alert alert-success">Comments and scores are available to students.  (<%= link_to 'change', :controller => '/instructor/turnins', :action => 'toggle_released', :course => @course, :assignment => @assignment %>)</div>
<% else %>
   <div class="alert">Comments and scores are NOT available to students.  (<%= link_to 'change', :controller => '/instructor/turnins', :action => 'toggle_released', :course => @course, :assignment => @assignment %>)</div>
<% end %>

<% if @assignment.grade_item %>
  <ul>  
    <% if @has_text_responses %>
      <li>The multiple choice questions on this quiz have been automatically graded.</li>
      <li><b>The free-form text response questions can not be automatically graded.</b></li>
    <% else %>
      <li><b>This quiz is automatically graded when students submit responses.</b></li>
      <li><%= link_to 'Regrade All Submissions', :controller => 'instructor/results', :action => 'rescore', :course => @course, :assignment => @assignment  %> - <i>This will override any adjustment you have made, and text responses must still be manually graded.</i>  This is useful if you have changed the point value of the quiz since students started taking it.</li>
      <li><%= link_to 'View quiz statistics', :controller => 'instructor/results', :action => 'quiz_summary', :course => @course, :assignment => @assignment %></li>
    <% end %>
  </ul>
<% end %>

<ul>
  <li><%= image_tag 'page_excel.png', :align => 'absmiddle' %> <%= link_to 'Export quiz responses to Excel', :controller => '/instructor/results', :action => 'quiz_export', :course => @course, :assignment => @assignment %></li>
</ul>

<% if @course.course_setting.enable_project_teams %>
 <% if @assignment.team_filters.size > 0 %>
   <div class="errorExplanation">This assignment uses team filters, so not all students have it available.</div>
 <% end %>
<% end %>

<% form_tag( {:controller => '/instructor/turnins', :action => 'save_all_grades', :course => @course, :assignment => @assignment, :id => nil}, {:style => 'form-inline'} ) do %>

<table class="table table-condensed table-striped">
  <tr class="header">
    <th valign="bottom">UniqueID</th>
    <th valign="bottom">Student</th>
    <th valign="bottom">Has Attempted?</th>
    <th valign="bottom">Time</th>
    <% if @assignment.grade_item %>
      <th valign="bottom" colspan="2" align="center">Score<br/><%= @assignment.grade_item.points %> points</th>
    <% end %>
    <th valign="bottom">View Responses / Feedback</th>
    <th valign="bottom">
		Due: <%= @assignment.due_date.to_formatted_s(:long) %><br/>
		<% if @assignment.due_date !=   @assignment.close_date %>
		  Late Turnin Date:<%= @assignment.close_date.to_formatted_s(:long) %><br/>
		<% end %>
	View/Grant Extensions</th>
  </tr>
  
  <% row_count = 0 %>
  <% for student in @course.students %>
	 <% row_count = row_count.next 
	    odd = "odd"
        odd = "even" if row_count.even? %>

	    <% block = false 
	       if @course.course_setting.enable_project_teams && @assignment.team_filters.size
		     unless @assignment.enabled_for_students_team?( student.id )
			   block = true
			 end
		   end
	    %>


     <tr class="<%=odd%> hover" id="student_<%=student.id%>">
	   <td><%=h student.uniqueid %></td>
       <td><%=h student.display_name %></td>
 
       <% if block 
          colspan = 4
          colspan = colspan + 2 if @assignment.grade_item %>
          <td colspan="<%= colspan %>" align="center">Quiz not available for this student's team.</td>
       <% else %>
 
       <td><% if !@attempts[student.id].nil? %>Yes
	       <% else %>No<% end %>
       </td>
       <td><% if @attempts[student.id] %>
	          <%= distance_of_time_in_words( @attempts[student.id].created_at, @attempts[student.id].updated_at ) %>
	       <% else %>
	          <i>--</i>
           <% end %>
	   </td>
       <% if @assignment.grade_item %>
	     <td align="right">
	       <% if @grades[student.id] %>
	         <%= sprintf("%0.1f", @grades[student.id] ) %>
	       <% else %>
	         <acronym title="no grade entered"><%= image_tag 'bullet_error.png' %></acronym>
	       <% end %>
	     </td>

		 <td align="right">
		   <% value = '' 
		      value = sprintf("%0.1f", @grades[student.id]) unless @grades[student.id].nil?
		    %>
	 	   <%= text_field_tag "grade_#{student.id}", value, :size => 5 %>
	 	 </td>
       <% end %>
       <td>
          <%= link_to 'View Answers', :action => 'for_student', :course => @course, :assignment => @assignment, :id => student %>
       </td>

       <td align="center"> 
	    <% extension = @assignment.extension_for_user( student ) %>
	    <% if extension.nil? %>
	      <%= link_to 'Grant', :controller => '/instructor/turnins', :action => 'grant', :assignment => @assignment, :course => @course, :id => student.id %>
	    <% else %>
	      <%= extension.extension_date.to_formatted_s(:long) %> | 
	      <%= link_to 'Edit Grant', :controller => '/instructor/turnins', :action => 'grant', :assignment => @assignment, :course => @course, :id => student.id %> |
	      <%= link_to 'Revoke', :controller => '/instructor/turnins', :action => 'revoke', :assignment => @assignment, :course => @course, :id => student.id %> 
	    <% end %>
	  </td>

       <% end %>
     </tr> 
  <% end %>

  <% if @assignment.grade_item %>
  <tr class="none">
	<td colspan="3" class="none">&nbsp;</td>
	<td colspan="3" class="none">
	    <%= submit_tag 'Save All Grades', :class => 'btn btn-primary' %>
	</td>
  </tr>
  <% end %>

</table>

<% end %>