<% if users.nil? || users.size == 0 %>
  <div class="alert">No users in this category.</div>
<% else %>	
 <ul>
<% for user in users %>
  <li id="<%=utype%>_user_<%=user.id%>">
	<%= link_to_remote( '<i class="icon-ban-circle"></i>', :url => { :action => 'deluser', :type => utype, :program => @program.id, :id => user }, :confirm => "Remove user #{user.display_name} from this program?", :success => "new Effect.Puff( '#{utype}_user_#{user.id}' )", :failure => "alert('There was an error removing the selected user from this program.');" ) %> <%=h user.display_name %> - <b><%=h user.uniqueid %></b> - (<%=h user.email%>)
	</li>
<% end %>
 </ul>
<% end %>
