<h2>Programs (Accreditation Groupings)</h2>
<%= link_to 'New Program', {:action => 'new'}, {:class => 'btn btn-success'} %><br/><br/>
<% if @programs.size == 0 %>
  <div class='alert alert-info'>There are no programs defined.</div>
<% else %>
<table class="table table-compact table-striped">
  <tr class="header">
    <th>Program Name</th>
    <th>Controls</th>
  </tr>
  <% for program in @programs %>
  <tr id="prgm_<%=program.id%>">
    <td><%=h program.title %></td>
    <td>
	  <div class="btn-group">
        <%= link_to 'Edit', {:action => 'edit', :id => program}, {:class => 'btn btn-small'} %>
        <%= link_to 'Edit Managers/Auditors', {:action => 'managers', :id => program}, {:class => 'btn btn-small'} %>    
      </div>
    </td>
  </tr>
<% end %>
</table>
<% end %>
