<h2>Project Team '<%= @team.name %>' (<%= @team.team_id %>) for <%= @course.title %></h2>

<% form_tag({:action => 'update_team_members', :id => @team}, {:class => 'form-horizontal'}) do %>
<table class="table table-striped table-compressed">
  <tr class="header">
	<th>On Team?</th>
	<th align="left">Student</th>
	<th></th>
  </tr>
	
<% for student in @students %>
  <tr id="student_area_<%=student.id%>">
    <td align="right" valign="top">
	 <% if @student_team[student.id].nil? %>
       <%= check_box_tag( "student_#{student.id}", 1, false ) %>
     <% elsif @student_team[student.id].project_team_id == @team.id %>
       <%= check_box_tag( "student_#{student.id}", 1, true ) %>
     <% else %>
       <i><%= @student_team[student.id].project_team.team_id %> (<%= @student_team[student.id].project_team.name %>)</i>
     <% end %>
    </td>
    <td valign="top"><%= student.display_name %> - <%= student.uniqueid %></td>
    <td valign="top"><img src="<%= student.gravatar_url(request.ssl?) %>" /></td>
  </tr>
<% end %>
</table>

 <%= submit_tag('Save Team Members', :class => 'btn btn-primary') %>
 <%= link_to('Cancel', {:course => @course, :controller => '/instructor/teams'}, {:class => 'btn'}) %>
<% end %>
