<fieldset>
 <div class="control-group">
  <label for="course_template_outcome_outcome" class="control-label">Outcome:</label>
  <div class="controls">
   <%= text_area 'course_template_outcome', 'outcome', {:class => 'input-xlarge'} %>
  </div>
 </div>


<%
  options = "\n<option value=\"-1\" #{"selected=\"selected\"" if @course_template_outcome.parent==-1}>none (top level)</option> "

  parent_stack = [-1]
  count_stack = [0]
 
  @course_template.ordered_outcomes.each do |outcome|
    if outcome.parent == parent_stack[-1] ## Same level 
      count_stack.push( count_stack.pop + 1 ) 
    elsif parent_stack.index( outcome.parent ).nil?  ## New level 
      parent_stack.push outcome.parent 
      count_stack.push 1 
    else ## need to pop back to correct level 
      while (parent_stack[-1] != outcome.parent) 
        parent_stack.pop
        count_stack.pop
      end 
      count_stack.push( count_stack.pop + 1 )
    end 

    spaces = ""
    parent_stack[0..-2].each { |i| spaces="#{spaces}&nbsp;&nbsp;" }
    number = count_stack.join('.')
		
	options = "#{options}\n    <option value=\"#{outcome.id}\" #{"selected=\"selected\"" if @course_template_outcome.parent==outcome.id}>#{spaces}#{number}) #{outcome.outcome[0...100]}#{"..." if outcome.outcome.length>100}</option>"	
  end
%>

 <div class="control-group">
   <label for="course_template_outcome_parent" class="control-label">Child of outcome:</label>
   <div class="controls">
    <%= select_tag 'parent', options %>
   </div>
 </div>

<div class="well">Map to program outcome:
<ul class="outcomesList">
<% for program in @course_template.programs %>
  <li class="outcomesList">Program outcomes for <b><%= program.title %></b></li>
  <ul class="outcomesList">
    <% if program.program_outcomes.length == 0 %>
      <li class="outcomesList"><i>No program outcomes defined.</i></li>
    <% else %>
      <% count = 0
         for prog_outcome in program.program_outcomes
	       count = count.next %>
        <li class="outcomesList">
		    N: <%= radio_button_tag("program_outcome_#{prog_outcome.id}", 'N', !@course_template_outcome.mapped_to_program_outcome?(prog_outcome.id) ) %>
			S: <%= radio_button_tag("program_outcome_#{prog_outcome.id}", 'S', @course_template_outcome.get_depth_level(prog_outcome.id).eql?('some') ) %>
			M: <%= radio_button_tag("program_outcome_#{prog_outcome.id}", 'M', @course_template_outcome.get_depth_level(prog_outcome.id).eql?('moderate') ) %>
			E: <%= radio_button_tag("program_outcome_#{prog_outcome.id}", 'E', @course_template_outcome.get_depth_level(prog_outcome.id).eql?('extensive') ) %>

            <%= count %>) <%= prog_outcome.outcome %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
<ul>
</div>
</fieldset>