<h2>Edit Outcome for <%= @program.title %></h2>

<%= error_messages_for('program_outcome', :class => 'alert alert-error') %>	
<% form_tag( {:action => 'update_outcome', :id => @program, :outcome => @program_outcome}, {:class => 'form-horizontal'} ) do %>

  <%= render :partial => 'form' %>
 
 <%= submit_tag "Save Changes to Outcome", {:class => 'btn btn-primary'} %>
 <%= link_to 'Cancel', {:controller => '/program', :action => 'outcomes', :id => @program}, {:class => 'btn'}%>
<% end %>