<h2>Edit Course Template: <%= @course_template.title %></h2>

<%= error_messages_for('course_template', {:class => 'alert alert-error'}) %>	
<% form_tag( {:action => 'update_template', :id => @program, :template => @course_template}, {:class => 'form-horizontal'} ) do %>
  <%= render :partial => 'course_template_form' %>
 
  <div class="control-group">
	<label class="control-label">Programs</label>
	<div class="controls">
	  <p class="help-block">A course can satisfy program outcomes in more one or more programs.</p>
	  <% for program in @all_programs %>
	    <%= check_box_tag "program_#{program.id}", program.id, @course_template.mapped_to_program?(program.id) %>
             <%= program.title %><br/>
	  <% end %>
	</div>
  </div>

  <%= submit_tag 'Save Changes', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', {:action => 'templates', :id => @program}, {:class => 'btn'} %>
<% end %>	
