<h2>Edit outcome for template:<br/>'<%=h @course_template.title%>' </h2>

<%= error_messages_for('course_template_outcome', {:class => 'form-horizontal'}) %>	
<% form_tag( {:action => 'update_template_outcome', :id => @program, :template => @course_template.id, :outcome => @course_template_outcome}, {:class => 'form-horizontal'} ) do %>
  <p class="help-block">If you change the parent outcome for this outcome, all positions and numberings will be recalculated.   All outcomes that are children of this outcome will be moved as well.</p>

  <%= render :partial => 'template_outcome_form' %>
 
  <%= submit_tag 'Save Changes to Outcome', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', {:controller => '/program', :action => 'template_outcomes', :id => @program, :template => @course_template}, :class => 'btn' %>
<% end %>	
