<h2>Outcomes for <%= @program.title %></h2>

<% if @program.program_outcomes.length == 0 %>
  <div class="alert alert-info">There are no outcomes defined for this program.</div>
<% else %>

<div id="master">
<div class="btn-toolbar">
 <div class="btn-group">
  <%= link_to_function '<i class="icon-random"></i> Reorder Outcomes for this Program', "new Element.toggle('master');new Element.toggle('reorder');", {:class => 'btn'} %>
 </div>
</div>

<table class="table table-striped">
  <tr class="header">
	  <th width="90%">Program Outcome</th>
	  <th>Controls</th>
	</tr>

  <% count = 0 %>
  <% for outcome in @program.program_outcomes %>	
    <% count = count.next 
       odd = "odd"
       odd = "even" if count.even? %>
    <tr class="<%=odd%> hover" id="outcome_<%=outcome.id%>">
      <td><%= count %>) <%=h outcome.outcome %></td>
      <td nowrap="nowrap">
	    <div class="btn-group">
	      <%= link_to '<i class="icon-edit"></i> Edit', {:action => 'edit', :id => @program, :outcome => outcome}, {:class => 'btn btn-small'} %> 
	      <%= link_to '<i class="icon-minus-sign icon-white"></i> Delete', { :action => 'destroy', :id => @program, :outcome => outcome }, :confirm => "Are you sure you want to delete the program outcome '#{outcome.outcome}' and all of it's associated data? This action can not be undone.", :class => 'btn btn-small btn-danger' %>
	    </div>
	  </td>
	</tr>
  <% end %>	
</table>
</div>

<div id="reorder" style="display: none;">	
  <%= link_to("I'm done reordering program outcomes.", {:action => 'outcomes', :id => @program}, {:class => 'btn btn-success'}) %><br/>
  <ul id="outcome-order">
    <% for outcome in @program.program_outcomes %>
      <li id="program_outcome_<%= outcome.id %>"><i class="icon-random"></i>
        <b><%= outcome.outcome %></b>
      </li>
    <% end %>
  </ul>
</div>
<%= sortable_element 'outcome-order', 
    :url => { :action => 'sort', :id => @program },
    :complete => visual_effect(:highlight, 'outcome-order')
%>
<% end %>

<h2>Add new Program Outcome for <%= @program.title %></h2>

<%= error_messages_for 'program_outcome' %>	
<% form_tag( {:action => 'save_outcome', :program => @program}, {:class => 'form-horizontal'} ) do %>
  <%= render :partial => 'form' %>
 
  <%= submit_tag "Save New Outcome", :class => 'btn btn-primary' %>
  <%= link_to 'Done Editing', {:controller => '/program', :action => nil, :id => nil}, {:class => 'btn'} %>
<% end %>	
