<%= link_to_function('<i class="icon-chevron-up"></i>', "new Effect.BlindUp('search_results')") %>
<% if @invalid %>
<div class="alert alert-error">You must enter at least 2 characters in your search term.</div>
<% else %>

<% if @users.size == 0 %>
<div class="alert alert-error">No users matched your search term.</div>
<% else %>

<table class="table table-condensed table-striped">
<% for user in @users %>
  <tr id="item_<%=user.id%>">
    <td>
	<table><tr>
	  <td colspan="3"><%=h user.display_name %> | uid='<%=h user.uniqueid %>'</td>
    </tr><tr>
	  <td align="right">Add As:</td>
	  <td>
		<% if user.manager_in_program?(@program.id) || (user.auditor && !(user.admin || user.instructor)) %>
		  <s>Manager</s>
		<% else %>
		  <%= link_to_remote( "Manager", :update => "managers_list", :url => { :action => 'adduser', :type => 'manager', :id => @program.id, :user => user }, :complete => "new Effect.Highlight( 'managers_list' )" ) %>
		<% end %>
	  </td>
	  <td>
		<% if user.auditor_in_program?(@program.id) %>
		  <s>Auditor</s>
		<%else%>
		  <%= link_to_remote( "Auditor", :update => "auditors_list", :url => { :action => 'adduser', :type => 'auditor', :id => @program.id, :user => user }, :complete => "new Effect.Highlight( 'auditors_list' )" ) %>
		<%end%>
	  </td>
	</tr></table>
	</td>
  </tr>

<% end %>

</table>

<% end %>
<% end %>