<h2>Course Templates for <%= @program.title %></h2>
<% if @course_templates.length == 0 %>
  <div class="alert alert-info">There are no course templates for this program</div>
<% else %>

<%= link_to 'Back to Programs', {:action => nil, :id => nil}, {:class => 'btn'} %>
<br/>&nbsp;<br/>

<table class="table table-striped">
  <tr class="header">
	  <th width="80%">Course Template</th>
	  <th>Approval</th>
	  <th width="15%">Start Date</th>
	  <th>Controls</th>
	</tr>
	
	<% count = 0 %>
	  <% for course_template in @course_templates %>	
	    <% count = count.next 
	       odd = "odd"
	       odd = "even" if count.even? %>
	    <tr class="<%=odd%> hover" id="course_template_<%=course_template.id%>">
	      <td><%=h course_template.title %></td>
	      <td nowrap="nowrap">
		    <% if !course_template.approved %>
		      <%= link_to "#{image_tag 'cart_add.png'} Approve", {:controller => '/program', :action => 'approve', :id => @program, :template => course_template}, :confirm => 'Are you sure you want to approve this course template?  This will make it available for importing into courses.', :method => :post %>
		    <% end %>
		  </td>
	      <td nowrap="nowrap"><%=h course_template.start_date %></td>
	      <td nowrap="nowrap">
		    <%= link_to 'Edit', :action => 'edit_template', :id => @program, :template => course_template %> |
		    <%= link_to 'Outcomes', :action => 'template_outcomes', :id => @program, :template => course_template %> |
			
			<%= link_to 'Outcome Mapping Report', :action => 'view_course_template_to_program_outcomes', :id => @program, :template => course_template %>
		    (<%= link_to 'Export CSV', :action => 'view_course_template_to_program_outcomes', :id => @program, :template => course_template, :format => 'csv' %>) | 
			
			<%= link_to 'Clone', {:action => 'clone_template', :id => @program, :template => course_template}, :confirm => 'Are you sure you want to clone this course template, and all outcomes and outcome mappings?' %> |
		    <% extended = "" 
		       extended = "ATTENTION: This course template is shared by multiple programs.  Deleting it will delete it from all programs!\n" if course_template.programs.length > 1 %>
		    <%= link_to 'Delete', {:action => 'delete_template', :id => @program, :template => course_template}, :confirm => "#{extended}Are you sure you want to delete this course template, and all outcomes and outcome mappings?  This action cannot be undone." %>
		  </td>
	    </tr>
	  <% end %>

  </table>

<% end %>



<br/>
<p><%= link_to_function 'Create new course template.', "blindToggle('create_new')", {:class => 'btn btn-success'} %></p>

<div id="create_new" style="display:none;">
<div class="SectionHeader"><div class="Full">
<h2>Add new Course Template for <%= @program.title %></h2>
</div></div>

<div id="form_area">
  <%= error_messages_for 'course_template' %>	
  <% form_tag( :action => 'create_template', :id => @program ) do %>

  <%= render :partial => 'course_template_form' %>
 
  <div class="submit">
	<%= submit_tag "Save New Course Template" %>
  </div>
  <% end %>	
</div>
</div>