<p><%= link_to 'Back to templates', :action => 'templates', :id => @program %></p>
<h2>Course Outcomes Template for <br/>'<%=h @course_template.title%>' (<%=h @course_template.start_date%>) </h2>

<% if @course_template.programs.length == 0 %>
  <div class="alert alert-info">This course template is not mapped to any programs.</div>
<% else %>
  <ul>
    <li><b>This course template can satisfy outcomes from the following programs:</b></li>
    <ul>
	  <% for program in @course_template.programs %>
	    <li><%=h program.title%></li>
	  <% end %>
	</ul>	
  </ul>
<% end %>

<p><%= link_to '<i class="icon-plus-sign"></i> Create new course outcome', {:controller => '/program', :action => 'new_outcome', :id => @program, :template => @course_template}, {:class => 'btn btn-success'} %></p>

<% if @course_template.course_template_outcomes.length == 0 %>
	<div class='alert alert-info'>There are no outcomes defined for this course template.</div>
<% else %>


<table class="table table-compact table-striped">
  <tr class="header">
	  <th>Course Outcome</th>
	  <th>Controls</th>
  </tr>

   <% row_count = 0 
      parent_stack = [-1]
	  count_stack = [0] %>
   <% for outcome in @course_template.ordered_outcomes %>
	 <% row_count = row_count.next 
	    odd = "odd"
        odd = "even" if row_count.even? %> 
	
	 <tr id="course_template_outcome_<%=outcome.id%>">
       <td>
          <% if outcome.parent == parent_stack[-1] ## Same level %>
             <% count_stack.push( count_stack.pop + 1 ) %>
	      <% elsif parent_stack.index( outcome.parent ).nil?  ## New level %>
	         <% parent_stack.push outcome.parent 
	            count_stack.push 1 %>
          <% else ## need to pop back to correct level %>
             <% while (parent_stack[-1] != outcome.parent) 
                  parent_stack.pop
                  count_stack.pop
                end 
                count_stack.push( count_stack.pop + 1 )
              %>
	      <% end %>
	
	      <% parent_stack[0..-2].each { |i| %>&nbsp;&nbsp;<%  } %>
          <%=h count_stack.join('.') %>)
          <%=h outcome.outcome %>
	
	      <% if outcome.program_outcomes.size > 0 %>
	        &nbsp;(<%= link_to_function( "#{image_tag('application_side_expand.png', :align => 'absmiddle' )} mappings", "blindToggle( 'outcome_details_#{outcome.id}' )" ) %>)
	      <% end%>
	
	      <br/>
	      <div id="outcome_details_<%=outcome.id%>" style="display: none; padding-left: 25px">
		    <ul>
		      <% for program in @course_template.programs %>
		        <li>Program: <b><%=program.title%></b></li>
		        <% count = 0 %>
		        <ul>
			      <% added = false %>
			      <% for prog_outcome in program.program_outcomes %>
			        <% count = count.next %>
			        <% if outcome.mapped_to_program_outcome?(prog_outcome.id) 
				        added = true %>
			            <li><%= count %>) <%= prog_outcome.outcome %>
				            (<i>depth: <%= outcome.get_depth_level(prog_outcome.id) %></i>)
				        </li>
			        <% end %>
			      <% end %>
			      <% unless added %>
			        <li><i>Not mapped to any program outcomes for this program.</i></li>
			      <% end %>
			    </ul>
		      <% end %>
		    </ul>
		  </div>
	   </td>
       <td nowrap="nowrap">
         <%= link_to 'Edit', :action => 'edit_template_outcome', :template => @course_template, :outcome => outcome, :id => @program %> |
         <%= link_to 'Reorder', :action => 'reorder_template_outcome', :template => @course_template, :outcome => outcome, :id => @program %> |
         <%= link_to 'Delete', { :action => 'destroy_template_outcome', :template => @course_template, :outcome => outcome, :id => @program }, :confirm => "Are you sure you want to delete the course template outcome '#{outcome.outcome}' and all of it's associated data? This action can not be undone." %>
       </td>
   <% end %>

</table>

<% end %>

