<p><%= link_to 'Back', :controller => '/program', :action => 'templates', :id => @program, :course => nil %></p>

<div class="SectionHeader"><div class="Full">
<h2>Course Template Outcomes to Program Outcomes report<br/>
	'<%=h @course_template.title%>' (<%= @course_template.start_date %>) </h2>
</div></div>

<br/>
<p><%= link_to "#{image_tag 'page_white_excel.png', :align => 'absmiddle'} Export this report as a spreadsheet", :controller => '/program', :template => @course_template, :action => 'view_course_template_to_program_outcomes', :id => @program, :format => 'csv' %></p>

<%= render :partial => 'instructor/outcomes/course_program_report_part' %>