<h2>Editing I/O Test '<%= @io_check.name %>' for '<%= @assignment.title %>'</h2>

<% form_tag({:action => 'update', :id => @io_check}, {:class => 'form-horizontal'}) do %>
  <%= render(:partial => 'form') %>
 
  <%= submit_tag('Save Changes', {:class => 'btn btn-primary'}) %>
  <%= link_to('Back / Cancel', {:action => 'index'}, {:class => 'btn'}) %>
<% end %>
