<%= link_to 'Back to Assignment', {:controller => '/instructor/course_assignments', :action => 'autograde', :id => @assignment, :course => @course, :assignment => nil}, {:class => 'btn'} %>

<h3>IO AutoGrade Settings for '<%= @assignment.title %>'</h3>

<% if @io_checks.size == 0 %>
	<div class="alert">There are no I/O checks configured for this assignment.</div>
<% else %>
    
<table class="table table-striped table-condensed">
  <tr>
	<th valign="bottom">Name</th>
	<th>Visible before release</th>
	<th>Input available after release</th>
	<th>Controls</th>
  </tr>

   <% count = 0 %>
   <% for check in @io_checks %>
     <% count = count.next 
	   odd = "odd"
	   odd = "even" if count.even?
  	  %>
	  <tr class="<%=odd%> hover" id="check_<%=check.id%>">
		 <td><%= check.name %></td>
		 <td><% if check.student_level %><i class="icon-ok"></i> Yes <% else %><i class="icon-remove"></i> No <%end %></td>
		 <td><% if check.show_input %><i class="icon-ok"></i> Yes <% else %><i class="icon-remove"></i> No <%end %></td>
		 <td>
		   <div class="btn-group">
		   <%= link_to 'Edit', {:action => 'edit', :id => check, :course => @course, :assignment => @assignment}, {:class => 'btn btn-info btn-mini'} %>
		   <%= link_to 'Delete', { :action => 'destroy', :id => check, :course => @course, :assignment => @assignment  }, :confirm => "Are you sure you want to delete the I/O Test '#{check.name}' and all of it's associated data including reports of previously run student code? This action can no be undone.", :method => :post, :class => 'btn btn-danger btn-mini' %>	
		   </div>
		 </td>
      </tr>
   <% end %>
</table>

<% end %>

<%= link_to 'New I/O Test', {:action => 'new'}, {:class => 'btn btn-primary'} %>

