<h2>New I/O Test for '<%= @assignment.title %>'</h2>

<p><%= link_to 'Back / Cancel', :action => 'index' %></p>

<div id="form_area">

<% form_tag( :action => 'create' ) do %>
  <%= render :partial => 'form' %>
 
  <div class="submit">
    <%= submit_tag "Create New I/O Test" %>
  </div>
<% end %>

</div>

<p><%= link_to 'Back / Cancel', :action => 'index' %></p>
