<h2>Send Email to users (select below)</h2>

<% form_tag( {:action => 'send_email', :id => nil}, {:class => 'form-horizontal'} ) do %>

<% if @course.assistants.size > 0 %>
<h3>TA/Grader(s) for <%= @course.title %></h3>
<div id="assistant_error"> </div>
<div id="assistant">
 <div class="btn-group">
	<input type="button" name="CheckAll" value="Check All" onClick="checkAllAssistants();" class="btn btn-success">
	<input type="button" name="UnCheckAll" value="Uncheck All" onClick="uncheckAllAssistants();" class="btn btn-danger">
 </div>
<% @users = @course.assistants %>
    <% for user in @users %>
      <%= check_box_tag("user_#{user.id}", value = "1", checked = @users_hash[user.id] ) %> <%= user.display_name %> (<%= user.email %>) <br/>
    <% end %>

</div>

<script language="javascript">
<!-- Begin
function checkAllAssistants()
{
  <% @users = @course.assistants %>
  <% for user in @users %>
    document.getElementById('user_<%= user.id %>').checked = true;
  <% end %>	
}

function uncheckAllAssistants()
{
  <% @users = @course.assistants %>
  <% for user in @users %>
    document.getElementById('user_<%= user.id %>').checked = false;
  <% end %>
}
//  End -->
</script>
<% end %>

<h3>Students(s) for <%= @course.title %></h3>
<div id="student_error"> </div>
<div id="student">
 <div class="btn-group">
	<input type="button" name="CheckAll" value="Check All" onClick="checkAllStudents();" class="btn btn-success">
	<input type="button" name="UnCheckAll" value="Uncheck All" onClick="uncheckAllStudents();" class="btn btn-danger">
 </div>
    <% @users = @course.students %>
    <% for user in @users %>
      <%= check_box_tag("user_#{user.id}", value = "1", checked = @users_hash[user.id] ) %> <%= user.display_name %> (<%= user.email %>) <br/>
    <% end %>
</div>

<script language="javascript">
<!-- Begin
function checkAllStudents()
{
  <% @users = @course.students %>
  <% for user in @users %>
    document.getElementById('user_<%= user.id %>').checked = true;
  <% end %>	
}

function uncheckAllStudents()
{
  <% @users = @course.students %>
  <% for user in @users %>
    document.getElementById('user_<%= user.id %>').checked = false;
  <% end %>
}
//  End -->
</script>

<% if @course.guests.size > 0 %>
<h3>Guest(s) for <%= @course.title %></h3>
<div id="guest_error"> </div>
<div id="guest">
 <div class="btn-group">
	<input type="button" name="CheckAll" value="Check All" onClick="checkAllGuests();" class="btn btn-success">
	<input type="button" name="UnCheckAll" value="Uncheck All" onClick="uncheckAllGuests();" class="btn btn-danger">
 </div>
    <% @users = @course.guests %>
    <% for user in @users %>
      <%= check_box_tag("user_#{user.id}", value = "1", checked = @users_hash[user.id] ) %> <%= user.display_name %> (<%= user.email %>) <br/>
    <% end %>
</div>
<script language="javascript">
<!-- Begin
function checkAllGuests()
{
  <% @users = @course.guests %>
  <% for user in @users %>
    document.getElementById('user_<%= user.id %>').checked = true;
  <% end %>	
}

function uncheckAllGuests()
{
  <% @users = @course.guests %>
  <% for user in @users %>
    document.getElementById('user_<%= user.id %>').checked = false;
  <% end %>
}
//  End -->
</script>
<% end %>

<hr/>

<div class="control-group">
  <label for="email_subject" class="control-label">Email Subject</label>
  <div class="controls">
    <%= text_field_tag 'email_subject', @email_subject, :class => 'input-xxlarge' %>
  </div>
</div>

<div class="control-group">
  <label for="email_body" class="control-label">Email Body</label>
  <div class="controls">
    <%= text_area_tag 'email_body', @email, {:class => 'input-xxlarge', :rows => 10}  %>
  </div>
</div>

  <%= submit_tag('Send Email', :class => 'btn btn-primary') %>
  <%= link_to('Cancel', {:controller => '/instructor/index', :action => nil, :class => @class, :id => nil}, {:class => 'btn'}) %>
<% end %>
