<h2>Edit Rubric for '<%=h @assignment.title%>'</h2>

<%= error_messages_for('rubric', :class => 'alert alert-error') %>	
<% form_tag( {:action => 'update', :course => @course, :assignment => @assignment, :id => @rubric}, {:class => 'form-horizontal'}) do %>
  <%= render :partial => 'form' %>
 
  <%= submit_tag "Update Rubric", :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', {:controller => '/instructor/rubrics', :course => @course, :assignment => @assignment}, {:class => 'btn'} %>
<% end %>