<div class="btn-group">
  <%= link_to 'Back to Assignment', {:controller => '/instructor/course_assignments', :action => 'edit', :course => @course, :id => @assignment, :assignment => nil}, {:class => 'btn'} %>
  <%= link_to 'Turnins for this Assignment', {:controller => '/instructor/turnins', :action => nil, :course => @course, :id => nil, :assignment => @assignment}, {:class => 'btn'} %>
  <%= link_to 'View All Assignments', {:controller => '/instructor/course_assignments', :action => nil, :course => @course, :id => nil, :assignment => nil}, {:class => 'btn'} %>
</div>

<h2>Rubrics for '<%=h @assignment.title%>'</h2>
	
<p>	
  <%= link_to '<i class="icon-plus-sign icon-white"></i> Create new rubric', {:controller => '/instructor/rubrics', :action => 'new', :course => @course.id, :assignment => @assignment}, {:class => 'btn btn-primary'} %> 
  <% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_course_assignments) %>
   <%= link_to '<i class="icon-random icon-white"></i> Reorder Rubrics', {:action => 'reorder', :course => @course}, {:class => 'btn btn-success'} %>
  <% end %>  

  <% if @all_rubrics.size > 0 %>
    <%= link_to_function '<i class="icon-download icon-white"></i> Copy rubric from another assignment.', "blindToggle('import')", {:class => 'btn btn-warning'} %>

	<div id="import" class ="sub_form" style="display:none;">
	<div id="form_area">
	  <% form_tag( :action => 'import_rubric', :course => @course, :assignment => @assignment ) do %>

	  <p class="blockintro">Copy a rubric from another assignment into this assignment.</p>
	  <div class="block">
	    <% # build options list
	       options = ""
	       @all_rubrics.each do |rubric|
		     unless rubric.assignment_id == @assignment.id
			   import_title =
			     if rubric.assignment_id == 0
				   "(no assignment) #{rubric.primary_trait}"
				 else
				   "(#{rubric.assignment.title}) #{rubric.primary_trait}" 
				 end
			   if import_title.length > 100 
			     import_title = "#{import_title[0...90]} ... #{import_title[-10..-1]}"	
			   end
			
		       options = "#{options}\n    <option value=\"#{rubric.id}\">#{import_title}</option>"
		     end
		   end
	     %>
	    <p><label for="id" class="required">Copy rubric:</label>
		   <%= select_tag 'id', options %></b> </p>
	  </div>

	  <div class="submit">
		<%= submit_tag "Copy selected rubric into this assignment" %>
	  </div>
	</div>
	</div>
    <% end %>

  <% end %>
</p>
	
<% if @assignment.rubrics.length == 0 %>
  <div class="alert alert-info">There are no rubrics for this assignment.</div>
<% else %>


<table class="table table-compact table-striped">
  <tr class="header">
	<th>#</td>
    <th width="18%">Rubric</th>
	<th width="18%"><%= @rubric_level.l4_name %></th>
	<th width="18%"><%= @rubric_level.l3_name %></th>
	<th width="18%"><%= @rubric_level.l2_name %></th>
	<th width="18%"><%= @rubric_level.l1_name %></th>
	<th></th>
  </tr>

  <% row_count = 0 %>
  <% for rubric in @assignment.rubrics %>
	 <% row_count = row_count.next 
	    odd = "odd"
        odd = "even" if row_count.even? %>
    <tr class="<%=odd%> hover" id="rubric_<%=rubric.id%>">
	  <td align="left" valign="top"><%= row_count %></td>	 
	  <td align="left" valign="top"><%=h rubric.primary_trait %></td>
	  <td align="left" valign="top"><%=h rubric.no_credit_criteria %> (<i><%= rubric.no_credit_points %> points</i>)</td>
	  <td align="left" valign="top"><%=h rubric.part_credit_criteria %> (<i><%= rubric.part_credit_points %> points</i>)</td>
	  <td align="left" valign="top"><%=h rubric.full_credit_criteria %> (<i><%= rubric.full_credit_points %> points</i>)</td>
      <td align="left" valign="top">
         <% if rubric.above_credit_criteria.nil? %>
           <i>N.A.</i>
         <% else %>
           <%= rubric.above_credit_criteria %> (<i><%= rubric.above_credit_points %></i>)
         <% end %>
	</td>
	  <td align="left" valign="top" nowrap="nowrap">
		<%= link_to '<i class="icon-edit"></i> Edit', :controller => '/instructor/rubrics', :action => 'edit', :course => @course, :assignment => @assignment, :id => rubric %><br/>
		<%= link_to '<i class="icon-remove"></i> Delete', {:controller => '/instructor/rubrics', :action => 'destroy', :course => @course, :assignment => @assignment, :id => rubric}, :confirm => "Are you sure you want to delete the rubric '#{rubric.primary_trait}' and all of it's associated data? This action can not be undone." %>
	  </td>
	</tr>
	<tr class="<%=odd%> hover" id="rubric_<%=rubric.id%>_outcomes">
	  <td align="right" valign="top" colspan="2"><i>Course outcomes:</i></td>
	  <td align="left" valign="top" colspan="5">
		<% if rubric.course_outcomes.size == 0 %>
		  <i>No course outcomes mapped to this rubric.</i>
	    <% else %>
	      <ul>
		    <% for co in rubric.course_outcomes %>
		      <li><%= @numbers[co.id] %>) <%= co.outcome %></li>
		    <% end %>
		  </ul>
	    <% end %>
	  </td>
	</tr>
  <% end %>

</table>
	
<% end %>	

