<h2>New Rubric for '<%=h @assignment.title%>' </h2>

<%= error_messages_for('rubric', :class => 'alert alert-error') %>	
<% form_tag( {:action => 'create', :course => @course, :assignment => @assignment}, {:class => 'form-horizontal'} ) do %>
  <%= render :partial => 'form' %>

  <%= submit_tag "Create Rubric", :class => 'btn btn-primary' %>
  <%= link_to 'Back to all rubrics', {:controller => '/instructor/rubrics', :course => @course, :assignment => @assignment}, {:class => 'btn'} %>
<% end %>