<table class="table table-condensed">
 <% for note in @notifications %>
  <tr><td id="nid<%= note.id %>">
	<% unless note.acknowledged %><span class="label label-success">New</span><% end %>
	<%= note.notification %><br/>
	<% unless note.link.nil? %>
	  <a href="<%= note.link %>"><%= note.link %></a>
	<% end %>
	<% unless note.acknowledged %>
	  <%= link_to_remote "Mark Read.",
        :url => { :controller => '/notifications', :action => "ack", :id => note },
        :complete => "jQuery(\"\#nid\" + note.id ).addClass(\"read_notification\'\");" %>
    <% end %>
  </td></tr>
 <% end %>
</table>