<% if @login_error %>
<div class="alert alert-error"><%= @login_error %></div>
<% end %>

<% if session && ! session[:post_login].nil? && ! session[:post_login].eql?('') %>
<div class="alert alert-info"><a class="close" data-dismiss="alert">×</a>Your previous previous request has been saved and will be processed after logging in.</div>
<% end %>	


<h2><%= @app['title'] %> - CascadeLMS</h2>


<% if 'shibboleth'.eql?(@authtype) %>
 <div class="row-fluid">
  <div class="span6" style="align: center">
    <%= link_to "Login with your #{@app['organization']} credentials.", {:controller => '/index', :action => 'shibboleth'}, :class => 'btn btn-large btn-success' %>
  </div>
  <div class="span6" style="align: center">
	<!-- TODO(mikehelmick): Support auditor standalone login -->
  </div>
 </div>
<% else %>

<% form_tag( {:action => 'login'}, {:class => 'form-horizontal'} ) do %>
 <fieldset>
    <legend><strong>Please login:</strong> Enter your username and password.</legend>
    <div class="control-group">
      <label for="user_uniqueid" class="control-label">Username:</label>
      <div class="controls">
        <%= text_field 'user', 'uniqueid', 'tabindex' => '1', :class => 'input-large', :autofocus => 'autofocus' %> 
      </div>
    </div>
    <div class="control-group">
	  <label for="user_password" class="control-label">Password:</label>
	  <div class="controls">
        <%= password_field 'user', 'password', 'tabindex' => '2', :class => 'input-large'  %>
      </div>
	</div>
  </fieldset>


  <%= submit_tag 'Login', 'tabindex' => '3', :class => 'btn btn-large btn-primary' %>
  <% if @app['authtype'].eql?('basic') %>
    <%= link_to 'Help! I forgot my password!', {:controller => '/index', :action => 'forgot'}, :class => 'btn btn-large btn-warning' %>
  <% end %>
  <% if @app['auth_self_registration'].eql?('true') %>
    <%= link_to 'Create a new account.', {:controller => '/index', :action => 'register'}, :class => 'btn btn-large btn-success' %>
  <% end %>
<% end %>
<% end %>