<%= error_messages_for('journal_task', {:class => 'alert alert-error'}) %>

<ul class="unstyled">
  <% for jt in @journal_tasks %>
    <li id="task_<%=jt.id%>">
      <% unless @jt_in_use[jt.id] %>
        <%= link_to_remote( '<i class="icon-remove"></i>', :url => { :action => 'del_task', :course => @course.id, :id => jt.id }, :confirm => "Delete the journal task '#{jt.task}'?", :success => "new Effect.Puff( 'task_#{jt.id}' )", :failure => "alert('There was an error deleting this task.');" ) %>
        <%= jt.task %>
      <% else %>
        <i class="icon-ok"></i> <%= jt.task %> -- (<i>In Use, cannot be deleted</i>)
      <% end %>
	 </li>
  <% end %>
<ul>