<h2>Journal Settings for <%= @course.title %></h2>

<p>You can edit the journal tasks and journal stop reasons that show up on student journals. 
Journal entry tasks and stop reasons can be added and removed, as long as they are not already in use.</p>

<h3>Journal Tasks</h3>
<div id="journal_tasks">
 <%= render :partial => 'tasks' %>
</div>

<div class="form-inline">
 <% form_remote_tag( :update => 'journal_tasks', :url => { :action => 'add_task', :id => @course }, :complete => "new Effect.Highlight('journal_tasks');" ) do %>
  <label for="id">New Journal Task:</label> 
  <%= text_field_tag 'journal_task', '', :size => 60 %>
  <%= submit_tag('Add', {:class => 'btn btn-primary'}) %>
 <% end %>
</div>

<h3>Journal Stop Reasons</h3>
<div id="journal_stop_reasons">
	<%= render :partial => 'stop_reasons' %>
</div>

<div class="form-inline">
 <% form_remote_tag( :update => 'journal_stop_reasons', :url => { :action => 'add_stop_reason', :id => @course }, :complete => "new Effect.Highlight('journal_stop_reasons');" ) do %>
  <label for="id">New Journal Stop Reason:</label> 
  <%= text_field_tag 'journal_stop_reason', '', :size => 60 %>
  <%= submit_tag('Add', :class => 'btn btn-primary') %><br/>
 <% end %>
</div>