<h2>Rubric Levels for <%= @course.title %></h2>

<p>Rubrics in CascadeLMS are 4 level rubrics, with the defaults of <span class="badge badge-success">Excellent</span>, <span class="badge badge-warning">Proficient</span>, <span class="badge">Apprentice</span>, and <span class="badge badge-inverse">Novice</span>. On this screen, you can customize these levels.</p>

<h3>Rubric Levels</h3>

<%= error_messages_for('rubric_level', {:class => 'alert alert-error'}) %>	
<% form_tag( {:action => 'save_rubric_levels', :course => @course}, {:class => 'form-horizontal'} ) do %>

 <div class="control-group">
   <label for="rubric_level_l1_name" class="control-label">Level 1: <span class="badge badge-success">Excellent</span></label>
   <div class="controls">
     <%= text_field('rubric_level', 'l1_name', :class => 'input') %>
   </div>
 </div>

 <div class="control-group">
   <label for="rubric_level_l2_name" class="control-label">Level 2: <span class="badge badge-warning">Proficient</span></label>
   <div class="controls">
     <%= text_field('rubric_level', 'l2_name', :class => 'input') %>
   </div>
 </div>

 <div class="control-group">
   <label for="rubric_level_l3_name" class="control-label">Level 3: <span class="badge">Apprentice</span></label>
   <div class="controls">
     <%= text_field('rubric_level', 'l3_name', :class => 'input') %>
   </div>
 </div>

 <div class="control-group">
   <label for="rubric_level_l4_name" class="control-label">Level 4: <span class="badge badge-inverse">Novice</span></label>
   <div class="controls">
     <%= text_field('rubric_level', 'l4_name', :class => 'input') %>
   </div>
 </div>
 
 <%= submit_tag("Update Rubric Levels", {:class => 'btn btn-primary'}) %>
 <%= link_to('Cancel', {:controller => '/instructor/index', :action => nil, :course => @course, :id => nil}, {:class => 'btn'})%>
<% end %>
