<%
  item_type = "Quiz"
  item_type = "Survey" if @quiz.survey
%>

<div class="GoodMessage">
	<% if !@assignment.past? %>
	   due in <%= distance_of_time_in_words_to_now( @assignment.due_date, true ) %>
	<% elsif !@extension.nil? && !@extension.past? %>
	   Your extension expires in <%= distance_of_time_in_words_to_now( @extension.extension_date, true ) %>
	<% end %>
</div>

<b><%= item_type %> in progress: <%= image_tag 'spinner.gif' %></b>
<ul>
<% if @quiz.show_elapsed %>	
  <li><b>Start Time:</b> <%= @quiz_attempt.created_at.to_formatted_s(:long) %></li>
  <ul>
	<li><b>Which is:</b> <%= distance_of_time_in_words_to_now( @quiz_attempt.created_at, true )%> ago</li>
  </ul>
<% end %>
  <li><b>Last Save Time:</b>
    <% if @quiz_attempt.created_at.eql?(@quiz_attempt.updated_at) %>
      <i>Answers have not been saved.</i></li>
	<% else %>
	  <%= @quiz_attempt.updated_at.to_formatted_s(:long) %></li>
	  <ul>
		<li><b>Which is:</b> <%= distance_of_time_in_words_to_now( @quiz_attempt.updated_at, true )%> ago</li>
	  </ul>
	<% end %>
</ul>

<hr/>
<p><b>Due Date Information: You MUST save your answers before the final turnin deadline.</b><p>
<ul> 
  <li>Date Available:<br/><%= @assignment.open_date.to_formatted_s(:friendly_date) %> </li>
  <li>Due Date: <br/><%= @assignment.due_date.to_formatted_s(:friendly_date) %> </li>
  <li>Last Submission Date: <br/><%= @assignment.close_date.to_formatted_s(:friendly_date) %> </li>
  <% unless @extension.nil? %>
    <li>Your Extension Date: <br/><%= @extension.extension_date.to_formatted_s(:friendly_date) %></li>
  <% end %>
</ul>
