<%
  item_type = "Quiz"
  item_type = "Survey" if @quiz.survey
%>

<%= item_type %> in progress: <%= image_tag 'spinner.gif' %>
<ul>
  <li><b>Start Time:</b> <%= @quiz_attempt.created_at.to_formatted_s(:long) %></li>
  <ul>
	<li><b>Which is:</b> <%= distance_of_time_in_words_to_now( @quiz_attempt.created_at, true )%> ago</li>
  </ul>
  <li><b>Last Save Time:</b>
    <% if @quiz_attempt.created_at.eql?(@quiz_attempt.updated_at) %>
      <i>Answers have not been saved.</i></li>
	<% else %>
	  <%= @quiz_attempt.created_at.to_formatted_s(:long) %></li>
	  <ul>
		<li><b>Which is:</b> <%= distance_of_time_in_words_to_now( @quiz_attempt.updated_at, true )%> ago</li>
	  </ul>
	<% end %>
</ul>