<% 
 public_feed = false
 begin
   unless public_mode.nil?
     public_feed = public_mode
   end
 rescue
 end
%>

<% unless public_feed %>
<div class="row" style="padding: 2px; margin-bottom: 10px;">
 <div class="span1"></div>
 <div class="span1">
	<img id="avatar" src="<%= @user.gravatar_url(request.ssl?) %>" />
 </div>
 <div class="span9">
   <div class="stream-item">
     <span class="stream-item-label">Share an update with your friends and classmates</span>
     <%= text_area_tag('initial-status', '', {:class => 'input-xxlarge', :rows => 1, :placeholder => "What's on your mind?", :id => 'initial-status', :onfocus => 'new Element.toggle("initial-status"); new Element.toggle("status-pane")'}) %>

     <div id="status-pane" style="display: none;">
     <% form_tag({:controller => 'profile', :action => 'status', :feed => @feed_id}, :class => 'form-horizontal') do %>
	  <%= text_area_tag('status', '', {:class => 'input-xxlarge', :rows => 4, :placeholder => "What's on your mind?", :rel => editor_rel()}) %>
	  <div class="control-group">
		Share to
		  <%= check_box_tag('followers', true, @feed_id == @user.feed.id) %> Your Followers
		  <% for cu in @user.courses_in_term( @term ) %>
		     <%= check_box_tag("c#{cu.course_id}", true, @feed_id == cu.course.feed.id) %> <%=h cu.course.title %>
		  <% end %>
		  <p class="help-block">Posts shared with your follows are public to any user.</p>
	  </div>
	  <%= submit_tag 'Post Update', :class => 'btn btn-primary' %>
	 <% end %>
     </div>
   </div>
 </div>
</div>
<% end %>

<% if @feed_items.size == 0 %>
  <div class="alert alert-info">No posts yet.</div>
<% else %>
<% day_ago = Time.now - 60*60*24 %>
<% for feed_item in @feed_items %>
 <% unless feed_item.item.nil? %>
   <% unless public_feed %>
     <%= render :partial => '/post/post', :locals => {:item => feed_item.item, :day_ago => day_ago} %>
   <% else %>
     <%= render :partial => '/post/public_post', :locals => {:item => feed_item.item, :day_ago => day_ago} %>
   <% end %>
 <% end %>
<% end %>

<div class="pagination">
 <ul>
	<% 1.upto(@pages.page_count) do |i| %>
	<li <%= 'class="active"' if i == @page %>>
	  <%= link_to i, { :page => i } %>
	</li>
	<% end %>
 </ul>
</div>
<% end %>