<h2><%= @user.display_name %>'s Dashboard</h2>
<p><b>Current Term: </b> <%= image_tag 'calendar.png', :align => 'absmiddle' %><%= @term.semester %></p>


<% if @app['enable_portfolios'].eql?('true') %>
<h2>My ePortfolio</h2>
<ul>
  <% if @app['enable_public_portfolios'].eql?('true') %>
    <li><%= image_tag 'layout_edit.png', :align => 'absmiddle' %> Manage my public portfolio</li>
    <li><%= image_tag 'layout_content.png', :align => 'absmiddle' %> View my public portfolio</li>
  <% end %>
    <li><%= image_tag 'report_key.png', :align => 'absmiddle' %> <%= link_to 'Generate my complete portfolio', :controller => '/portfolio', :action => 'generate' %></li>
</ul>
<% end %>


<% ci = @user.courses_instructing( @term ) %>
<% if ci.size > 0 %>
 <h2>Courses You're Teaching</h2>
 <ul>
 <% for cu in ci %>
   <li><%= cu.course.title %>
   <% unless cu.course_instructor %>
   <i>Assistant</i>
   <% end %>
   </li>
 <% end %>
 </ul>
<% end %>

<h2>Your Courses</h2>
<% ct = @user.courses_as_student_or_guest( @term ) %>
<% if ct.size > 0%>
<ul>
  <% for cu in ct %>
    <li><%= cu.course.title %>
    <% unless cu.course_student %>
    <i>Guest</i>
    <% end %>
    </li>
  <% end %>
</ul>
<% else %>
<p>You are not enrolled in any courses during this term.  If this is incorrect, please contact your instructor.</p>
<% end %>