<h2>Reorder Courses for <%= @term.semester %></h2>

<div id="reorder">
  <p>Drag and Drop the course to order.</p>
  <ul id="course-order">
    <% for course in @courses %>
      <li id="course_<%= course.id %>"><i class="icon-random"></i>
        <b><%= course.course.title %>  -  (Instructor(s): <%= course.course.instructors.join(', ') %>)</b>
      </li>
    <% end %>
  </ul>
  <%= link_to "Done Reordering", {:controller => '/home', :action => nil, :id => nil}, {:class => "btn btn-success"} %>
</div>

<%= sortable_element 'course-order', 
    :url => { :action => 'sort_courses' },
    :complete => visual_effect(:highlight, 'course-order')
%>