<%= render :partial => 'wikihead' %>

<%= error_messages_for('pg', :class => 'alert alert-error') %>
<h2>Editing Wiki page '<%= @page.page %>'</h2>

<% form_tag( {:action => 'save', :id => @page.page}, {:class => 'form-horizontal'} ) do %>
 <%= render :partial => 'forums/formatting', :locals => { :wiki => true }%>

 <fieldset>
	<div class="control-group">
	  <label for="pg_content" class="control-label">Page content:</label>
	  <div class="controls">
	   <%= text_area 'pg', 'content', {:class => 'input-xxlarge', :rows => 25, :rel => 'wysihtml5'}  %>       
     </div>
   </div>
  </fieldset>

  <%= submit_tag 'Save Changes', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', {:course => @course, :action => 'page', :id => @page.page}, {:class => 'btn'} %>
<% end %>


<hr/>
<h3>Current page content...</h3>

<div class="well">
<%= @page.content_html %>
</div>

<%= render :partial => 'wikifoot' %>