<%= render :partial => 'wikihead' %>

<%= error_messages_for('page', :class => 'alert alert-error') %>

<h2><%= @page.page %></h2>

<%= @page.content_html %>

<hr/>
<%= render :partial => 'wikifoot' %>