<% public = false if public.nil? %>
<h2>Documents for <%= @course.title %></h2>

<ul class="breadcrumb">
 <li><%= link_to 'All Documents', :action => 'index', :id => 0 %><span class="divider">/</span></li>
  <% dir_arr = Array.new
   unless @folder.nil?
     cur_f = @folder
     while !cur_f.nil?     
       dir_arr << link_to( "#{cur_f.title}", :action => 'index', :id => cur_f )
	   cur_f = cur_f.parent_document()
	 end
   end
   dir_arr.reverse!
   for fold in dir_arr
   %>
     <li><%= fold %> <span class="divider">/</span></li>
   <% end %>

<% if !@folder.nil? && @folder.podcast_folder %>
<br/>
This folder is a podcast: <%= link_to '<i class="icon-headphones"></i> Subscribe', :action => 'subscribe', :course => @course.id, :id => @folder_id %>  
<% end %>
</ul>

<% if @documents.size == 0 %>
  <div class="alert alert-info">There are no documents in this folder.</div>
<% else %>
<%= render :partial => '/documents/pages' %>
  <table class="table table-striped">
    <tr>
	  <th>Title</th>
	  <th>Filename</th>
	  <th>Size</th>
	  <th>Published At</th>
	</tr>

    <% for document in @documents %>
	  <tr id="documet_<%=document.id%>">
	    <% unless public %>
		  <td>
		    <%= render :partial => '/documents/download_link', :locals => {:document => document, :course => @course}%>
		  </td>
		  <td><% unless document.folder %><%= link_to "#{document.filename}", :action => 'download', :course => @course.id, :id => document, :file => document.without_extension, :extension => document.extension %><% end %> &nbsp;</td>
		
		<% else %>
		
		  <td>
		    <% if document.folder %>   
		      <%= link_to "<i class=\"#{document.icon_file}\"></i> #{document.title}", :controller => '/public/documents', :action => 'index', :course => @course.id, :id => document %> 
		      <% if document.podcast_folder %>
		        <%= link_to '<i class="icon-headphones"></i> Subscribe', :controller => '/public/documents', :action => 'subscribe', :course => @course.id, :id => document %>
		      <% end %>
		    <% else %>
		      <%= link_to "<i class=\"#{document.icon_file}\"></i> #{document.title}", :controller => '/public/documents', :action => 'download', :course => @course.id, :id => document %>
		    <% end %>
		  </td>
		  <td><% unless document.folder %><%= link_to "#{document.filename}", :controller => '/public/documents', :action => 'download', :course => @course.id, :id => document %> <% end %>&nbsp;</td>
		
		<% end %>
		<td><% unless document.folder %><%=h document.size_text %><% end %> &nbsp;</td>
		<td><%=h document.created_at.to_formatted_s(:long) %></td>
	  </tr>
	  <% if !document.comments.nil? && !document.comments.eql?('') %>
	  <tr>
		<td><b>Comments:</b></td>
	    <td colspan="3"><%= document.comments_html %></td>
	  </tr>
	  <% end %>
    <% end %>

  </table>

<%= render :partial => '/documents/pages' %>

<% end %>