<% public = false if public.nil? %>

<h2>Documents for <%= @course.title %></h2>

<p><b>Folder Navigation: </b>
  <%= link_to 'root://', :action => 'index', :id => 0 %>	
  
  <% dir_arr = Array.new
   unless @folder.nil?
     cur_f = @folder
     while !cur_f.nil?     
       dir_arr << link_to( "#{cur_f.title}", :action => 'index', :id => cur_f )
	   cur_f = cur_f.parent_document()
	 end
   end
   dir_arr.reverse!
   for fold in dir_arr
   %>
     <%= fold %> /
   <% end %>

<% if !@folder.nil? && @folder.podcast_folder %>
<br/>
This folder is a podcast: <%= link_to "#{image_tag 'ipod_cast.png'} Subscribe", :action => 'subscribe', :course => @course.id, :id => @folder_id %>  
<% end %>

</p>

<% if @documents.size == 0 %>
  <p><i>There are no documents in this folder.</i></p>
<% else %>

<%= render :partial => '/documents/pages' %>

  <table class="fancy" width="99%">
    <tr class="header">
	  <th>Title</th>
	  <th>Filename</th>
	  <th>Size</th>
	  <th>Published At</th>
	</tr>

    <% count = 0 %>
    <% for document in @documents %>
      <% count = count.next 
	     odd = "odd"
	     odd = "even" if count.even? %>
	  <tr class="<%=odd%> hover" id="documet_<%=document.id%>">
	    <% unless public %>
		  <td>
		    <% if document.folder %>   		      
		      <%= link_to "#{image_tag document.icon_file, :align=> 'absmiddle'} #{document.title}", :action => 'index', :course => @course.id, :id => document %> 
		      <% if document.podcast_folder %>
		        <%= link_to "#{image_tag 'ipod_cast.png'} Subscribe", :action => 'subscribe', :course => @course.id, :id => document %>
		      <% end %>
		
		      <% if @instructor %>
			    &nbsp;&nbsp;(<%= link_to "#{image_tag 'page_edit.png', :align=>'absmiddle'} Edit", :controller => '/instructor/course_docs', :action => 'edit', :course => @course, :id => document %>)
			  <% end %>
		    <% else %>
		      <%= link_to "#{image_tag document.icon_file, :align=> 'absmiddle'} #{document.title}", :action => 'download', :course => @course.id, :id => document, :file => document.without_extension, :extension => document.extension %>
		
		      <% if @instructor %>
			    &nbsp;&nbsp;(<%= link_to "#{image_tag 'page_edit.png', :align=>'absmiddle'} Edit", :controller => '/instructor/course_docs', :action => 'edit_folder', :course => @course, :id => document %>)
			  <% end %>
		    <% end %>
		  </td>
		  <td><% unless document.folder %><%= link_to "#{document.filename}", :action => 'download', :course => @course.id, :id => document, :file => document.without_extension, :extension => document.extension %><% end %> &nbsp;</td>
		
		<% else %>
		
		  <td>
		    <% if document.folder %>   
		      <%= link_to "#{image_tag document.icon_file, :align=> 'absmiddle'} #{document.title}", :controller => '/public/documents', :action => 'index', :course => @course.id, :id => document %> 
		      <% if document.podcast_folder %>
		        <%= link_to "#{image_tag 'ipod_cast.png'} Subscribe", :controller => '/public/documents', :action => 'subscribe', :course => @course.id, :id => document %>
		      <% end %>
		    <% else %>
		      <%= link_to "#{image_tag document.icon_file, :align=> 'absmiddle'} #{document.title}", :controller => '/public/documents', :action => 'download', :course => @course.id, :id => document %>
		    <% end %>
		  </td>
		  <td><% unless document.folder %><%= link_to "#{document.filename}", :controller => '/public/documents', :action => 'download', :course => @course.id, :id => document %> <% end %>&nbsp;</td>
		
		<% end %>
		<td><% unless document.folder %><%=h document.size_text %><% end %> &nbsp;</td>
		<td><%=h document.created_at.to_formatted_s(:long) %></td>
	  </tr>
	  <% if !document.comments.nil? && !document.comments.eql?('') %>
	  <tr>
		<td><b>Comments:</b></td>
	    <td colspan="3"><%= document.comments_html %></td>
	  </tr>
	  <% end %>
    <% end %>

  </table>

<%= render :partial => '/documents/pages' %>

<% end %>