<div class="row" style="padding: 2px; margin-bottom: 10px;">
 <div class="span1"></div>
 <div class="span1">
	<% unless item.user.nil? %>
	  <img id="avatar" src="<%= item.user.gravatar_url(request.ssl?) %>" /><br/>
	<% end %>
 </div>
 <div class="span9">
   <div class="stream-item">
	<span class="stream-item-label">
    <% unless item.user.nil? %>
      By: <%= link_to "#{item.user.display_name}", :controller => '/profile', :action => 'view', :id => item.user.id, :course => nil, :assignment => nil %> /
    <% end %>
    <% if item.created_at > day_ago %>
      <%= link_to "#{item.created_at.to_formatted_s(:social_time)}", :controller => '/post', :id => item.id, :course => nil, :assignment => nil, :action => 'view' %>
	<% else %>
	  <%= link_to "#{item.created_at.to_formatted_s(:social_date)}", :controller => '/post', :id => item.id, :course => nil, :assignment => nil, :action => 'view' %>
	<% end %>
	
	<% unless item.course.nil? %>
	  / <%= link_to "#{h item.course.title}", :controller => '/overview', :course => item.course, :id => nil %>
	    <%= "(#{item.course.term.semester})" unless item.course.term.current %>
	<% end %>
	
	<% if !item.assignment_id.nil? && item.assignment_id > 0 %>
	  <% unless item.assignment.quiz.nil? %>
	    <% if item.assignment.quiz.survey %>
	     / Survey:
	    <% else %>
	     / Quiz:
	    <% end %>
	    <%= link_to "#{h item.assignment.title}", {:controller => '/quiz', :action => 'start', :course => item.assignment.course, :id => item.assignment_id} %>
	  <% else %>
	    / Assignment: <%= link_to "#{h item.assignment.title}", {:controller => '/assignments', :course => item.assignment.course, :action => 'view', :id => item.assignment_id} %>
	  <% end %>
	<% end %>
	<% if !item.graded_assignment_id.nil? && item.graded_assignment_id > 0 %>
	  / View Grades For: <%= link_to "#{item.graded_assignment().title}", {:controller => '/turnins', :course => item.course, :action => 'feedback', :assignment => item.graded_assignment_id} %>
    <% end %>
    <% if item.wiki? && !item.wiki.nil? %>
      / Wiki: <%= link_to("#{item.wiki.page}", {:controller => '/wiki', :action => 'page', :id => item.wiki.page, :course => item.course}) %>
    <% end %>
	<% if item.forum? && !item.forum_post.nil? %>
	  / Forum '<%= link_to("#{item.forum_post.forum_topic.topic}", {:controller => '/forums', :action => 'view_topic', :course => item.course, :id => item.forum_post.forum_topic}) %>' 
	  / Post <%= link_to("#{item.forum_post.headline}", {:controller => '/forums', :course => item.course, :action => 'read', :id => item.forum_post}) %>
	<% end %>
	<% if item.document? && !item.document.nil? %>
	  <% if item.document.link %>
	    / View Link: <%= render :partial => '/documents/download_link', :locals => {:document => item.document, :course => item.course}%>
	  <% else %>
	    / Download: <%= render :partial => '/documents/download_link', :locals => {:document => item.document, :course => item.course}%>
	  <% end %>
	<% end %>
	<% if item.blog_post? && !item.post.nil? %>
	  / Blog Post: <%= link_to("#{item.post.title}", {:controller => '/blog', :action => 'post', :course => item.course, :id => item.post}) %>
	<% end %>	
	</span>

	<%= item.body_html %>
   </div>
   <div class="stream-comment">
   	     <span id="iap<%= item.id %>"><%= render(:partial => '/post/aplus_btn', :locals => {:item => item, :user => @user}) %></span> <% if item.enable_comments %>| <%= link_to "#{pluralize(item.comment_count, 'comment')}", :controller => '/post', :action => 'view', :id => item, :course => nil %><% end %> <% if item.forum? %>| <%= link_to("#{pluralize(item.forum_post.replies, 'reply')}", {:controller => '/forums', :course => item.course, :action => 'read', :id => item.forum_post_id}) %><% end %> 
   </div>
 </div>
</div>