<p>Directory entries starting with the letter '<%=session[:searchletter]%>'.</p>

<% if @users.size == 0 %><p><b>No users match your selection</b></p>
<% else %>

<table class="table table-compact table-striped">
  <tr class="header">
	<th>&nbsp;</th>
    <th valign="bottom">Uniqueid</th>
    <th valign="bottom">First Name</th>
    <th valign="bottom">Nickname</th>
    <th valign="bottom">Last Name</th>
    <th valign="bottom">Email</th>
    <th valign="bottom">Affiliation</th>
    <th valign="bottom">Instructor</th>
    <th valign="bottom">Program<br/>Coordinator</th>
    <th valign="bottom">Auditor</th>
    <th valign="bottom">Admin</th>
    <th valign="bottom">Login Enabled</th>
<% if @app['authtype'].eql?('basic') %>
    <th valign="bottom">Activated?</th>
    <th valign="bottom">Edit</td>
<% end %>
  </tr>

<% for user in @users %>
  <tr id="item_<%=user.id%>">
	<td><img src="<%= user.gravatar_url(request.ssl?) %>" /></td>
    <td><%= user.uniqueid %></td>
    <td><%= user.first_name %></td>
    <td><%= user.preferred_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.affiliation %></td>
    <td id="instructor_<%=user.id%>"><%= link_to_remote( "#{user.instructor}", :update => "instructor_#{user.id}", :url => { :action => 'toggle_instructor', :id => user }, :complete => "new Effect.Highlight( 'item_#{user.id}' )" ) %></td>

    <td id="program_coordinator_<%=user.id%>"><%= link_to_remote( "#{user.program_coordinator}", :update => "program_coordinator_#{user.id}", :url => { :action => 'toggle_program_coordinator', :id => user }, :complete => "new Effect.Highlight( 'item_#{user.id}' )" ) %></td>

    <td id="auditor_<%=user.id%>"><%= link_to_remote( "#{user.auditor}", :update => "auditor_#{user.id}", :url => { :action => 'toggle_auditor', :id => user }, :complete => "new Effect.Highlight( 'item_#{user.id}' )" ) %></td>

    <td id="admin_<%=user.id%>"><%= link_to_remote( "#{user.admin}", :update => "admin_#{user.id}", :url => { :action => 'toggle_admin', :id => user }, :complete => "new Effect.Highlight( 'item_#{user.id}' )" ) %></td>

	<td id="enable_<%=user.id%>"><%= link_to_remote( "#{user.enabled}", :update => "enable_#{user.id}", :url => { :action => 'toggle_enabled', :id => user }, :complete => "new Effect.Highlight( 'enable_#{user.id}' )" ) %></td>

<% if @app['authtype'].eql?('basic') %>  
    <td><%= user.activated %></td>
    <td>
		<%= link_to 'Edit ', :controller => '/admin/user_admin', :action => 'edit', :id => user.id %>
    </td> 
<% end %> 
 </tr>

<% end %>
</table>


<% end %>