<h2>Edit User Account</h2>

<p><%= link_to 'Cancel', :action => 'index' %></p>

<div id="form_area">
<% form_tag( {:controller => "/admin/user_admin", :action => "update", :id => @new_user.id }, :onsubmit => "new Element.toggle('button');new Element.toggle('spinner');"  ) do %>
  <%= render :partial => 'form', :locals => { :edit => true } %>

<div class="submit">
  <div id="button"><%= submit_tag "Update User" %></div>
  <div id="spinner" style="display: none;"><%= image_tag 'spinner.gif' %></div>
</div>

<% end %>
</div>

<p><%= link_to 'Cancel', :action => 'index' %></p>