<h2>Editing Course Information for <%= @course.title %></h2>
<% form_tag( {:action => 'update'}, {:class => 'form-horizontal'} ) do %>
  <%= error_messages_for('course', :class => 'alert alert-error') %>
  <%= error_messages_for('course_information', :class => 'alert alert-error') %>
  <%= render :partial => 'courseform' %>

  <%= submit_tag "Save Changes", :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', {:controller => '/instructor/index', :course => @course.id}, {:class => 'btn'} %>
<% end %>