
<h2>Import Course Data</h2>
<p>You can only import from courses that you are/were an instructor of, or courses that have been shared with you by another instructor.</p>

<ul class="nav nav-tabs">
 <li class="active"><a href="#yours" data-toggle="tab">Your Courses</a></li>
 <li><a href="#shared" data-toggle="tab">Shared Courses</a></li>
</ul>

<div class="tab-content">
 <div class="tab-pane active" id="yours">
   <h2>Import From Your Courses</h2>

<table class="table table-striped table-condensed">
 <thead>
  <tr>
	<th>Course</th>
	<th>Import Details</th>
  </tr>
 </thead>
  <% for course in @courses %>
    <tr id="course_<%=course.id%>">
      <td valign="top" align="left"><%= course.title %><br/><i><%= course.term.semester %></td>
      <td valign="top" align="left">
	    <% if course.id == @course.id %>
	      <i>This is the current course.</i>
	    <% else %>
	       <p><i><%= course.short_description %></i> | 
		   <%= link_to "Start import of content from #{course.title} (#{course.term.semester})", :action => 'start', :id => course %></p>
	  
	    <p>This course contains <%= pluralize(@blog_count[course.id], 'blog post' ) %>, <%= pluralize(@document_count[course.id], 'document') %>, <%= pluralize(@assignment_count[course.id], 'assignment') %>, <%= pluralize(@rubric_count[course.id], 'rubric') %>, and <%= pluralize(@wiki_count[course.id], 'wiki page') %>.</p>
	    <% end %>
	  </td>
    </tr>

  <% end %>
</table>
 </div>
 <div class="tab-pane" id="shared">
   <h2>Import From Shared Courses</h2>

<% if @shares.size == 0 %>
 <div class="alert alert-info">There are no shared courses to import content from.</div>
<% else %>
<table class="table table-striped table-condensed">
  <tr class="header">
	<th>Course</th>
	<th>Import Details</th>
  </tr>
  <% for share in @shares %>
    <% course = share.course %>
    <tr id="course_<%=course.id%>">
      <td valign="top" align="left"><%= course.title %><br/><i><%= course.term.semester %></td>
      <td valign="top" align="left">
	    <% if course.id == @course.id %>
	      <i>This is the current course.</i>
	    <% else %>
	       <p><i><%= course.short_description %></i> | 
		   <%= link_to "Start import of content from #{course.title} (#{course.term.semester})", :action => 'start', :id => course %><br/>
		   Instructor(s): <%= course.instructors.join(', ') %>
		   </p>
	  
	    <p>This course contains <%= pluralize(@blog_count[course.id], 'blog post' ) %>, <%= pluralize(@document_count[course.id], 'document') %>, <%= pluralize(@assignment_count[course.id], 'assignment') %>, and <%= pluralize(@rubric_count[course.id], 'rubric') %>.</p>
	    <% end %>
	  </td>
    </tr>

  <% end %>
</table>
<% end %>

 </div>
</div>