<h2>Import content from <%= @import_from.title %></h2>

<div class="alert alert-info">
You are importing content from <strong><%= @import_from.title %></strong> (<%= @import_from.term.semester %>, <i><%= @import_from.short_description %></i>).<br/>
Instructor(s): <% for instructor in  @course.instructors %><%= instructor.display_name %><% end %>
</div>

<% form_tag( :action => 'import_data', :course => @course, :id => @import_from.id ) do %>
	
 <h3>Select assignments to import. <span class="text-info">All assignments are imported as not visible.</span></h3>
 <% if @import_from.assignments.size == 0 %>
   <div class="alert">There are no assignments to import.</div>
 <% else %>
	  <% if @user.instructor_in_course?(@import_from.id) || 
		 (!@course_share.nil? && @course_share.assignments) %>
        <ul><% for assignment in @import_from.assignments %>
          <li><%= check_box_tag "assignment_#{assignment.id}", true %>
	        <% helphtml = 
			 "<ul>
	           <li><strong>Open date:</strong> #{assignment.open_date.to_formatted_s(:long)}</li>
	           <li><strong>Due date:</strong> #{assignment.due_date.to_formatted_s(:long)}</li>
	           <li><strong>Rubrics:</strong>
		         <ul>"
		       if assignment.rubrics.size == 0
			     helphtml = helphtml + "<li><em>No rubircs</em></li>"
			   else
				 for rubric in assignment.rubrics
			       helphtml = helphtml + "<li>#{rubric.primary_trait}</li>"
			     end
			   end
			   htmlhelp = helphtml + "
			     </ul>
		       </li>
	         </ul>" %>
	        <a href="#" rel="popover" title="<%= assignment.title %> Details" data-trigger="hover" data-html="true" data-content="<%= helphtml %>" data-placement="right"><%= assignment.title %></a>
          	 
          </span></a></li>
        <% end %></ul>
      <% else %>
        <p><i>Assignments for this course have not been shared.</i></p>
      <% end %>
 <% end %>

 <h3>Select rubrics to import.</h3>
 	<% if @import_from.rubrics.size == 0 %>
	  <div class="alert alert-info">There are no rubrics to import.</div>
	<% else %>
	  <% if @user.instructor_in_course?(@import_from.id) || (!@course_share.nil? && @course_share.rubrics) %>
        <ul><% for rubric in @import_from.rubrics %>
          <li><%= check_box_tag "rubric_#{rubric.id}", true %> 	
	      <% helphtml = "<table class='table'>
   <tr><td colspan=2><em>Primary Trait:</em> #{rubric.primary_trait}</td><td><em>Points</em></td></tr>
   <tr><td>#{@course.rubric_level.l1_name}</td><td>#{rubric.above_credit_criteria}</td><td>#{rubric.above_credit_points}</td></tr>
   <tr><td>#{@course.rubric_level.l2_name}</td><td>#{rubric.full_credit_criteria}</td><td>#{rubric.full_credit_points}</td></tr>
   <tr><td>#{@course.rubric_level.l3_name}</td><td>#{rubric.part_credit_criteria}</td><td>#{rubric.part_credit_points}</td></tr>
   <tr><td>#{@course.rubric_level.l4_name}</td><td>#{rubric.no_credit_criteria}</td><td>#{rubric.no_credit_points}</td></tr>
   </table>" %>
	<a href="#" rel="popover" title="<%= rubric.primary_trait %>" data-trigger="hover" data-html="true" data-content="<%= helphtml %>" data-placement="right"><%= rubric.primary_trait %></a>
	 (<em><% if rubric.assignment_id == 0 %>not associated with an assignment.<% else %>Assignment: <%= rubric.assignment.title %><% end %></em>)</li>
        <% end %></ul>
      <% else %>
        <div class="alert alert-info">Rubrics for this course have not been shared.</div>
      <% end %>
    <% end %>

 <h3>Course Outcomes</h3>
  <div class="alert">Course outcomes cannot be copied directly between courses. For this functionality, please use the program mapping and course template functionality.</div>

 <h3>Select documents to import. <span class="text-info">All documents are imported as not published.</span></h3>
	<% if @import_from.documents.size == 0 %>
	  <div class="alert alert-info">There are no documents to import.</div>
	<% else %>
	  <% if @user.instructor_in_course?(@import_from.id) || 
		 (!@course_share.nil? && @course_share.documents) %>
        <ul><% for document in @import_from.documents %>
	     <% if !document.folder %>
          <li><%= check_box_tag "document_#{document.id}", true %>
           <% for parent_doc in document.get_parent_folders() %>
            <%= parent_doc.title %> /
           <% end %>
           <% helphtml = "<ul>
	            <li><strong>Date: </strong>#{document.created_at.to_formatted_s(:long)}</li>
	            <li><strong>Comments: </strong></li></ul>
	            #{document.comments_html}" %>
	      <a href="#" rel="popover" title="<%= document.filename %>" data-trigger="hover" data-html="true" data-content="<%= helphtml %>" data-placement="right"><%= document.title %> (<%= document.filename %>)</a>
	      </li>
	     <% end %>
        <% end %></ul>
      <% else %>
        <div class="alert alert-info">Documents for this course have not been shared.</div>
      <% end %>
    <% end %> 

 <h3>Select blog posts to import.</h3>
 	<% if @import_from.posts.size == 0 %>
	  <div class="alert alert-info">There are no blog posts to import.</div>
	<% else %>
	  <% if @user.instructor_in_course?(@import_from.id) || (!@course_share.nil? && @course_share.blogs) %>
        <ul><% for post in @import_from.posts %>
          <li><%= check_box_tag "post_#{post.id}", true %>
	       <% helphtml = "<ul>
            <li><strong>Author: </strong> #{post.user.display_name}</li>
            <li><strong>Date: </strong> #{post.created_at.to_formatted_s(:long)}</li>           
          </ul>#{post.body_html}" %>
          <a href="#" rel="popover" title="<%= post.title %>" data-trigger="hover" data-html="true" data-content="<%= helphtml %>" data-placement="right"><%= post.title %></a>
         </li>
        <% end %></ul>
      <% else %>
        <div class="alert alert-info">Blog posts for this course have not been shared.</div>
      <% end %>
    <% end %>

 <h3>Import wiki</h3>
 <p><em>If you import the wiki, all pages imported. To preserve student identity as much as possible, the author of all pages will be switched to you, and all page history will be removed.</em></p>

	<% if @import_from.wiki_page_count == 0 %>
	  <p><i>There are no wiki pages to import.</i></p>
	<% else %>
	  <% if @user.instructor_in_course?(@import_from.id) || 
		 (!@course_share.nil? && @course_share.wiki) %>
  	    <ul><li><%= check_box_tag "wiki_import", true %> Import wiki pages. <p><strong>Any identically named wiki pages currently in this course will saved as an older revision.</strong></p></li></ul>
	  <% else %>
	    <p><i>Wiki pages for this course have not been shared.</i></p>
	  <% end %>
	<% end %>


 <%= submit_tag('Import', {:class => 'btn btn-primary'}) %>
 <%= link_to('Cancel', {:controller => '/instructor/index', :course => @course, :action => nil, :id => nil}, {:class => 'btn'}) %>
 <% end %>