<h2>Class periods for class: <%= @course.title %></h2>	

<% if @current_period %>
 <div class='alert alert-info'>Current Class Key: <b><%=@current_period.key%></b></div>
<% end %>

<div class="btn-group">
 <% if @current_period %>
   <%= link_to('<i class="icon-resize-small"></i> Close the current class period', {:action => 'close'}, {:class => 'btn btn-danger'}) %>
 <% else %>
   <%= link_to('<i class="icon-resize-full"></i> Open a new class period', {:action => 'open'}, {:class => 'btn btn-success'}) %>
 <% end %> 
 <%= link_to('<i class="icon-indent-left"></i> Attendance report', {:action => 'report'}, {:class => 'btn'}) %>
</div><br/>


<table class="table table-striped table-condensed">
 <thead>
  <tr>
    <th>#</th>
	<th>Opened At</th>
	<th>Closed At</th>
    <th>View Attendees</th>
  </tr>
 </thead>
 
<% count = 0%> 
<% for period in @periods %>
<% count = count.next 
   odd = "odd"
   odd = "even" if count.even?
%>
  <tr class="<%=odd%> hover" id="period_<%=period.id%>">
	<td><%= period.position %></td>
	<td align="left"><%= period.created_at.to_formatted_s(:long) %>
		<% if period.created_at.to_date.eql?( Time.now.to_date ) && !period.open %>
		  <%= link_to 'Reopen Class Day', :course => @course, :controller => '/instructor/attendance', :action => 'reopen', :id => period.id %>
		<% end %>
		</td>
	<td><% unless period.open %><%= period.updated_at.to_formatted_s(:long) %><% end %> &nbsp;</td>
	<td><%= link_to 'View Attendees', :action => 'view', :id => period %></td>
  </tr>
<% end %>
</table>