<div class="btn-group">
 <%= link_to 'Back to Student List', {:controller => '/instructor/course_gradebook', :action => 'students', :course => @course}, {:class => 'btn'} %>
</div>

<h2><%= @course.title %> grades for <%= @student.display_name %> (<%= @student.uniqueid %>) <img src="<%= @student.gravatar_url(request.ssl?) %>" align="absmiddle" /></h2>

<table class="table table-striped table-condensed">
 <thead>
  <tr>
    <th>Assignment</th>
    <th>Category</th>
    <% if !@course.gradebook.nil? && @course.gradebook.weight_grades %><th>Category Weight</th><% end %>
    <th>Date</th>
    <th><%= @student.uniqueid %>'s score</th>
    <th>Possible Points</th>
    <th>Percentage</th>
   </tr>
 </thead>

  <% count = 0 %>
  <% for grade_item in @grade_items %>
   	<% count = count.next 
	     odd = "odd"
	     odd = "even" if count.even?
	   %> 
    <tr class="<%=odd%> hover" id="item_<%=grade_item.id%>">
      <td>
	    <% if grade_item.visible %>
	     <acronym title="Visible to Students"><i class="icon-ok-circle"></i></acronym>
	    <% else %>
	     <acronym title="Hidden from Students"><i class="icon-remove-circle"></i></acronym>
	    <% end %>
	
        <% if grade_item.assignment_id && grade_item.assignment_id > 0 %>
          <%= link_to "#{grade_item.name}", :controller => '/instructor/turnins', :action => 'view_student', :id => @student.id, :course => @course, :assignment => grade_item.assignment_id %>
  	    <% else %>	
          <%= grade_item.name %>
	    <% end %>
	  </td>
	  <td><%= grade_item.grade_category.category %></td>
	  <% if  @course.gradebook && @course.gradebook.weight_grades %><td align="right"><%= sprintf("%.2f", @weight_map[grade_item.grade_category.id] ) %>%</td><% end %>
      <td><%= grade_item.date.to_formatted_s(:long) %></td>

      <% if grade_item.display_type.eql?( GradeItem::shown_type( GradeItem::COMPLETE ) ) %>
		<td align="center" class="cell" colspan="3">
			Assignment
			<% if  @grade_map[grade_item.id].nil? %>
			  <%= image_tag 'cross.png' %> Incomplete
			<% else %>
			  <%= image_tag 'accept.png' %> Complete
			<% end %>
		</td>
      <% elsif grade_item.display_type.eql?( GradeItem::shown_type( GradeItem::PERCENTAGE ) ) %>
 		<td align="center" class="cell" colspan="3">
	        Percentage: 
			<% unless @grade_map[grade_item.id].nil? %>
	          <%= sprintf( "%.2f",  @grade_map[grade_item.id] / grade_item.points * 100 ) %>%
	        <% else %> --% <% end %>	
		</td>
      <% else %>

      <td align="right" class="cell">
        <% if @grade_map[grade_item.id].nil? %>
          <i>No Grade Reported</i> <%= image_tag 'bullet_error.png' %>
        <% else %>
          <%= sprintf("%.1f", @grade_map[grade_item.id].to_f ) %>
        <% end %>
      </td> 
      <td align="right" class="cell"><%= grade_item.points %></td>
      <td align="right" class="cell">
        <% unless @grade_map[grade_item.id].nil? %>
          <%= sprintf( "%.2f",  @grade_map[grade_item.id] / grade_item.points * 100 ) %>%
        <% else %> --% <% end %>
      </td>

      <% end %>

    </tr>
  <% end %>


  <% if @course.gradebook && @course.gradebook.show_total %>
   <thead>
    <tr>
      <% width = 3
         width = 4 if @course.gradebook.weight_grades  
       %>
      <th colspan="<%=width%>" align="right">Points Summary:</th>
      <td class="summaryCell"><%= sprintf( "%.1f", @total_points ) %></td>
      <td class="summaryCell"><%= sprintf( "%.1f", @total_points_possible ) %></td> 
      <td class="summaryCell"><%= sprintf( "%.2f", @total_points / @total_points_possible * 100 ) rescue '--' %>% </td>
    </tr>
   </thead>
    <% if @course.gradebook.weight_grades %>
     <thead>
      <tr>
        <th colspan="4" align="right">Weighted Average:</th>
        <td class="summaryCell"><%= sprintf( "%.2f", @weighted_average ) %>%</td>
        <td class="summaryCell"> </td> 
        <td class="summaryCell"> </td>
      </tr>
     </thead>
    <% end %>
  <% end %>

</table>