<%= link_to 'Back', :controller => '/instructor/index', :course => @course %> |
<%= link_to 'Grade Book Settings', :action => 'settings', :course => @course %> |
<% if @course.gradebook && @course.gradebook.weight_grades %>
  <%= link_to 'Set Weighting', :action => 'set_weights', :course => @course %> |
<% end %>
<%= link_to 'Export', :action => 'export', :course => @course %> |
<%= link_to 'Add New Item', :action => 'item', :course => @course %>

<h2>Grade Book for <%= @course.title %></h2>

<table class="fancy"> 
  <tr class="header"> 
   <th nowrap="nowrap">ID</th>
   <th nowrap="nowrap">Students</th>
   <% if @showSections %><th nowrap="nowrap">Section</th><% end %>
   <% for gi in @grade_items %>
	<th class="cell"  nowrap="nowrap">  
	  <% if gi.assignment.nil? || gi.assignment.file_uploads %>
		<b><%= gi.name %></b>
	  <% else %>
	    <b><acronym title="<%=h gi.assignment.description %>"><%= gi.name %></acronym></b>
	  <% end %>
	  <br/>
	  <i><%= gi.grade_category.category %></i><br/>
	  Points: <%= gi.points %><br/>
	   <acronym title="Delete Item"><%= link_to "#{image_tag 'cross.png'}", { :action => 'delete_item', :course => @course, :id => gi.id}, :confirm => "Are you sure you want to delete the item '#{gi.name}'?  All entered student grade will be deleted.  This action can not be undone." %></acronym>
	   <% if gi.visible %>
	     <acronym title="Visible to Students"><%= image_tag 'picture_add.png' %></acronym>
	   <% else %>
	     <acronym title="Hidden from Students"><%= image_tag 'picture_delete.png' %></acronym>
	   <% end %>
	   <acronym title="Edit Item Information">
	     <%= link_to "#{image_tag 'book_edit.png'}", :action => 'item', :course => @course, :id => gi.id %>
	   </a>
	   <acronym title="Enter Grades"><%= link_to "#{image_tag 'calculator.png'}", :action => 'enter', :course => @course, :id => gi.id %></a>
	    <% if @course.gradebook.weight_grades %><br/>
	      Cat: <%= sprintf("%.2f", @weight_map[gi.grade_category.id] ) %>%
	    <% end %>
	</th>
   <% end %>

   <% if @course.gradebook.weight_grades && @course.student_count > 0 %>
     <th class="cell">&nbsp;</th>
     <% for category in @categories %>
       <th class="cell" nowrap="nowrap" valign="bottom" colspan="2">Category:<br/>
	     <%= category.grade_category.category %><br/>
	     Points: <%= @cat_max_points[category.grade_category_id] %><br/>
	     Cat: <%= @weight_map[category.grade_category_id] %>%
	   </th>
     <% end %>
     <th class="cell">&nbsp;</th>
   <% end %>

   <th class="cell"  nowrap="nowrap">Total Points<br/><%=@total_points%></th>
   <th class="cell"  nowrap="nowrap">
   <% if @course.gradebook.weight_grades %>Weighted Average
   <% else %>Average
   <% end %>
   </th>
   <th class="cell"  nowrap="nowrap">Students</th>
  </tr>

<% count = 0 %>
<% for student_cu in @course.students_courses_users %>
  <% student = student_cu.user %>
  <% count = count.next 
	   odd = "odd"
	   odd = "even" if count.even?
	  %>
  <tr class="<%=odd%> hover" id="student_<%=student.id%>">
	<td  nowrap="nowrap"><%= student.uniqueid %></td>
	<td  nowrap="nowrap"><%= student.display_name %></td>
	<% if @showSections %><td nowrap="nowrap"><%= student_cu.crn.name rescue "-none-" %></th><% end %>
	
	<% for gi in @grade_items %>
	  <td class="cell">
	    <% if @grade_matrix[student.id][gi.id].nil? %>
	      <acronym title="no grade entered"><%= link_to "#{image_tag 'bullet_error.png'}", :action => 'enter', :course => @course, :id => gi.id %></acronym>
	    <% else %>
	      <%= sprintf( "%.1f", @grade_matrix[student.id][gi.id] ) %>
	    <% end %>
	  </td>
	<% end %>
	
	<% if @course.gradebook.weight_grades %>
	  <td class="cell">&nbsp;</td>
      <% for category in @categories %>
        <td class="cell"><%= @student_cat_total[student.id][category.grade_category_id] %></td>
        <td class="cell"><%= sprintf("%.4f", @student_cat_total[student.id][category.grade_category_id]/@cat_max_points[category.grade_category_id] * @weight_map[category.grade_category_id]) rescue "0.0000" %></td>
      <% end %>
      <td class="cell">&nbsp;</td>
    <% end %>
	
	<td class="cell"><%= @student_totals[student.id] %></td>
	<td class="cell">
	  <% if @course.gradebook.weight_grades %>
	    <%= sprintf( "%.2f", @student_weighted[student.id] ) %>
      <% else %>
		<% if @total_points > 0 %>
		  <%= sprintf( "%.2f", @student_totals[student.id] / @total_points * 100 )%>%
		<% else %>
		  <i>?</i>%
		<% end %>
      <% end %>
	</td>
	<td  nowrap="nowrap"><%= student.display_name %></td>
  </tr>
<% end %>

<% if @students.size > 0 %>
  <tr class="summary">
	<% span = 2 
	   span = 3 if @showSections %>
    <td colspan="<%= span %>" class="summaryCell"><b>Item Averages</b></td>
	
	<% for gi in @grade_items %>
		<td class="summaryCell"> 
		  <%= sprintf( "%.2f", @averages[gi.id]/@students.size ) %> 
		</td>
	<% end %>  
	
	<% if @course.gradebook.weight_grades %>
	  <td class="summaryCell">&nbsp;</td>
      <% for category in @categories %><td class="summaryCell" colspan="2">----</td><% end %>
      <td class="summaryCell">&nbsp;</td>
	<% end %>
	
    <td class="summaryCell">*****</td>
    <td class="summaryCell">*****</td>
    <td class="summaryCell">*****</td>
  </tr>

  <tr class="summary">
    <td colspan="<%= span %>" class="summaryCell"><b>Item Averages w/o blanks and zeros</b></td>
	
	<% for gi in @grade_items %>
		<td class="summaryCell"> 
		  <%= sprintf( "%.2f", @averages[gi.id]/(@students.size - @average_no_blank[gi.id]) ) rescue 'xx' %> 
		</td>
	<% end %>  
	
	<% if @course.gradebook.weight_grades %>
	  <td class="summaryCell">&nbsp;</td>
      <% for category in @categories %><td class="summaryCell" colspan="2">----</td><% end %>
      <td class="summaryCell">&nbsp;</td>
	<% end %>
	
    <td class="summaryCell">*****</td>
    <td class="summaryCell">*****</td>
    <td class="summaryCell">*****</td>
  </tr>

  <% if @showSections %>
    <% for crn in @course.crns %>
    <tr class="summary">
	    <td colspan="<%= span %>" class="summaryCell"><b>Section '<%= crn.crn %> / <%= crn.name %>' Average:</b></td>
	
	    <% for gi in @grade_items %>
		  <td class="summaryCell"> 
		    <%= sprintf( "%.2f", @crn_averages[crn.id][gi.id]/@crn_students[crn.id][gi.id] ) rescue 'xx' %> 
		  </td>
	    <% end %>  
	
	    <% if @course.gradebook.weight_grades %>
	      <td class="summaryCell">&nbsp;</td>
            <% for category in @categories %><td class="summaryCell" colspan="2">----</td><% end %>
          <td class="summaryCell">&nbsp;</td>
	    <% end %>
	
        <td class="summaryCell">*****</td>
        <td class="summaryCell">*****</td>
        <td class="summaryCell" nowrap="nowrap"><b>Section '<%= crn.crn %> / <%= crn.name %>' Average:</b></td>
      </tr>
    <% end %>
  <% end %>

<% end %>


</table>