<h2><% if @grade_item.id %> Edit Grade Book Item
<% else %>Create Grade Book Item
<% end %> <%= @course.title %></h2>

<% form_tag( {:action => 'save_item', :course => @course, :id => @grade_item}, {:class => 'form-horizontal'} ) do %>
 <%= error_messages_for('grade_item', {:class => 'alert alert-error'}) %>

 <div class="control-group">
  <label for="grade_item_name" class="control-label">Name</label>
  <div class="controls">
   <%= text_field('grade_item', 'name', {:class => 'input input-medium'}) %>
   <% unless @grade_item.assignment.nil? %>
    <p class="help-block"><em>Updates to the name here will also be reflected on the associated assignment.</em></p>
   <% end %>
  </div>
 </div>

 <div class="control-group">
  <label for="grade_item_date" class="control-label">Date</label>
  <div class="controls">
   <%= date_select("grade_item", "date", {}, {:class => 'input input-medium'}) %>
  </div>
 </div>

 <div class="control-group">
  <label for="grade_item_points" class="control-label">Points</label>
  <div class="controls">
   <%= text_field 'grade_item', 'points', {:class => 'input input-small'} %>
  </div>
 </div>

 <div class="control-group">
  <label for="grade_item_display_type" class="control-label">Display Type</label>
  <div class="controls">
   <%= options = GradeItem::SHOWN_TYPES
       select('grade_item','display_type', options) %>
  </div>
 </div>

 <div class="control-group">
  <label for="grade_item_visible" class="control-label">Visible to Students:</label>
  <div class="controls">
   <%= radio_button 'grade_item', 'visible', true %> Yes
   <%= radio_button 'grade_item', 'visible', false %> No
  </div>
 </div>

 <div class="control-group">
  <label for="grade_item_grade_category" class="control-label">Category:</label>
  <div class="controls">
   <%= select('grade_item','grade_category_id', @categories.collect {|c| [c.category,c.id]} ) %>
  </div>
 </div>

 <div class="control-group">
  <label for="grade_item_assignment" class="control-label">Link to Assignment (optional):</label>
  <div class="controls">
   <%= select("grade_item", "assignment_id", @assignments.collect {|a| [ a.title, a.id ] }, { :include_blank => true }) %>
   <p class="help-block">Assignments can only be linked to a single gradebook item. Assignments already mapped to other gradebook items are not shown.</p>
  </div>
 </div>
 
 <%= submit_tag('Save Grade Book Item', {:class => 'btn btn-primary'}) %>
 <%= link_to('Cancel', {:controller => '/instructor/course_gradebook', :course => @course, :action => 'index'}, {:class => 'btn'}) %>
<% end %>
