<h2>GradeBook Weighting for <%= @course.title %></h2>

<% form_tag( {:action => 'save_weights', :id => @course}, {:class => 'form'} ) do %>

<p class="help-block">Enter category weights, they must total 100%</p>
<table class="table table-condensed table-striped">
  <thead> 
   <th nowrap="nowrap">Category</th>
   <th nowrap="nowrap">Weight %</th>
  </thead>
<% count = 0 %>
<% for weight in @weights %>
  <% count = count.next 
	   odd = "odd"
	   odd = "even" if count.even?
	  %>
  <tr id="weight_<%=weight.id%>">
    <td nowrap="nowrap"><%=h weight.grade_category.category %></td>
    <td nowrap="nowrap"><%= text_field_tag "weight_#{weight.id}", sprintf( "%.2f", @matrix[weight.id] ), {:size => 10, :class => 'input input-small'} %> </td>
  </tr>
<% end %>
</table>
 
 <%= submit_tag 'Save Weights', :class => 'btn btn-primary' %>
 <%= link_to 'Cancel', {:controller => '/instructor/course_gradebook', :course => @course, :action => 'index'}, {:class => 'btn'} %>
<% end %>
