<h2>Edit Grade Book Settings for <%= @course.title %></h2>

<% form_tag( {:action => 'save_settings', :id => @course}, {:class => 'form-horizontal'} ) do %>
 <%= error_messages_for('gradebook', :class => 'alert alert-error') %>

 <div class="control-group"> 
  <label for="gradebook_weight_grades" class="control-label">Weight Grades?</label>
  <div class="controls">
   <%= radio_button 'gradebook', 'weight_grades', true %> Yes
   <%= radio_button 'gradebook', 'weight_grades', false %> No
   <p class="help-block">You can configure weighting from the Grade Book screen after enabling weighting.</p>
 </div>
</div>

 <div class="control-group">
  <label for="gradebook_show_total" class="control-label">Show students calculated overall grade?</label>
  <div class="controls">
   <%= radio_button 'gradebook', 'show_total', true %> Yes
   <%= radio_button 'gradebook', 'show_total', false %> No
  </div>
 </div>
 
  <%= submit_tag('Save Settings', {:class => 'btn btn-primary'}) %>
  <%= link_to 'Cancel', {:controller => '/instructor/course_gradebook', :course => @course, :action => 'index'}, {:class => 'btn'} %>
<% end %>
