<%= render :partial => 'emailhead' %>
<h2>Email for team '<%= @team.name %>'</h2>
<% if @emails.size == 0 %>
 <div class="alert alert-info">There are no past emails for this team.</div>
<% else %>
  <% if @email_pages.page_count > 1 %><p>Page: 
    <% 1.upto(@email_pages.page_count) do |i| %>
      <% if i == @page %>
       <%= i %>
      <% else %>
       <%= link_to i, { :page => i } %>
     <% end %>
    <% end %></p>
  <% end %>
 <table class="table table-striped table-compact">
   <thead>
	 <tr>
	   <td>Subject</td>
	   <td>Author</td>
	   <td>Date</td>
	 </tr>
   </thead>
  <% for email in @emails %>
    <tr>
	 <td><%= link_to "#{email.subject}", :action => 'email_read', :id => @team, :email => email.id %></td>
	 <td><%= email.user.display_name %></td>
	 <td><%= email.created_at.to_formatted_s(:long) %></td>
	</tr>
  <% end %>
 </table>
<% end %>