<%= render :partial => 'emailhead' %>
<h2>Send new email to team '<%= @team.name %>'</h2>
<% form_tag( {:action => 'email_send', :id => @team}, {:class => 'form-horizontal'} ) do %>
 <%= error_messages_for('email', :class => 'alert alert-error') %>

  <fieldset>
	<div class="control-group">
	  <label for="email_subject" class="control-label">Email Subject:</label>
	  <div class="controls">
        <%= text_field 'email', 'subject', :class => 'input-xlarge' %>        
      </div>
    </div>
    <div class="control-group">
      <label for="email_message" class="control-label">Email Body:</label>
      <div class="controls">
       <%= text_area 'email', 'message', :class => 'input-xlarge'  %>
      </div>
    </div>
  </fieldset>

  <%= submit_tag 'Send Email', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', {:course => @course, :action => 'email', :id => @team}, :class => 'btn' %>
<% end %>

