<%= render :partial => 'emailhead' %>

<h3>Email for team '<%= @team.name %>'</h3>

<div class="well">
<h2><%=h @email.subject %></h2>
<em>Sent by: <%= @email.user.display_name %> @ <%= @email.created_at.to_formatted_s(:long) %> (<%= distance_of_time_in_words_to_now( @email.created_at ) %>)</em>
<hr/>
<%=h @email.message.newline_to_break %>
</div>