<h2>Team Center for <%= @course.title %></h2>
<% if @team.nil? %>
  <span class="alert alert-error">You are not assigned to a team.</span>	
	
<% else%>
  <% if @course.course_setting.team_show_members %>
    <p>You are a member of team '<%= @team.name %>' (<%= @team.team_id %>)</p>
    <p><b>Team Members</b></p>
    <ul>
      <% for member in @team.team_members %>
        <li><%= member.user.display_name %> - <%= member.user.email %></li>
      <% end %>
    </ul>
  <% else %>
    <p><i>Your Team Center</i></p>
  <% end %>

  <p><b>Team Actions</b></p>
<div class="btn-group">
  <%= link_to '<i class="icon-list-alt"></i> Team Wiki', {:action => 'wiki', :id => @team.id, :page => 'Home'}, {:class => 'btn btn-large'} %>
  <%= link_to '<i class="icon-folder-open"></i> Team Files', {:action => 'files', :id => @team.id}, {:class => 'btn btn-large'} %>
  <%= link_to '<i class="icon-envelope"></i> Team Email', {:action => 'email', :id => @team.id}, {:class => 'btn btn-large'} %>
  </div>
<% end%>



<% unless @all_teams.nil? %>
  <hr/>
  <h3>All Teams (Instructor view)</h3>
  <ul>
	<% for team in @all_teams %>
	  <li><%= team.name %> (<%= team.team_id %>)</li>
	  <ul>
		<li><% if @course.course_setting.team_enable_wiki %><i class="icon-list-alt"></i><%= link_to 'Team Wiki', :action => 'wiki', :id => team.id, :page => 'Home' %> |<% end %> 
		    <% if @course.course_setting.team_enable_documents %><i class="icon-folder-open"></i><%= link_to 'Team Files', :action => 'files', :id => team.id %> |<% end %> 
		    <% if  @course.course_setting.team_enable_email %><i class="icon-envelope"></i><%= link_to 'Team Email', :action => 'email', :id => team.id %><% end %></li>
		<% for tm in team.team_members %>
		  <li><%= tm.user.display_name %></li>
		<% end %>
	  </ul>
	<% end %>
  </ul>
<% end %>