<h2>Team Center for <%= @course.title %></h2>
<% if @team.nil? %>
  <p><i>You are not assigned to a team.</i></p>	
	
<% else%>
  <% if @course.course_setting.team_show_members %>
    <p>You are a member of team '<%= @team.name %>' (<%= @team.team_id %>)</p>
    <p><b>Team Members</b></p>
    <ul>
      <% for member in @team.team_members %>
        <li><%= member.user.display_name %> - <%= member.user.email %></li>
      <% end %>
    </ul>
  <% else %>
    <p><i>Your Team Center</i></p>
  <% end %>

  <p><b>Team Actions</b></p>

  <ul>
	<% if @course.course_setting.team_enable_wiki %>
	  <li><%= image_tag 'layout_content.png', :align => 'middle' %><%= link_to 'Team Wiki', :action => 'wiki', :id => @team.id, :page => 'Home' %></li>
	<% end %>
	<% if @course.course_setting.team_enable_documents %>
  	  <li><%= image_tag 'folder.png', :align => 'middle' %><%= link_to 'Team Files', :action => 'files', :id => @team.id %></li>
    <% end %>
    <% if  @course.course_setting.team_enable_email %>
  	  <li><%= image_tag 'email.png', :align => 'middle' %><%= link_to 'Team Email', :action => 'email', :id => @team.id %></li>
    <% end %>
  </ul>

<% end%>



<% unless @all_teams.nil? %>
  <hr/>
  <h3>All Teams (Instructor view)</h3>
  <ul>
	<% for team in @all_teams %>
	  <li><%= team.name %> (<%= team.team_id %>)</li>
	  <ul>
		<li><% if @course.course_setting.team_enable_wiki %><%= image_tag 'layout_content.png', :align => 'middle' %><%= link_to 'Team Wiki', :action => 'wiki', :id => team.id, :page => 'Home' %> |<% end %> 
		    <% if @course.course_setting.team_enable_documents %><%= image_tag 'folder.png', :align => 'middle' %><%= link_to 'Team Files', :action => 'files', :id => team.id %> |<% end %> 
		    <% if  @course.course_setting.team_enable_email %><%= image_tag 'email.png', :align => 'middle' %><%= link_to 'Team Email', :action => 'email', :id => team.id %><% end %></li>
		<% for tm in team.team_members %>
		  <li><%= tm.user.display_name %></li>
		<% end %>
	  </ul>
	<% end %>
  </ul>
<% end %>