<% if document.folder %>   		      
  <%= link_to "<i class=\"#{document.icon_file}\"></i> #{document.title}", :controller => '/public/documents', :action => 'index', :course => course.id, :id => document %> 
  <% if document.podcast_folder %>
    <%= link_to '<i class="icon-headphones"></i> Subscribe', :controller => '/public/documents', :action => 'subscribe', :course => course.id, :id => document %>
  <% end %>
<% else %>
  <% if document.link %>
    <a href="<%= document.url %>" target="_blank"><%= document.title %></a>
  <% else %>
    <%= link_to "<i class=\"#{document.icon_file}\"></i> #{document.title}", :controller => '/public/documents', :action => 'download', :course => course.id, :id => document, :file => document.without_extension, :extension => document.extension %>
  <% end %>
<% end %>