<h2>Global Application Settings</h2>
<div class="alert alert-info">Be cautions - make sure you know what you are doing before changing items on this screen.</div>

<% if @settings.size == 0 %>
  <div class="alert">There are no settings to configure in this version.</div>
<% else %>

<table class="table table-condensed table-striped">
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th>Description</th>
  </tr>
  
<% for setting in @settings %>
  <tr>
    <td><%=h setting.name %></td>
    <td id="main_<%=setting.id%>"><%=h setting.value %> <b><%= link_to_function 'edit <i class="icon-edit"></i>', visual_effect(:toggle_slide, "setting_#{setting.id}" ) %></b></td>
    <td><%=h setting.description %></td>
  </tr>

  <tr id="setting_<%=setting.id%>" style="display: none;">
	<td align="right"><b>Edit '<%=h setting.name %>'</b></td>
    <td colspan="2">
    	<% form_remote_tag( :url => { :controller => "/admin/settings", :action => "update", :id => setting.id }, :success => "new Effect.Highlight( 'setting_#{setting.id}' );", :failure => "alert('There was an error saving the setting \"#{setting.name}\".');", :update => "main_#{setting.id}" ) do  %>
           
		   <%= text_area_tag 'value', setting.value, "cols" => 60, "rows" => 4 %> 
           <%= submit_tag "Update" %>
        <% end %>
    </td>
  </tr>

<% end %>
</table>
<% end %>
