  <% if @grade_entry.nil? %>
    <div class="alert alert-warning">No grade has been submitted.</div>
  <% else %> 
    <div class="hero-unit">
	  <div class="row-fluid">
		<div class="span4">
    <h2>Your grade:</h2>
    <pre><%= sprintf("%.1f",@grade_entry.points) rescue 'no grade submitted' %> out of <%= sprintf("%.1f",@grade_item.points) %> possible points</pre>
        </div>
        <div class="span8">
    <h2>Instructor Comments:</h2> 
      <pre><%= @feedback_html %></pre>
        </div>
      </div>
    </div>
<!-- @rubric_entry_map -->

<!-- RUBRICS FEEDBACK -->
  <% if @assignment.rubrics.size > 0 %>
    <h2>Assignment Rubrics</h2>
  <% end %>

    <% for rubric in @assignment.rubrics %>
      <table class="table table-striped table-compact">
	    <tr class="header">
		 <th colspan="2"><h2><%= rubric.primary_trait %></h2></th>
		</tr>
		<tr>
		 <td width="10%" valign="top" align="right"><strong>Your Score:</strong></td>
		 <td align="left" valign="top">
			<% unless @rubric_entry_map[rubric.id].nil? %>
			 <% if @rubric_entry_map[rubric.id].custom_score %>
			  <%= @rubric_entry_map[rubric.id].score %>
			 <% else %>
			  <%= rubric.above_credit_points if @rubric_entry_map[rubric.id].above_credit %>
			  <%= rubric.full_credit_points if @rubric_entry_map[rubric.id].full_credit %>
			  <%= rubric.part_credit_points if @rubric_entry_map[rubric.id].partial_credit %>
			  <%= rubric.no_credit_points if @rubric_entry_map[rubric.id].no_credit %>
			 <% end %>
			<% end %>
	     </td>
		</tr>
		<tr>
		 <td width="10%" valign="top" align="right" nowrap="nowrap"><strong>Instructor Comments:</strong></td>
		 <td style="font-size: 120%; text-decoration: underline;"><strong><% unless @rubric_entry_map[rubric.id].nil? %> 
				    <%=h @rubric_entry_map[rubric.id].comments %>
		     <% end %></strong>
		 </td>
	    </tr>
		<tr>
		  <td width="10%" valign="top" align="right"><span class="badge badge-success"><%= @course.rubric_level.l1_name %></span></td>
		  <td>
		  	<% if !@rubric_entry_map[rubric.id].nil? && @rubric_entry_map[rubric.id].above_credit %>
			     <b><%= image_tag "accept.png", :align => 'absmiddle' %><%=h rubric.above_credit_criteria %> (<i><%= rubric.above_credit_points %> points</i>)</b>
			  <% else %>
			     <i><%=h rubric.above_credit_criteria %> (<%= rubric.above_credit_points %> points)</i>
			  <% end %>
		  </td>
		</tr>
		<tr>
		  <td width="10%" valign="top" align="right"><span class="badge badge-warning"><%= @course.rubric_level.l2_name %></span></td>
		  <td>
		  	<% if !@rubric_entry_map[rubric.id].nil? && @rubric_entry_map[rubric.id].full_credit %>
			  <b><%= image_tag "accept.png", :align => 'absmiddle' %><%=h rubric.full_credit_criteria %> (<i><%= rubric.full_credit_points %> points</i>)</b>
		    <% else %>
		      <i><%=h rubric.full_credit_criteria %> (<%= rubric.full_credit_points %> points)</i>
		    <% end %>
		  </td>
		</tr>
		<tr>
		  <td width="10%" valign="top" align="right"><span class="badge badge-error"><%= @course.rubric_level.l3_name %></span></td>
		  <td>
		  	<% if !@rubric_entry_map[rubric.id].nil? && @rubric_entry_map[rubric.id].partial_credit %>
			  <b><%= image_tag "accept.png", :align => 'absmiddle' %><%=h rubric.part_credit_criteria %> (<i><%= rubric.part_credit_points %> points</i>)</b>
		    <% else %>
		       <i><%=h rubric.part_credit_criteria %> (<%= rubric.part_credit_points %> points)</i>
		    <% end %>
		  </td>
	    </tr>
	    <tr>
		  <td width="10%" valign="top" align="right"><span class="badge badge-inverse"><%= @course.rubric_level.l4_name %></span></td>
		  <td>
		  	<% if !@rubric_entry_map[rubric.id].nil? && @rubric_entry_map[rubric.id].no_credit %>
		       <b><%= image_tag "accept.png", :align => 'absmiddle' %><%=h rubric.no_credit_criteria %> (<i><%= rubric.no_credit_points %> points</i>)</b>
		     <% else %>
		       <i><%=h rubric.no_credit_criteria %> (<%= rubric.no_credit_points %> points)</i>
		     <% end %>
		  </td>
		</tr>
	  </table>
	<% end %>

<!-- RUBRICS FEEDBACK -->

  <% end %>