<% if @current_turnin.id == @display_turnin.id %>
  <div class="GoodMessage">This is your current turn-in set.
  <% if @assignment.closed? && (@extension.nil? || @extension.past?)%>
    <b>This assignment is closed - the files below are the ones submitted to your instructor.</b>
  <% elsif ! @current_turnin.sealed %>
    <b>This turn-in is open and can accept more files.</b>  <% if  @assignment.auto_grade %>Please remember to submit this turn-in set for grading.<% end %>
    <%if @assignment.closed? && !@extension.past? %>
       <br/><b><i>This assignment is past due, but you have been granted an extension until: <%= @extension.extension_date.to_formatted_s(:friendly_date) %>.</i></b>
    <% end %>
  <% end %>
  </div>
<% else %>
  <div class="errorExplanation">This is not your current turn-in set.</div>
<% end %>

<% if @instructor && (@assignment.closed? || !@assignment.visible) %>
<div class="errorExplanation">This assignment is either not available to students due to date restrictions or because it hasn't been published yet. You are able to turn in files since you are logged in as an instructor for this course.</div>
<% end %>

<p><b>Turn-in set</b><br/>
Originally Created: <%= @display_turnin.created_at.to_formatted_s(:friendly_date) %><br/>
Last Updated: <%= @display_turnin.updated_at.to_formatted_s(:friendly_date) %><br/>
</p>

<p><b>Download entire turn-in set:</b> <%= link_to 'as tar file', :action => 'download_set', :id => @display_turnin.id %></p>

<% parent_spaces = Hash.new 
   parent_spaces[0.to_s] = 0
   any_java = @display_turnin.any_java_files?
%>

<table class="fancy">
  <tr class="header">
    <th>File</th>
	<th>Date</th>
	<th>Auto Added?</th>
	<% if @assignment.programming %>
	  <th>Main?</th>
	  <% if any_java && @assignment.auto_grade %>
	    <th>Clean Java?</th>
	  <% end %>
	<% end %>
	<th>Controls</th>
	<% if @assignment.team_project %>
	  <th>Submitter</th>
	<% end %>
  </tr>

<% count = 0 %>
<% previous_tif = nil %>
<% for @tif in @display_turnin.user_turnin_files %>
  <% count = count.next 
     odd = "odd"
     odd = "even" if count.even?
   %>
  <tr class="<%=odd%> hover" id="user_turnin_file_<%=@tif.id%>">
    
    <% 

       if @tif.directory_entry 
	     parent_spaces[@tif.id.to_s] = parent_spaces[@tif.directory_parent.to_s] + 1
       end %>


    <% spaces = ''
       if @tif.directory_entry
         upper = parent_spaces[@tif.id.to_s] - 1
       else
	     upper = parent_spaces[@tif.directory_parent.to_s]
       end
       1.upto(upper*4) { |i| spaces = "&nbsp;#{spaces}" }
     %>
    <td>
      <%= spaces %>    
      <%= image_tag "#{@tif.icon}", :align => 'absmiddle' %>
      <%=h @tif.filename %> 
    </td>
    <td> <i><%= @tif.created_at.to_formatted_s(:short) %></i> </td>
    <td><% if @tif.auto_added %><%= image_tag 'accept.png' %><% end %></td>
    <% if @assignment.programming %>
      <td>
	    <% if @tif.main %>
	      <acronym title="This is the class that will be run when graded."><%= image_tag 'accept.png' %> <b>Current</b></acronym>
	    <% elsif @tif.main_candidate && ! (@display_turnin.sealed || @display_turnin.finalized) %>
	      <acronym title="Make this the main class when grading.">
	        <%= link_to "#{image_tag 'add.png'} Select", :action => 'change_main', :course => @course, :assignment => @assignment, :id => @tif %>
	         </acronym>
	    <% end %>
	  </td>
	 
	  <% if any_java && @assignment.auto_grade %>
	    <td>
		  <% if @tif.extension.eql?('java') ## will need to expand later w/ other languages %>
		    <% if @tif.gradable %>
		      <%= image_tag 'accept.png' %> 
		    <% else %>
		      <%= image_tag 'cross.png' %> <b><%= link_to_function "Details", visual_effect(:toggle_appear, "dirty_details_#{@tif.id}" ) %></b>
		    <% end %>
		  <% end %>
		</td>
	  <% end %>
    <% end%>
    <td>
     <% if @tif.directory_entry %>
       <s>Download</s>
     <% else %>
       <% if @tif.hidden %>
         <s>Download</s>
       <% else %>
         <%= link_to 'Download', :course => @course, :assignment => @assignment, :action => 'download_file', :id => @tif.id %>
       <% end %>
     <% end %>
    </td>

	<% if @assignment.team_project %>
	  <td><%= @tif.user.display_name %></td>
	<% end %>
  
  </tr>

  <% if any_java && @tif.extension.eql?('java') && !@tif.gradable %>
    <tr style="display: none;" id="dirty_details_<%=@tif.id%>">
	  <td colspan="5">
		 <p><b>Can not AutoGrade your assignment because '<%= @tif.filename %>' it contains the following disallowed strings.</b></p>
	    <p><%= @tif.gradable_message.to_html rescue "" %></p>
	  </td>
	</tr>
  <% end %>

  <% previous_tif = @tif %>
<% end %>
</table>

