<h2>New Journal Entry</h2>
<ul>
 <li><strong>Course:</strong> <%=h @course.title %></li>
 <li><strong>Assignment:</strong> <%=h @assignment.title %></li>
</ul>
<% form_tag( {:action => 'create', :course => @course, :assignment => @assignment}, {:class => "well form-horizontal"} ) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create", :class => "btn btn-primary" %>
  <%= link_to 'Cancel', {:controller => 'assignments', :action => 'view', :course => @course, :assignment => nil, :id => @assignment}, {:class => "btn"} %>
<% end %>