<h2>Listing Terms</h2>

<%= link_to 'New Term', {:action => 'new'}, {:class => 'btn btn-success'} %><br/><br/>

<table class="table table-condensed table-striped">
  <tr class="header">
    <th>Term</th>
    <th>Year</th>
    <th>Semester</th>
    <th>Current</th>
    <th>Actions</th>
  </tr>

<% for term in @terms %>
  <tr id="item_<%=term.id%>">
    <td><%=h term.term %></td>
    <td><%=h term.year %></td>
    <td><%=h term.semester.capitalize %></td>
    <td><%if term.current? %><b>current</b>
	    <% else %><%= link_to 'make current', :action => 'current', :id => term %>
	    <%end%></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => term %></td>
  </tr>
<% end %>
</table>
