<div class="well">
<h2><%= link_to "#{h post.title}", :action => 'post', :course => @course, :id => post %>
<% if session[:user] && post.user_id == session[:user].id %>
 <%= link_to '<i class="icon-edit"></i>', :controller => "/instructor/blog", :action => 'edit', :course => @course, :id => post %>
<% end %>
</h2>	
<p class="author">Posted by: <%=h post.user.display_name %> on 
<%=h post.created_at.to_formatted_s(:long) %>
</p>
<p>
<%= post.body_html %>
</p>
<p class="summary">
  <% if post.enable_comments && @course.course_setting.blog_comments %>
    <% if single %>
      <% count = post.number_of_comments %>
        <%= link_to_function( "Leave a comment <i class=\"icon-comment\"></i>", "blindToggle( 'leave_comment' )" ) %>
    <% else %>
      <% count = post.number_of_comments %>
      <%= link_to "#{pluralize(count, 'Comment')}", :action => 'post', :course => @course, :id => post %>
    <% end %>	
  <% else %>
    <i>Comments disabled for this post</i>
  <% end %>
</p>
</div>