<%= render :partial => 'article', :locals => { :post => @post, :single => true } %>
<% style = 'display: none;'
   style = '' if flash[:expand] %>

<div id="leave_comment" style="<%=style%>">
<div class="well">
  <%= error_messages_for 'comment', :class => 'alert alert-error' %>	
  <% form_tag( {:action => 'comment', :id => @post}, {:class => 'form-horizontal'} ) do %>

 <div class="control-group">
  <label for="comment_body" class="control-label">Your Comment:</label>
  <div class="controls">
   <%= text_area 'comment', 'body', :class => 'input-xlarge', :cols => 150, :rows => 5  %></p>
  </div>
 </div>

 <%= submit_tag "Leave Comment", :class => 'btn btn-primary' %>
 <%= link_to_function( "Cancel", "blindToggle( 'leave_comment' )", :class => 'btn' ) %>
 <% end %>	
</div>
</div>

<% if @post.enable_comments && @course.course_setting.blog_comments %>
<h2>Comments</h2>
<% day_ago = Time.now - 60*60*24 %>
<% for comment in @post.comments %>
<div class="row" id="comment_<%=comment.id%>">
  <div class="span1">&nbsp;</div>
  <div class="span1">
	<%= render :partial => '/profile/hovercard', :locals => {:user => comment.user, :size => 90} %>
  </div>
  <div class="span9 stream-item">
	<span class="stream-item-label"><%= render :partial => '/profile/name_hovercard', :locals => {:user => comment.user} %> @ 
		<% if comment.created_at > day_ago %>
		  <%= comment.created_at.to_formatted_s(:social_time) %>
		<% else %>
		  <%= comment.created_at.to_formatted_s(:social_date) %>
		<% end %>
		<% if @user.id == comment.user.id || @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_course_blog_edit ) %>
		:: <%= link_to_remote( "<i class=\"icon-minus-sign\"></i> Delete Comment", :url => { :controller => '/blog', :action => 'delete_comment', :course => @course.id, :post_id => @post.id, :id => comment.id }, :confirm => "Delete comment?", :success => "new Effect.Puff( 'comment_#{comment.id}' )", :failure => "alert('There was an error deleting the comment.');" ) %>
		 <% end %>
    </span>
    <%= comment.body_html %>
  </div>
 </div>
<% end %>
<% end %>