<div class="control-group">
  <label for="<%=obj_name%>_answer_text" class="control-label">Answer <%= number %></label>
  <div class="controls">
    <%= text_area obj_name, 'answer_text', {:class => 'input-xxlarge', :rows => 4, :rel => editor_rel()} %>
  </div>
</div>

<% unless @assignment.quiz.survey %>
<div class="control-group">
  <label for="<%=obj_name%>_correct" class="control-label">Answer <%= number %> is correct</label>
  <div class="controls">
    <label class="radio"><%= radio_button obj_name, 'correct', true %> Yes</label>
    <label class="radio"><%= radio_button obj_name, 'correct', false %> No</label>
  </div>
</div>
<% end %>
