<%= error_messages_for 'assignment' %>
<%= error_messages_for 'quiz' %>


<% if clone %>
 <div class="blockintro">Duplicate the questions from a previous quiz/survey.</div>
 <div class="block">
 <p><label for="term" class="required">Quiz to copy:</label> <%= select_tag 'copy_from_id', options_from_collection_for_select(@quizzes, "id", "title" ) %></p>
 </div>

 <div class="blockintro">Details for cloned version of quiz.</div>
<% else %>
 <div class="blockintro">Create a new quiz for this course.</div>
<% end %>

<div class="block">
<p><label for="assignment[title]" class="required">Quiz name:</label>
<%= text_field 'assignment', 'title'  %></p>
<p><label for="term" class="required">Category:</label> <%= select_tag 'grade_category_id', options_from_collection_for_select(@categories, "id", "category", @assignment.grade_category_id ) %></p>
</div>

<div class="blockintro">For the dates of a quiz: the available date allows to set up an quiz in this system without allowing students to see it until a certain point in time.  The due date and the close date allow you to set a time that the quiz is due, but still allow it to be taken for a slightly longer period of time.</div>
<div class="block">

<table border="0" cellspacing="2" cellpadding="2">
 <tr>
  <td align="right" class="required"><b>Date available to students:</b></td>
  <td align="left" nowrap="nowrap"><%= datetime_select 'assignment', 'open_date'  %></td>
 </tr>
 <tr>
  <td align="right" class="required"><b>Quiz due date:</b></td>
  <td align="left" nowrap="nowrap"><%= datetime_select 'assignment', 'due_date'  %></td>
 </tr>
 <tr>
  <td align="right" class="required"><b>Last time the quiz can be taken (close date):</b></td>
  <td align="left" nowrap="nowrap"><%= datetime_select 'assignment', 'close_date'  %></td>
 </tr>
</table>

    <p><label for="assignment[description]" class="required">Quiz Description (optional):</label>
      <%= text_area 'assignment', 'description', :rows => '5', :cols => '60'  %></p>

  </div>

<% quiz_style = 'display: block;'
   survey_style = 'display: none;'
   if @quiz.survey
	 t = quiz_style
	 quiz_style = survey_style
	 survey_style = t
   end
%>


<div class="blockintro">A quiz can be a traditional kind of online quiz, or can be a survey.  Surveys are not assigned a point value by default, although an instructor can do this manually.</div>
<div class="block">
  <p><label for="survey" class="required">Quiz or Survey:</label>
	<% if edit_mode %>
	   <% if @quiz.survey %>
	      <%= radio_button 'quiz', 'survey', true %> Survey
	   <% else %>
	      <%= radio_button 'quiz', 'survey', false %> Quiz
	   <% end %>
	   <br/><b><i>Once created - you cannot change between a quiz and a survey.</i></b>
	<% else %>
	  <%= radio_button 'quiz', 'survey', false, :onclick => 'new Effect.Puff("survey_settings");new Effect.SlideDown("quiz_settings")' %> Quiz
	  <%= radio_button 'quiz', 'survey', true, :onclick => 'new Effect.Puff("quiz_settings");new Effect.SlideDown("survey_settings")' %> Survey
	<% end %>
	</p>
</div>

<div id="quiz_settings" style="<%=quiz_style%>" >

	<div class="blockintro">Enter the number of attempts that a student may have for this quiz - enter a negative number to allow for unlimited attempts (default).</div>
	<div class="block">
		<p><label for="quiz[attempt_maximum]" class="required">Quiz Attempts:</label>
	      <%= text_field 'quiz', 'attempt_maximum'  %></p>
	</div>


	<div class="blockintro">Should student's see the elapsed time while taking the quiz?  They will always be able to see how long it has been since they saved their answers.</div>
	<div class="block">
		<p><label for="quiz[show_elapsed]" class="required">Show elapsed time?:</label>
	       <%= radio_button 'quiz', 'show_elapsed', true %> Yes
		   <%= radio_button 'quiz', 'show_elapsed', false %> No</p>
	</div>

	<% if @new_quiz && !edit_mode %>
	<div class="blockintro">If you enter a point value, a GradeBook item will be created and associated with this quiz.  All questions will be weighted equally.  Quizzes that do not have any free form text response questions will be automatically scored.</div>
	<div class="block">
	<p><label for="point_value" class="required">Points:</label>
	  <%= text_field_tag 'point_value', @points  %></p>
	</div>
	<% end %>
</div>

<div id="survey_settings" style="<%=survey_style%>">
  <% if @course.course_setting.enable_outcomes %>	
    <p class="blockintro">If this is an entry/exit survey based on the course outcomes, then you might want to make it available to accreditation auditors.   You can also automatically generate a standard entry/exit survey based on the already defined course outcomes.</p>
    <div class="block">
      <label for="quiz[available_to_auditors]" class="required">Available to Auditors:</label>
	    <p><%= radio_button 'quiz', 'available_to_auditors', true %> Yes
	       <%= radio_button 'quiz', 'available_to_auditors', false %> No</p>

      <label for="quiz[anonymous]" class="required">Make survey anonymous:</label>
        <p><%= radio_button 'quiz', 'anonymous', true %> Yes
	       <%= radio_button 'quiz', 'anonymous', false %> No</p>

     <% unless clone %>
     <% if @new_quiz %>
      <label for="generate_survey">Automatically Generate Entry/Exit survey:</label>
        <p><%= check_box_tag "generate_survey", 1, @auto_gen_checked %></p>		
     <% end %>
     <% end %>
    </div>

  <% else %>
    <div class="GoodMessage">
		<p><b>You will continue your survey configuration on the next screen.</b></p>
	</div>
  <% end %>
</div>
 