<%= error_messages_for 'quiz_question' %>
<%= error_messages_for 'answer_01' %>
<%= error_messages_for 'answer_02' %> 
<%= error_messages_for 'answer_03' %>
<%= error_messages_for 'answer_04' %>
<%= error_messages_for 'answer_05' %> 
<%= error_messages_for 'answer_06' %>
<%= error_messages_for 'answer_07' %>
<%= error_messages_for 'answer_08' %> 
<%= error_messages_for 'answer_09' %>
<%= error_messages_for 'answer_10' %>

<p class="blockintro">Create question text and question type.  There are 3 types of questions, free form text response, multiple choice and multiple checkbox.   If a quiz contains no free form text responses, it will be automatically graded.</p>
<div class="block">
	<p><label for="quiz_question_question" class="required">Question:</label>
	   <%= text_area 'quiz_question', 'question', "cols" => 80, "rows" => 5  %></p>
	
	<p><label for="quiz_question_type" class="required">Question Type:</label><br/>
		
	  <%= radio_button_tag 'question_type', 'text_response', @quiz_question.text_response, :onclick => 'new Effect.Puff("answers_area")' %> Free form text response<br/>
	   <%= radio_button_tag 'question_type', 'multiple_choice', @quiz_question.multiple_choice, :onclick => 'new Effect.SlideDown("answers_area")' %> Multiple choice (allow selection of one answer)<br/>
	   <%= radio_button_tag 'question_type', 'checkbox', @quiz_question.checkbox, :onclick => 'new Effect.SlideDown("answers_area")' %> Multiple choice (allow selection of multiple answers)<br/>
	   </p>
	
</div>

<% style = "" 
   style = "display:none" if @quiz_question.text_response %>

<div id="answers_area" style="<%= style %>">
 <p class="blockintro">Define answers that will be valid for this quiz/survey.   You can enter as few as 1 answer, and as many as 10.</p>
 <div class="block">
  <%= render :partial => 'answer_form', :locals => { :answer => @answer_1, :obj_name => 'answer_1', :number => 1 } %><hr/>
  <%= render :partial => 'answer_form', :locals => { :answer => @answer_2, :obj_name => 'answer_2', :number => 2 } %><hr/>
  <%= render :partial => 'answer_form', :locals => { :answer => @answer_3, :obj_name => 'answer_3', :number => 3 } %><hr/>
  <%= render :partial => 'answer_form', :locals => { :answer => @answer_4, :obj_name => 'answer_4', :number => 4 } %><hr/>
  <%= render :partial => 'answer_form', :locals => { :answer => @answer_5, :obj_name => 'answer_5', :number => 5 } %><hr/>
  <%= render :partial => 'answer_form', :locals => { :answer => @answer_6, :obj_name => 'answer_6', :number => 6 } %><hr/>
  <%= render :partial => 'answer_form', :locals => { :answer => @answer_7, :obj_name => 'answer_7', :number => 7 } %><hr/> 
  <%= render :partial => 'answer_form', :locals => { :answer => @answer_8, :obj_name => 'answer_8', :number => 8 } %><hr/>
  <%= render :partial => 'answer_form', :locals => { :answer => @answer_9, :obj_name => 'answer_9', :number => 9 } %><hr/>
  <%= render :partial => 'answer_form', :locals => { :answer => @answer_10, :obj_name => 'answer_10', :number => 10 } %>
 </div>
</div>
