<h2>New Quiz/Survey for <%= @course.title %></h2>

<div id="form_area">

<% form_tag( { :action => 'create' }, :multipart => true, :onsubmit => "new Element.toggle('button'); new Element.toggle( 'spinner');" ) do %>

  <%= render :partial => 'form', :locals => { :edit_mode => false } %>


<div class="submit">
  <div id="button"><%= submit_tag "Create" %></div>
  <div id="spinner" style="display: none;"><%= image_tag 'spinner.gif' %></div>
</div>
<% end %>

<p><%= link_to 'Cancel', :controller => '/instructor/course_assignments', :action => 'index', :course => @course, :id => nil, :assignment => nil %></p>

</div>