<h2>Edit Question order for
<% if @assignment.quiz.survey %>
  Survey:
<% else %>
  Quiz:
<% end %>
'<%= @assignment.title %>'</h2>

<%= link_to 'Done Reordering', {:controller => '/instructor/quiz', :course => @course, :action => 'questions', :id => @assignment}, {:class => 'btn btn-success'} %>

<div id="reorder">
  <p>Drag and drop the questions to reorder</p>

  <ul id="question-order">
    <% for question in @quiz.quiz_questions %>
      <li id="quiz_question_<%= question.id %>"><i class="icon-random"></i>
        <b><%= question.question %></b>
      </li>
    <% end %>
  </ul>
</div>

<%= sortable_element 'question-order', 
    :url => { :action => 'sort', :course => @course, :id => @assignment },
    :complete => visual_effect(:highlight, 'question-order')
%>