<h2>Reorder Answers for a question in 
<% if @assignment.quiz.survey %>
  Survey:
<% else %>
  Quiz:
<% end %>
'<%= @assignment.title %>'</h2>

<div id="reorder">
  <p>Drag and Drop the answers to reorder.</p>

  <%= link_to "I'm done reordering answers.", {:action => 'questions', :course => @course, :id => @assignment}, {:class => 'btn btn-success'} %><br/><br/>

  <p><b>Question:</b> <%= @question.question %></p>

  <ul id="answer-order">
    <% for answer in @question.quiz_question_answers %>
      <li id="answer_<%= answer.id %>"><i class="icon-random"></i>
        <b><%= answer.answer_text %></b>
      </li>
    <% end %>
  </ul>
</div>

<%= sortable_element 'answer-order', 
    :url => { :action => 'sort_answers', :course => @course, :id => @assignment, :question => @question },
    :complete => visual_effect(:highlight, 'answer-order')
%>