<h2>Course Information</h2>

<p>
<b>Course:</b> <%= @course.title %><br/>
<b>CRN(s):</b> <%= @course.crns.join(', ') %><br/>
<b>Instructor:</b> <%= @course.instructors.join(', ') %><br/>
<% tas = @course.assistants %>
<% if tas.size > 0 %>
 <b>Assistant(s):</b> <%= tas.join(', ') %><br/>
<% end %>
<b>Students:</b> <%= @course.student_count %><br />
<b>Guests:</b> <%= @course.guest_count %><br />

<% if @course.course_information %>
<b>Days:</b> <%=h @course.course_information.meeting_days %><br/>
<b>Time:</b> <%=h @course.course_information.meeting_time %><br/>
<b>Room:</b> <%=h @course.course_information.room %><br/>
<b>Office Hours:</b> <%=h @course.course_information.office_hours %><br/>
<% end %>

</p>

<% term_courses = @user.courses_in_term( @course.term ) %>
<% if @course.course_open %>
<% if term_courses.size > 1 %>
<h2>Merge Courses</h2>
  <%= link_to 'Merge your other courses from this term into this course.', {:controller => '/instructor/course_info', :course => @course} %>
<% end %>
<% end %>

<%if request.path_parameters[:controller].eql?('instructor/index') %>
  <h2>Move Course</h2>
  <p>If this course spans multiple terms (long research project, senior project, etc...) you can have an administrator move the course for you, all course related information will be preserved.</p>
<%end%>