<h2><%= @course.title %> - <%= @course.short_description %></h2>

<table class="table table-compact table-striped"> 

  <tr>
	<th>General:</th>
	<td><i class="icon-info-sign"></i>
	  	<% if @user.instructor_in_course?( @course.id ) || @course.course_setting.ta_course_information %>
		  <%= link_to 'Course Information', :controller => '/instructor/course_info', :course => @course %>
		<% else %>
		  <s>Course Information</s>
		<% end %>
	</td>
	<td><i class="icon-cog"></i>
	  	<% if  @user.instructor_in_course?( @course.id ) || @course.course_setting.ta_course_settings %>
		  <%= link_to 'Course Settings', :controller => '/instructor/course_setting', :course => @course %>
		<% else %>
		  <s>Course Settings</s>
		<% end %>
	</td>
  </tr>	
  <tr>
	<td></td>
	<td><i class="icon-user"></i>
		<% if @user.instructor_in_course?( @course.id ) || @course.course_setting.ta_course_users %>
	  	  <%= link_to 'Course Users', :controller => '/instructor/course_users', :course => @course %>
	    <% else %>
	      <s>Course Users</s>
	    <% end %>
	</td>
	<td><i class="icon-share-alt"></i>
	    <% if @user.instructor_in_course?( @course.id ) || @course.course_setting.ta_course_users %>
	  	  <%= link_to 'Sharing', :controller => '/instructor/sharing', :course => @course %>
	    <% else %>
	      <s>Sharing</s>
	    <% end %>
	</td>
  </tr>
  <tr>
	<td><b>Assessment:</b></td>
	<td><i class="icon-calendar"></i>
	  	<% if @user.instructor_in_course?( @course.id ) || (@course.course_setting.ta_course_assignments || @course.course_setting.ta_view_student_files || @course.course_setting.ta_view_student_files || @course.course_setting.ta_view_quiz_results || @course.course_setting.ta_view_survey_results ) %>
		  <%= link_to "Assignments #{'and Quizzes' if @course.course_setting.enable_quizzes}", :controller => '/instructor/course_assignments', :course => @course %> 
		<% else %>
		  <s>Assignments <%='and Quizzes' if @course.course_setting.enable_quizzes %></s>
		<% end %>	
	</td>
	<td><i class="icon-indent-left"></i>
	  <% if @course.course_setting.enable_outcomes %>
	    <% if @user.instructor_in_course?( @course.id ) || @course.course_setting.ta_edit_outcomes %>
		  <%= link_to 'Course Outcomes', :controller => '/instructor/outcomes', :course => @course %>
		<% else %>
		  <s>Course Outcomes</s>
		<% end %>
	  <% else %>
	    <acronym title="You can enable course outcomes from the 'course settings' screen."><s><i class="icon-off"></i> Course Outcomes</s></acronym>
	  <% end %>
	</td>
  </tr>
  <tr>
	<td></td>
	<td><i class="icon-signal"></i>
	  <% if @course.course_setting.enable_gradebook %>
	    <% if @user.instructor_in_course?(@course.id) || @course.course_setting.ta_course_gradebook %>
	      <%= link_to 'Full Gradebook', :controller => '/instructor/course_gradebook', :course => @course %>
	    <% else %>
	      <s>Full Gradebook</s>
	    <% end %>
	  <% else %>
	    <acronym title="You can enable the gradebook from the 'course settings' screen."><s><i class="icon-off"></i> Full Gradebook</s></acronym>
	  <% end %>	
	</td>
	<td><i class="icon-signal"></i><i class="icon-user"></i>
	  <% if @course.course_setting.enable_gradebook %>
	    <% if @user.instructor_in_course?(@course.id) || @course.course_setting.ta_course_gradebook %>
	      <%= link_to 'Grades by Student', :controller => '/instructor/course_gradebook', :course => @course, :action => 'students' %>
	    <% else %>
	      <s>Grades by Student</s>
	    <% end %>
	  <% else %>
	    <acronym title="You can enable the gradebook from the 'course settings' screen."><s><i class="icon-off"></i> Grades by Student</s></acronym>
	  <% end %>		
	</td>
  </tr>
  <tr>
	<td></td>
	<td><i class="icon-magnet"></i>
	  <% if @course.course_setting.enable_project_teams && @user.instructor_in_course?(@course.id)%>
		<%= link_to 'Project Teams', :controller => '/instructor/teams', :course => @course %>
	  <% elsif  @course.course_setting.enable_project_teams  # but not instructor %>
	    <s>Project Teams</s>
	  <% else %>
	    <acronym title="You can enable project teams from the 'course settings' screen."><s><i class="icon-off"></i> Project Teams</s></acronym>
	  <% end %>
	</td>
	<td><i class="icon-check"></i>
	  <% if @course.course_setting.enable_attendance %>	
	    <% if @user.instructor_in_course?(@course.id) || @course.course_setting.ta_manage_attendance %>
	      <%= link_to 'Attendance', :controller => '/instructor/attendance', :course => @course %>
	    <% else %>
	      <s>Attendance</s>
	    <% end %>
	  <% else %>
	    <acronym title="You can enable attendance tracking from the 'course settings' screen."><s><i class="icon-off"></i> Attendance</s></acronym>
	  <% end %>			
	</td>
  </tr>
  <tr> 
	<td><b>Customization:</b></td>
	<td><i class="icon-cog"></i>
		<% if  @user.instructor_in_course?( @course.id ) || @course.course_setting.ta_course_settings %>
		  <%= link_to 'Journal Settings', :controller => '/instructor/custom', :course => @course, :action => 'journals' %>
		<% else %>
		  <s>Journal Settings</s>
		<% end %>		
	</td>
	<td><i class="icon-adjust"></i>
		<% if  @user.instructor_in_course?( @course.id ) || @course.course_setting.ta_course_settings %>
		  <%= link_to 'Rubric Settings', :controller => '/instructor/custom', :course => @course, :action => 'rubrics' %>
		<% else %>
		  <s>Rubric Settings</s>
		<% end %>				
	</td>
  </tr>
  <tr>
	<td>&nbsp;</td>
	<td><i class="icon-tags"></i>
		<% if  @user.instructor_in_course?( @course.id ) || @course.course_setting.ta_course_settings %>
		  <%= link_to 'Assignment / Grade Categories', :controller => '/instructor/custom', :course => @course, :action => 'categories' %>
		<% else %>
		  <s>Assignment / Grade Categories</s>
		<% end %>		
	</td>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td><b>Communication:</b></td>
	<td><i class="icon-list-alt"></i>
	  <% if @user.instructor_in_course?(@course.id) || @course.course_setting.ta_course_blog_post %>
	    <%= link_to 'Course Blog', :controller => '/instructor/blog', :course => @course %>
	  <% else %>
	    <s>Course Blog</s>
	  <% end %>
	</td>
	<td><i class="icon-envelope"></i>
	  <% if @user.instructor_in_course?(@course.id) || @course.course_setting.ta_send_email %>
	    <%= link_to 'Send Email', :controller => '/instructor/email', :course => @course %>
	  <% else %>
	    <s>Send Email</s>
	  <% end %>	
	</td>
  </tr>
  <tr>
	<td></td>
	<td><i class="icon-folder-open"></i>
	  <% if @user.instructor_in_course?(@course.id) || @course.course_setting.ta_course_documents %>
	    <%= link_to 'Documents', :controller => '/instructor/course_docs', :course => @course %>
	  <% else %>
	    <s>Documents</s>
	  <% end %>	
	</td>
	<td></td>
  </tr>
  <% if @user.instructor_in_course?( @course.id ) && @app['enableTwitter'].eql?('true') %>
  <tr>
	<td><b>Integration:</b></td>
	<td><i class="icon-retweet"></i>
	  <% if @app['enableTwitter'].eql?('true') %>
	    <%= link_to "Twitter Settings", :controller => '/instructor/twitter', :course => @course %>
	  <% else %>
	    <s>Twitter Settings</s>
	  <% end %>
	</td>
	<td>&nbsp;</td>
  </tr>
  <% end %>

  <% if @user.instructor_in_course?( @course.id ) %>
  <tr>
	<td><b>Import:</b></td>
	<td><i class="icon-download-alt"></i>
	    <%= link_to 'Import Content From Other Courses', :controller => '/instructor/import', :action => nil, :id => nil, :course => @course %></td>
	<td>&nbsp;</td>
  </tr>
  <tr>
	<td><b>Application Consoles:</b></td>
	<td><i class="icon-film"></i> <%= link_to "AutoGrade Queue", :controller => '/instructor/monitor', :action => 'agqueue', :course => @course %></td>
	<td><i class="icon-warning-sign"></i> <%= link_to "AutoGrade Failures", :controller => '/instructor/monitor', :action => 'agfailed', :course => @course %></td>
  </tr>
  <% end %>	
		
</table>


<% if @user.instructor_in_course?(@course.id) %>
<table class="table table-striped table-compact" cellspacing="0">
  <tr class="header">
    <th class="full"><h3>Course Availability for <%= @course.title %></h3></th>
  </tr>
  
  <tr>
    <td>
      <% if @course.course_open %>
        <div class="alert alert-success">This course is open.
      <% else %>
        <div class="alert alert-error">This course is in archive status.
      <% end %> (<%= link_to 'Change', :action => 'toggle_open' %>)</div>
      <p>An <b>open</b> course is one which can still be updated (add new blog posts, comments, documents, and assignments).   A course in archive status allows for information to be read, but no information can be updated.   It is recommended that courses no longer taking place are put into archive status.</p>
    </td>
  </tr>
  <tr>
    <td>
      <% if @course.public %>
        <div class="alert alert-success">This course is visible to the public.
      <% else %>
        <div class="alert alert-error">This course is hidden from the public.
      <% end %> (<%= link_to 'Change', :action => 'toggle_public' %>)</div>
      <p>If a course is visible to the public, any internet user can view the course content, including: <b>blog posts, documents, and assignments</b>.  All student information (including blog comments) are kept hidden from the public in order to protect the identity of students.   <i>Making this information available will allow you to distribute information to the greater public in an easy manner.</i></p>
    </td>
    </td>
  </tr>
 
</table>
<% end %>
