<%= error_messages_for('assignment', :class => 'alert alert-error') %>
<%= error_messages_for('journal_field', :class => 'alert alert-error') %>

<% if @duplicate %>
 <div class="well">
 <h3>Duplicate assignment.</h3>
 <div class="control-group">
   <label for="term" class="control-label">Assignment to copy</label>
   <div class="controls">
     <%= select_tag 'copy_from_id', options_from_collection_for_select(@assignments, "id", "title" ) %>
   </div>
 </div>
 </div>
 <h4>Details for cloned version of assignment.</h4>
<% else %>

 <div class="control-group">
  <label for="assignment[title]" class="control-label">Assignment name</label>
  <div class="controls">
   <%= text_field 'assignment', 'title'  %>
   <% unless @assignment.grade_item.nil? %>
     <p class="help-block"><em>Changes to the assignment name will be reflected in the gradebook.</em></p>
   <% end %>
  </div>
 </div>

 <p class="help-inline">The assignment description is required, unless you also upload a file. You can attach additional files after creating the assignment.</p>

  <div id="asgn_desc">
      <div class="control-group">
	    <label for="assignment[description]" class="control-label">Assignment Description</label>
	    <div class="controls">
		  <%= text_area 'assignment', 'description', {:class => 'input-xxlarge', :rows => 20, :rel => editor_rel()} %>
	    </div>
	  </div>
  </div>
  <div id="asgn_file">
    <div class="control-group">
      <% if edit_mode %>
        <label for="file" class="control-label">Upload additional assignment file</label>
      <% else %>
        <label for="file" class="control-label">Assignment File</label>
      <% end %>
      <div class="controls">
 	    <%= file_field_tag "file" %>
        <% unless edit_mode %>
          <span class="help-block">You can attach additional files after the assignment is created.</span>
        <% end %>
      </div>
    </div>
  </div>

 <div class="control-group">
  <label for="term" class="control-label">Category</label>
  <div class="controls">
   <%= select_tag 'grade_category_id', options_from_collection_for_select(@categories, "id", "category", @assignment.grade_category_id ) %>
  </div>
 </div>

 <div class="control-group">
  <label class="control-label">Assignment published (visible to students)</label>
  <div class="controls">	
   <%= radio_button 'assignment', 'visible', true %> Yes
   <%= radio_button 'assignment', 'visible', false %> No
  </div>
 </div>
<% end %>

<p class="help-inline">For the dates of an assignment: the available date allows to set up an assignment in this system without allowing students to see it until a certain point in time.  The due date and the close date allow you to set a time that assignments are due, but still allow files to be submitted for a slightly longer period of time.</p>

 <div class="control-group">
  <label for="assignment_open_date" class="control-label">Date available to students</label>
  <div class="controls">
    <%= datetime_select 'assignment', 'open_date', {}, {:class => 'input-small'}  %>
  </div>
 </div>
 <div class="control-group">
  <label for="assignment_due_date" class="control-label">Assignment due date</label>
  <div class="controls">
    <%= datetime_select 'assignment', 'due_date', {:default => 7.days.from_now}, {:class => 'input-small'} %>
  </div>
 </div>
 <div class="control-group">
  <label for="assignment_close_date" class="control-label">Last time material can be submitted</label>
  <div class="controls">
   <%= datetime_select 'assignment', 'close_date', {:default => 7.days.from_now}, {:class => 'input-small'}  %>
  </div>
 </div>

<% unless @duplicate %>

<% if @course.course_setting.enable_project_teams %>
 <p class="help-inline">Since this course has project teams enabled, you can make this assignment a team assignment.   By making the assignment a team assignment, all submission avenues will be shared by all the students on the same team, although you can assign separate grades to each team member.</p>
 <div class="control-group">
  <label for="assignment_team_project" class="control-label">Group Project</label>
  <div class="controls">
		<%= radio_button 'assignment', 'team_project', true %> Yes
		<%= radio_button 'assignment', 'team_project', false %> No
  </div>	
 </div>
<% end %>

<% if edit_mode %>
<p>Files attached to this assignment.   You can select one or more files to be automatically added to a student turnin.   This allows common test code to be automatically includes for all students (helpful for programming assignments).</p>
<table class="table table-condensed">
  <tr class="header">
    <th align="left" valign="bottom">#</th>
    <th align="left" valign="bottom">Filename</th>
    <th align="left" valign="bottom">Automatically Add<br/>To Student Turnins</th>
    <th align="left" valign="bottom">Hidden</th>
    <th align="left" valign="bottom">Size</th>
    <th align="left" valign="bottom">Controls</th>
  </tr>
  <% count = 0 %>
  <% for asgn_doc in @assignment.assignment_documents %>
    <% count = count.next 
	     odd = "odd"
	     odd = "even" if count.even?
	  %>
	  <tr class="<%=odd%> hover" id="assignment_document_<%=asgn_doc.id%>">
	    <td><%=h asgn_doc.position %></td>
	    <td><%= link_to "<i class=\"#{asgn_doc.icon_file}\"></i> #{h asgn_doc.filename}", :action => 'download', :id => @assignment, :course => @course, :document => asgn_doc.id, :file => asgn_doc.without_extension, :extension => asgn_doc.extension %></td>
	    <td>
	    	<% if asgn_doc.add_to_all_turnins %>
	           <b>Yes</b> (<%= link_to 'Remove', :action => 'toggle_auto_add', :id => @assignment, :course => @course, :document => asgn_doc.id %>)
	        <% else %>
	           <b>No<b/> (<%= link_to 'Add', :action => 'toggle_auto_add', :id => @assignment, :course => @course, :document => asgn_doc.id %>)
	        <% end %>
	    </td> 
	    <td>
		  <% if asgn_doc.keep_hidden %>
	           <b>Yes</b> (<%= link_to 'Unhide', :action => 'toggle_hidden', :id => @assignment, :course => @course, :document => asgn_doc.id %>)
	        <% else %>
	           <b>No<b/> (<%= link_to 'Hide', :action => 'toggle_hidden', :id => @assignment, :course => @course, :document => asgn_doc.id %>)
		  <% end %>
		</td>
	    <td><%=h asgn_doc.size_text %></td>
	    <td><%= link_to 'Move Up', :action => 'file_move_up', :id => @assignment, :course => @course, :document => asgn_doc.id %> | 
	        <%= link_to 'Move Down', :action => 'file_move_down', :id => @assignment, :course => @course, :document => asgn_doc.id %> |  
	        <%= link_to 'Delete', :action => 'file_delete', :id => @assignment, :course => @course, :document => asgn_doc.id %>
	    </td>
	  </tr>
  <% end %>
</table>
<% end %>

<div class="control-group">
 <label for="assignment[enable_upload]" class="control-label">Enable Assignment File Uploads</label>
 <div class="controls">
   	<%= radio_button 'assignment', 'enable_upload', true %> Yes
	<%= radio_button 'assignment', 'enable_upload', false %> No
    <p class="help-block">Enabling web file uploads will allow students to turn in files for assignments through this web site.   If you want students to only hand in printouts, then you should disable this feature for this assignment.</p>
 </div>
</div>

  <% journal_style = "display: block;" 
     journal_style = "display: none;" unless @assignment.enable_journal
  %>
<div class="control-group">
 <label class="control-label">Enable Journals</label>
 <div class="controls">
  <%= radio_button 'assignment', 'enable_journal', true, :onclick => 'new Effect.SlideDown("journal_settings")' %> Yes
  <%= radio_button 'assignment', 'enable_journal', false, :onclick => 'new Effect.Puff("journal_settings")' %> No
 </div>
</div>
  <div id="journal_settings" style="<%=journal_style%>" class="well">
    <div class="control-group">
      <label for="journal_field[start_time]" class="control-label">Capture start time</label>
      <div class="controls">
        <%= radio_button 'journal_field', 'start_time', true %> Yes
	    <%= radio_button 'journal_field', 'start_time', false %> No
	  </div>
	</div>
	<div class="control-group">
	  <label for="journal_field[end_time]" class="control-label">Capture end time</label>
	  <div class="controls">
        <%= radio_button 'journal_field', 'end_time', true %> Yes
	    <%= radio_button 'journal_field', 'end_time', false %> No
	  </div>
	</div>
    <div class="control-group">
      <label for="journal_field[interruption_time]" class="control-label">Capture interruption time</label>
      <div class="controls">
        <%= radio_button 'journal_field', 'interruption_time', true %> Yes
	    <%= radio_button 'journal_field', 'interruption_time', false %> No
	  </div>
	</div>
    <div class="control-group">
      <label for="journal_field[completed]" class="control-label">Capture completed status</label>
      <div class="controls">
        <%= radio_button 'journal_field', 'completed', true %> Yes
	    <%= radio_button 'journal_field', 'completed', false %> No
	  </div>
	</div>
    <div class="control-group">
      <label for="journal_field[task]" class="control-label">Capture task worked on</label>
      <div class="controls">
        <%= radio_button 'journal_field', 'task', true %> Yes
	    <%= radio_button 'journal_field', 'task', false %> No
	  </div>
	</div>
    <div class="control-group">
      <label for="journal_field[reason_for_stopping]" class="control-label">Capture reason for stopping</label>
      <div class="controls">
        <%= radio_button 'journal_field', 'reason_for_stopping', true %> Yes
	    <%= radio_button 'journal_field', 'reason_for_stopping', false %> No
	  </div>
	</div>
    <div class="control-group">
      <label for="journal_field[comments]" class="control-label">Capture comments</label>
      <div class="controls">
        <%= radio_button 'journal_field', 'comments', true %> Yes
	    <%= radio_button 'journal_field', 'comments', false %> No
	  </div>
	</div>
  </div>

<% if @course.course_setting.enable_prog_assignments %>
  <% prog_style = "display: block;" 
     prog_style = "display: none;" unless @assignment.programming
  %>
  <div class="control-group">
	<label class="control-label">Enable Programming Assignment Enhancements</label>
	<div class="controls">
  	  <%= radio_button 'assignment', 'programming', true, :onclick => 'new Effect.SlideDown("programming_settings")' %> Yes
	  <%= radio_button 'assignment', 'programming', false, :onclick => 'new Effect.Puff("programming_settings")' %> No
    </div>
  </div>
  <div id="programming_settings" class="well" style="<%=prog_style%>">
	
	<% if @course.course_setting.enable_github %>
      <div class="control-group">
        <label for="assignment[use_github]" class="control-label">Enable GitHub</label>
        <div class="controls">
          <%= radio_button 'assignment', 'use_github', true, :onclick => 'new Effect.SlideDown("github_settings")' %> Yes
	      <%= radio_button 'assignment', 'use_github', false, :onclick => 'new Effect.Puff("github_settings")' %> No
	    </div>
	  </div>
	  <% git_style = "display: block;" 
	     git_style = "display: none;" unless @assignment.use_github
	   %>
	  <div id="github_settings" class="sub_form" style="<%=git_style%>">
	      <div class="control-group">
	        <label for="assignment[github_organization]" class="control-label">GitHub Organization Name:</label>
	        <div class="controls">
	          <%= text_field 'assignment', 'github_organization'  %>
	        </div>
	        <p class="help-block">Fill this in if you are utilizing an Organization in GitHub, where all the student repositories are owned by the organization.</p>
	      </div>
		  <div class="control-group">
	        <label for="assignment[github_pattern]" class="control-label">GitHub Repository Pattern:</label>
	        <div class="controls">
	          <%= text_field 'assignment', 'github_pattern'  %>
	        </div>
	        <p class="help-block">The GitHub Repository pattern is representative of either the user's CascadeLMS login (<code>$uniqueid$</code>) and or their GitHub id (<code>$githubid$</code>). If the repository was named with the user's GitHub ID and "-program1", then you could configure this like: <code>$githubid$-program01</code>. When each user authenticates to GitHub through Cascade, this link is established.</p>
	      </div>
	  </div>
    <% end %>
    <% if @course.course_setting.enable_svn %>
      <div class="control-group">
        <label for="assignment[use_subversion]" class="control-label">Enable Subversion</label>
        <div class="controls">
          <%= radio_button 'assignment', 'use_subversion', true, :onclick => 'new Effect.SlideDown("subversion_settings")' %> Yes
	      <%= radio_button 'assignment', 'use_subversion', false, :onclick => 'new Effect.Puff("subversion_settings")' %> No
	    </div>
	  </div>
	
	<% svn_style = "display: block;" 
	   svn_style = "display: none;" unless @assignment.use_subversion
	%>
	<div id="subversion_settings" class="sub_form" style="<%=svn_style%>">
	  <p class="help-block">For subversion, the server name is something like <code>http://svn.server/</code> and the path is something like <code>$uniqueid$/assignment4/release/$uniqueid$</code>.  The development and release paths allow you to pull student files during development, but limit final turn in to a 'release' directory.  If you only with to use 1 path, leave the release path blank.  The symbol <code>$uniqueid$</code> is expanded to each student's uniqueID in this system. <% if @course.course_setting.enable_project_teams %> If this is a group assignment, the symbol <code>$teamid$</code> is expanded to each student's assigned teamId in this system. <% end %></p>
      <div class="control-group">
        <label for="assignment[subversion_server]" class="control-label">Subversion Server:</label>
        <div class="controls">
          <%= text_field 'assignment', 'subversion_server'  %>
        </div>
      </div>
      <div class="control-group">
        <label for="assignment[subversion_development_path]" class="control-label">Subversion Development Path:</label>
        <div class="controls">
          <%= text_field 'assignment', 'subversion_development_path'  %>
        </div>
      </div>
      <div class="control-group">
        <label for="assignment[subversion_release_path]" class="control-label">Subversion Release Path:</label>
        <div class="controls">
          <%= text_field 'assignment', 'subversion_release_path'  %>
        </div>
      </div>
	</div>
	
	<% else %>
	  <%= hidden_field 'assignment', 'use_subversion', :value => false %>
      <%= hidden_field 'assignment', 'subversion_server', :value => '' %>
	<% end %>
	
	<div class="control-group">
	  <label for="assignment[auto_grade]" class="control-label">Enable AutoGrade:</label>
	  <div class="controls">
       <%= radio_button 'assignment', 'auto_grade', true %> Yes
	   <%= radio_button 'assignment', 'auto_grade', false %> No
	   <p class="help-block"><em>You will have the ability to adjust AutoGrade settings later.</em></p>
	  </div>
	</div>
  </div>

<% else %>
  <%= hidden_field 'assignment', 'programming', :value => false %>
  <%= hidden_field 'assignment', 'use_subversion', :value => false %>
  <%= hidden_field 'assignment', 'subversion_server', :value => '' %>
  <%= hidden_field 'assignment', 'auto_grade', :value => false %>
<% end %>

<% end %>