<h2>Assignment '<%= @assignment.title %>' for '<%= @course.title%>'</h2>

<p><%= link_to 'Back', :action => 'index' %>
<% if @assignment.auto_grade %> 
  | <%= link_to "#{image_tag 'computer.png', :align => 'absmiddle'} AutoGrade Settings", :action => 'autograde', :course => @course, :id => @assignment %> 
<% end %>
<% if @course.course_setting.enable_outcomes %>
  | <%= link_to "#{image_tag 'pencil.png', :align => 'absmiddle'} Assignment Rubrics", :controller => '/instructor/rubrics', :course => @course, :assignment => @assignment %>
<% end %>
</p>

<div id="form_area">

<% form_tag( { :action => 'update', :id => @assignment }, :multipart => true, :onsubmit => "new Element.toggle('button'); new Element.toggle( 'spinner');" ) do %>

  <%= render :partial => 'form', :locals => { :edit_mode => true } %>

<div class="submit">
  <div id="button"><%= submit_tag "Save Changes" %></div>
  <div id="spinner" style="display: none;"><%= image_tag 'spinner.gif' %></div>
</div>

<% end %>

<p><%= link_to 'Back', :action => 'index' %></p>

</div>