<h2>Assignments for <%= @course.title %></h2>

<% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_course_assignments) %>
 <div class="btn-group">
  <%= link_to "Reorder Assignments", {:action => 'reorder', :course => @course}, {:class => 'btn'} %> 
  <%= link_to 'New Assignment', {:action => 'new'}, {:class => 'btn'} %> 
  <%= link_to 'Duplicate Assignment', {:action => 'duplicate'}, {:class => 'btn'} %>
	<% if @course.course_setting.enable_quizzes && (@user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_create_quizzes) )%>
	  <%= link_to 'New Quiz/Survey', {:controller => '/instructor/quiz', :action => 'new'}, {:class => 'btn'} %>
	  <%= link_to 'Duplicate Quiz/Survey', {:controller => '/instructor/quiz', :action => 'duplicate'}, {:class => 'btn'} %>
	<% end %>
  <%= link_to 'View All Rubrics', {:controller => '/instructor/rubrics', :action => 'all', :course => @course}, {:class => 'btn'} %>
 </div>
<% end %>

<% if @course.assignments.size == 0 %>
 <br/><div class="alert alert-info">There are no assignments in this course.</div>
<% else %>

<p><em>Students will see this list in 3 groups: current assignments, upcoming assignments, and past assignments. <%= link_to 'See how students see the assignment list.', :course => @course, :id => nil, :assignment => nil, :controller => '/assignments', :action => nil %></em></p>

 <table class="table table-compact table-striped" id="asignment_table"> 
   <tr class="header"> 
	<th align="left" valign="bottom">#</th>
	<th align="left" valign="bottom">Visible</th>
    <th align="left" valign="bottom">Title</th>
    <th align="left" valign="bottom">Rubrics</th>
    <% if @course.course_setting.enable_project_teams %>
      <th align="left" valign="bottom">Team<br/>Specific</th>
    <% end %>
    <th align="left" valign="bottom">AutoGrade</th>
    <th align="left" valign="bottom">Turn-ins</th>
    <th align="left" valign="bottom">Graded</th>
    <th align="left" valign="bottom">Category</th>
    <th align="left" valign="bottom">Available & Due Date</th>
    <% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_course_assignments) %>
      <th align="left" valign="bottom">Delete</th>
    <% end %>
   </tr>

   <% count = 0 %>
   <% for assignment in @course.assignments %>
     <% count = count.next 
	   odd = "odd"
	   odd = "even" if count.even?
  	  %>
	  <tr class="<%=odd%> hover" id="assignment_<%=assignment.id%>">
	    <td valign="top" align="right" nowrap="nowrap">
	      <% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_course_assignments) %>
	         <% if assignment.is_quiz? %>       
	             <%= link_to "#{h count} <i class=\"icon-edit\"></i>", :controller => '/instructor/quiz', :action => 'questions', :id => assignment, :assignment => nil %>
  	         <% else %>
                 <%= link_to "#{h count} <i class=\"icon-edit\"></i>", :action => 'edit', :id => assignment %>
             <% end %>
	      <% else %>
	        <%= h count %>
	      <% end %>
	    </td>
	    <td valign="top" nowrap="nowrap" id="visibility_<%= assignment.id %>">
		  <%= render :partial => 'visibility', :locals => { :assignment => assignment } %>
		</td>
	    <td valign="top" nowrap="nowrap">
	      <% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_course_assignments) %>
	         <% if assignment.is_quiz? %>       
	             <%= link_to "<i class=\"icon-edit\"></i> #{h assignment.title}", :controller => '/instructor/quiz', :action => 'questions', :id => assignment, :assignment => nil %>
  	         <% else %>
	             <%= link_to "<i class=\"icon-edit\"></i> #{h assignment.title}", :action => 'edit', :id => assignment %>
	         <% end %>
	        <% if assignment.team_project %><i class="icon-magnet"></i><% end %>
	       
	      <% else %>
	        <%= h assignment.title %>
	      <% end %>
	    </td>
	    <td valign="top">
	        <% if assignment.rubrics.size > 0 %>
	          <% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_course_assignments) %>    
	             <%= link_to '<i class="icon-check"></i> Edit', :controller => '/instructor/rubrics', :course => @course, :assignment => assignment %>
	          <% else %>
	             <s><i class="icon-check"></i> Edit</s>
	          <% end %>
	        <% else %>
	          <% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_course_assignments) %>
	             <%= link_to '<i class="icon-check"></i> Define', :controller => '/instructor/rubrics', :course => @course, :assignment => assignment %>
	          <% else %>
	             <s><i class="icon-check"></i> Define</s>
	          <% end %>
	        <% end %>
	    </td>
	    <% if @course.course_setting.enable_project_teams %>
	     <td valign="top">
	       <% if assignment.team_filters.size == 0 %>
	         <%= link_to '<i class="icon-magnet"></i> Create', :controller => '/instructor/course_assignments', :action => 'team_filter', :id => assignment %>
	       <% else %>
	         <%= link_to '<i class="icon-magnet"></i> Edit', :controller => '/instructor/course_assignments', :action => 'team_filter', :id => assignment %>
	       <% end %>
	     </td>
	    <% end %>
	    <td valign="top">
	       <%if assignment.auto_grade %>
	           <% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_course_assignments) %>
	             <%= link_to '<i class="icon-play"></i> Edit', :action => 'autograde', :course => @course, :id => assignment.id %> 
	           <% end %>
		   <% else %>
		       &nbsp;
		   <% end %>
	    </td>
	    <td nowrap="nowrap" valign="top">
	      <% if assignment.quiz.nil? %>
	         <% if assignment.released && !@user.instructor_in_course?(@course.id) && (@user.assistant_in_course?(@course.id) && !@course.course_setting.ta_view_already_graded_assignments) %>
	           <s>Turn-ins</s>         
	         <% elsif !assignment.released && @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_grade_individual) %>
	           <%= link_to 'Turn-ins', :controller => '/instructor/turnins', :course => @course, :assignment => assignment %> 
	         <% elsif @user.instructor_in_course?(@course.id) %>
	           <%= link_to 'Turn-ins', :controller => '/instructor/turnins', :course => @course, :assignment => assignment %>
	         <% else %>
	           <s>Turn-ins</s>
	         <% end %>
	
	      <% elsif assignment.quiz.survey %>
	         <% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_view_survey_results ) %> 
	           <%= link_to 'Results', :controller => '/instructor/results', :action => 'survey', :course => @course, :assignment => assignment %>
	         <% else %><s>Results</s>
	         <% end %>
	      <% else %>
	         <% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_view_quiz_results ) %> 
         	   <%= link_to 'Submissions', :controller => '/instructor/results', :action => 'quiz', :course => @course, :assignment => assignment %>
             <% else %>
               <s>Submissions</s>
             <% end %>
	      <% end %>
	    </td>
	
		<td align="right" nowrap="nowrap" valign="top">
		  <% if assignment.grade_item.nil? && assignment.quiz && assignment.quiz.survey %>
		    &nbsp;
		  <% elsif assignment.grade_item.nil? %>
		    No Link
		  <% elsif assignment.released %>
	        Yes
	      <% else %>
	        No
	      <% end %>
		</td>
	
	    <td nowrap="nowrap" valign="top"><%=h assignment.grade_category.category %></td>
	    <td nowrap="nowrap" valign="top">
		<% spanTag = 'badge-error'
		   if assignment.upcoming? || assignment.current?
		    spanTag = 'badge-success'
	       end %>
	    <span class="badge <%= spanTag %>">S: <%= assignment.open_date.to_formatted_s(:long) %></span><br/>
	    <span class="badge <%= spanTag %>">E: <%= assignment.due_date.to_formatted_s(:long) %></span></td>
	    
	    <% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_course_assignments) %>
	    <td nowrap="nowrap" valign="top">	  
	      <%= link_to '<i class="icon-remove"></i> Delete', { :action => 'destroy', :id => assignment }, :method => "post", :confirm => "Are you sure you want to delete the assignment '#{assignment.title}' and all of it's associated data? This action can not be undone." %> 
	    </td>
	    <% end %> 
	  </tr>
   <% end %>
 </table>
<% end %>
