<h2>Assignments for <%= @course.title %></h2>

<% if @course.assignments.size == 0 %>
 <p><i>There are no assignments in this course.</i></p>
<% else %>

<p>
 <% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_course_assignments) %>
   <%= link_to "#{image_tag 'arrow_switch.png'} Reorder Assignments", :action => 'reorder', :course => @course %> | 
   <%= link_to 'New Assignment', :action => 'new' %> |
   <%= link_to 'Duplicate Assignment', :action => 'duplicate' %> |
	<% if @course.course_setting.enable_quizzes && (@user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_create_quizzes) )%>
	  <%= link_to 'New Quiz/Survey', :controller => '/instructor/quiz', :action => 'new' %> |
	  <%= link_to 'Duplicate Quiz/Survey', :controller => '/instructor/quiz', :action => 'duplicate' %> |
	<% end %>
   <%= link_to 'View All Rubrics', :controller => '/instructor/rubrics', :action => 'all', :course => @course %> |
 <% end %>
<%= link_to 'Back', :controller => '/instructor/index', :course => @course %>
</p>

<p><em>Students will see this list in 3 groups: current assignments, upcoming assignments, and past assignments. <%= link_to 'See how students see the assignment list.', :course => @course, :id => nil, :assignment => nil, :controller => '/assignments', :action => nil %></em></p>

 <table class="fancy" id="asignment_table"> 
   <tr class="header"> 
	<th align="left" valign="bottom">#</th>
	<th align="left" valign="bottom">Visible</th>
    <th align="left" valign="bottom">Title</th>
    <th align="left" valign="bottom">Rubrics</th>
    <% if @course.course_setting.enable_project_teams %>
      <th align="left" valign="bottom">Team<br/>Specific</th>
    <% end %>
    <th align="left" valign="bottom">AutoGrade</th>
    <th align="left" valign="bottom">Turn-ins</th>
    <th align="left" valign="bottom">Graded</th>
    <th align="left" valign="bottom">Category</th>
    <th align="left" valign="bottom" colspan="2">Available & Due Date</th>
    <% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_course_assignments) %>
      <th align="left" valign="bottom">Controls</th>
    <% end %>
   </tr>

   <% count = 0 %>
   <% for assignment in @course.assignments %>
     <% count = count.next 
	   odd = "odd"
	   odd = "even" if count.even?
  	  %>
	  <tr class="<%=odd%> hover" id="assignment_<%=assignment.id%>">
	    <td valign="top" align="right" nowrap="nowrap">
	      <% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_course_assignments) %>
	         <% if assignment.is_quiz? %>       
	             <%= link_to "#{h count}", :controller => '/instructor/quiz', :action => 'questions', :id => assignment, :assignment => nil %>
  	         <% else %>
                 <%= link_to "#{h count}", :action => 'edit', :id => assignment %>
             <% end %>
	      <% else %>
	        <%= h count %>
	      <% end %>
	    </td>
	    <td valign="top" nowrap="nowrap" id="visibility_<%= assignment.id %>">
		  <%= render :partial => 'visibility', :locals => { :assignment => assignment } %>
		</td>
	    <td valign="top" nowrap="nowrap">
	      <% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_course_assignments) %>
	         <% if assignment.is_quiz? %>       
	             <%= link_to "#{image_tag 'page_edit.png', :align => 'absmiddle'} #{h assignment.title}", :controller => '/instructor/quiz', :action => 'questions', :id => assignment, :assignment => nil %>
  	         <% else %>
	             <%= link_to "#{image_tag 'page_edit.png', :align => 'absmiddle'} #{h assignment.title}", :action => 'edit', :id => assignment %>
	         <% end %>
	        <% if assignment.team_project %><%= image_tag 'group.png' %><% end %>
	       
	      <% else %>
	        <%= h assignment.title %>
	      <% end %>
	    </td>
	    <td valign="top">
	        <% if assignment.rubrics.size > 0 %>
	          <% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_course_assignments) %>    
	             <%= link_to "#{image_tag 'pencil.png', :align => 'absmiddle'} Edit", :controller => '/instructor/rubrics', :course => @course, :assignment => assignment %>
	          <% else %>
	             <s><%= image_tag 'pencil.png' %> Edit</s>
	          <% end %>
	        <% else %>
	          <% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_course_assignments) %>
	             <%= link_to "#{image_tag 'add.png', :align => 'absmiddle'} Define", :controller => '/instructor/rubrics', :course => @course, :assignment => assignment %>
	          <% else %>
	             <s><%= image_tag 'add.png' %> Define</s>
	          <% end %>
	        <% end %>
	    </td>
	    <% if @course.course_setting.enable_project_teams %>
	     <td valign="top">
	       <% if assignment.team_filters.size == 0 %>
	         <%= link_to "#{image_tag 'group_delete.png', :align => 'absmiddle'} Create", :controller => '/instructor/course_assignments', :action => 'team_filter', :id => assignment %>
	       <% else %>
	         <%= link_to "#{image_tag 'group_add.png', :align => 'absmiddle'} Edit", :controller => '/instructor/course_assignments', :action => 'team_filter', :id => assignment %>
	       <% end %>
	     </td>
	    <% end %>
	    <td valign="top">
	       <%if assignment.auto_grade %>
	           <% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_course_assignments) %>
	             <%= link_to "#{image_tag 'pencil.png', :align => 'absmiddle'} Edit", :action => 'autograde', :course => @course, :id => assignment.id %> 
	           <% end %>
		   <% else %>
		       &nbsp;
		   <% end %>
	    </td>
	    <td nowrap="nowrap" valign="top">
	      <% if assignment.quiz.nil? %>
	         <% if assignment.released && !@user.instructor_in_course?(@course.id) && (@user.assistant_in_course?(@course.id) && !@course.course_setting.ta_view_already_graded_assignments) %>
	           <s>Turn-ins</s>         
	         <% elsif !assignment.released && @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_grade_individual) %>
	           <%= link_to 'Turn-ins', :controller => '/instructor/turnins', :course => @course, :assignment => assignment %> 
	         <% elsif @user.instructor_in_course?(@course.id) %>
	           <%= link_to 'Turn-ins', :controller => '/instructor/turnins', :course => @course, :assignment => assignment %>
	         <% else %>
	           <s>Turn-ins</s>
	         <% end %>
	
	      <% elsif assignment.quiz.survey %>
	         <% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_view_survey_results ) %> 
	           <%= link_to 'Results', :controller => '/instructor/results', :action => 'survey', :course => @course, :assignment => assignment %>
	         <% else %><s>Results</s>
	         <% end %>
	      <% else %>
	         <% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_view_quiz_results ) %> 
         	   <%= link_to 'Submissions', :controller => '/instructor/results', :action => 'quiz', :course => @course, :assignment => assignment %>
             <% else %>
               <s>Submissions</s>
             <% end %>
	      <% end %>
	    </td>
	
		<td align="right" nowrap="nowrap" valign="top">
		  <% if assignment.grade_item.nil? && assignment.quiz && assignment.quiz.survey %>
		    &nbsp;
		  <% elsif assignment.grade_item.nil? %>
		    No Link <%= image_tag 'link_break.png' %>
		  <% elsif assignment.released %>
	        Yes <%= image_tag 'lightbulb.png' %>
	      <% else %>
	        No <%= image_tag 'lightbulb_off.png' %>
	      <% end %>
		</td>
	
	    <td nowrap="nowrap" valign="top"><%=h assignment.grade_category.category %></td>
	    <td nowrap="nowrap" valign="top">
	    <% if assignment.upcoming? %><%= image_tag 'clock_error.png' %>
	    <% elsif assignment.current? %><%= image_tag 'clock.png' %>
	    <% else %><%= image_tag 'clock_red.png' %>
	    <% end %>
	    </td>
	    <td nowrap="nowrap" valign="top" align="left">
	    S: <%= assignment.open_date.to_formatted_s(:compact_date) %><br/>
	    E: <%= assignment.due_date.to_formatted_s(:compact_date) %></td>
	    
	    <% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_course_assignments) %>
	    <td nowrap="nowrap" valign="top">	  
	      <%= link_to "#{image_tag 'delete.png', :align => 'absmiddle'} Delete", { :action => 'destroy', :id => assignment }, :method => "post", :confirm => "Are you sure you want to delete the assignment '#{assignment.title}' and all of it's associated data? This action can not be undone." %> 
	    </td>
	    <% end %> 
	  </tr>
   <% end %>
 </table>

<% end %>

<p>
  <% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_course_assignments) %>
    <%= link_to "#{image_tag 'arrow_switch.png'} Reorder Assignments", :action => 'reorder', :course => @course %> | 
    <%= link_to 'New Assignment', :action => 'new' %> |
    <%= link_to 'Duplicate Assignment', :action => 'duplicate' %> |
	<% if @course.course_setting.enable_quizzes && (@user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_create_quizzes) )%>
	  <%= link_to 'New Quiz/Survey', :controller => '/instructor/quiz', :action => 'new' %> |
	  <%= link_to 'Duplicate Quiz/Survey', :controller => '/instructor/quiz', :action => 'duplicate' %> |
	<% end %>
	<%= link_to 'View All Rubrics', :controller => '/instructor/rubrics', :action => 'all', :course => @course %> |
  <% end %>
 <%= link_to 'Back', :controller => '/instructor/index', :course => @course %>
</p>