<h2>Assignments for <%= @course.title %></h2>

<% if @course.assignments.size == 0 %>
 <p><i>There are no assignments in this course.</i></p>
<% else %>

 <table class="fancy"> 
   <tr class="header"> 
    <th>#</th>
    <th>Title</th>
    <th>Turn-ins</th>
    <th>Graded</th>
    <th>Category</th>
    <th>Available</th>
    <th>Due</th>
    <% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_course_assignments) %>
      <th>Controls</th>
    <% end %>
   </tr>

   <% count = 0 %>
   <% for assignment in @course.assignments %>
     <% count = count.next 
	   odd = "odd"
	   odd = "even" if count.even?
  	  %>
	  <tr class="<%=odd%> hover" id="assignment_<%=assignment.id%>">
	    <td align="right">
	      <% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_course_assignments) %>
	         <% if assignment.is_quiz? %>       
	             <%= link_to "#{h assignment.position}", :controller => '/instructor/quiz', :action => 'questions', :id => assignment %>
  	         <% else %>
                 <%= link_to "#{h assignment.position}", :action => 'edit', :id => assignment %>
             <% end %>
	      <% else %>
	        <%= h assignment.position %>
	      <% end %>
	    </td>
	    <td nowrap="nowrap">
	      <% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_course_assignments) %>
	         <% if assignment.is_quiz? %>       
	             <%= link_to "#{image_tag 'page_edit.png', :align => 'absmiddle'} #{h assignment.title}", :controller => '/instructor/quiz', :action => 'questions', :id => assignment %>
  	         <% else %>
	             <%= link_to "#{image_tag 'page_edit.png', :align => 'absmiddle'} #{h assignment.title}", :action => 'edit', :id => assignment %>
	         <% end %>
	        <% if assignment.team_project %><%= image_tag 'group.png' %><% end %>
	        <%if assignment.auto_grade %><br/> <%= link_to 'AutoGrade Settings', :action => 'autograde', :course => @course, :id => assignment.id %> <% end %>
	      <% else %>
	        <%= h assignment.title %>
	      <% end %>
	    </td>
	    <td nowrap="nowrap">
	      <% if assignment.quiz.nil? %>
	      	 <%= link_to 'Turn-ins', :controller => '/instructor/turnins', :course => @course, :assignment => assignment %> 
	      <% elsif assignment.quiz.survey %>
	         <%= link_to 'Results', :controller => '/results', :action => 'survey', :course => @course, :assignment => assignment %>
	      <% else %>
         	 <%= link_to 'Results', :controller => '/results', :action => 'quiz', :course => @course, :assignment => assignment %>
	      <% end %>
	    </td>
	
		<td align="right" nowrap="nowrap">
		  <% if assignment.grade_item.nil? %>
		    No Link <%= image_tag 'link_break.png' %>
		  <% elsif assignment.released %>
	        Yes <%= image_tag 'lightbulb.png' %>
	      <% else %>
	        No <%= image_tag 'lightbulb_off.png' %>
	      <% end %>
		</td>
	
	    <td nowrap="nowrap"><%=h assignment.grade_category.category %></td>
	    <td nowrap="nowrap">
	    <% if assignment.upcoming? %><%= image_tag 'clock_error.png' %>
	    <% elsif assignment.current? %><%= image_tag 'clock.png' %>
	    <% else %><%= image_tag 'clock_red.png' %>
	    <% end %>
	
	    <%= assignment.open_date.to_formatted_s(:long) %></td>
	    <td nowrap="nowrap"><%= assignment.due_date.to_formatted_s(:long) %></td>
	    
	    <% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_course_assignments) %>
	    <td nowrap="nowrap">		  
	      <%= link_to 'Move Up', :action => 'move_up', :id => assignment %> |
	      <%= link_to 'Move Down', :action => 'move_down', :id => assignment %> |
	      <%= link_to 'Delete', { :action => 'destroy', :id => assignment }, :confirm => "Are you sure you want to delete the assignment '#{assignment.title}' and all of it's associated data? This action can not be undone." %>
	    </td>
	    <% end %> 
	  </tr>
   <% end %>
 </table>

<% end %>

<p>
  <% if @user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_course_assignments) %>
    <%= link_to 'New Assignment', :action => 'new' %> |
	<% if @course.course_setting.enable_quizzes && (@user.instructor_in_course?(@course.id) || (@user.assistant_in_course?(@course.id) && @course.course_setting.ta_create_quizzes) )%>
	  <%= link_to 'New Quiz/Survey', :controller => '/instructor/quiz', :action => 'new' %> |
	<% end %>
  <% end %>
 <%= link_to 'Back', :controller => '/instructor/index', :course => @course %>
</p>