<h2>New Assignment for <%= @course.title %></h2>

<% form_tag( { :action => 'create' }, {:class => 'form-horizontal', :multipart => true, :onsubmit => "new Element.toggle('button'); new Element.toggle( 'spinner');"} ) do %>

  <%= render :partial => 'form', :locals => { :edit_mode => false } %>

 <div class="control-group">
  <label for="point_value" class="control-label">Points:</label>
  <div class="controls">
    <%= text_field_tag 'point_value', @points  %>
    <p class="help-block">If you enter a point value, a GradeBook item will be created and associated with this assignment.</p>
  </div>
 </div>

  <div id="button">
    <%= submit_tag "Create", {:class => 'btn btn-primary'} %>
	<%= link_to 'Cancel', {:action => 'index'}, {:class => 'btn'} %>
  </div>
  <div id="spinner" style="display: none;"><%= image_tag 'spinner.gif' %></div>
<% end %>
