<h2>New Assignment for <%= @course.title %></h2>

<% form_tag( { :action => 'create' }, {:class => 'form-horizontal', :multipart => true, :onsubmit => "new Element.toggle('button'); new Element.toggle( 'spinner');"} ) do %>

  <%= render :partial => 'form', :locals => { :edit_mode => false } %>

<div class="blockintro">If you enter a point value, a GradeBook item will be created and associated with this assignment.</div>
<div class="block">
<p><label for="point_value" class="required">Points:</label>
  <%= text_field_tag 'point_value', @points  %></p>
</div>

  <div id="button">
    <%= submit_tag "Create", {:class => 'btn btn-primary'} %>
	<%= link_to 'Cancel', {:action => 'index'}, {:class => 'btn'} %>
  </div>
  <div id="spinner" style="display: none;"><%= image_tag 'spinner.gif' %></div>
<% end %>
