<%= render :partial => '/public/enrolled' %>
<%= render :partial => '/assignments/due' %>

<h2><%= @assignment.title %> ( <%= @assignment.grade_category.category %>)</h2>

<div id="Assignment">
 <h3>Assignment Information</h3>
 <div class="block" id="assignment_information">
  <div class="row-fluid">
   <div class="span9">
    <table class="table table-condensed table-striped">
      <tr><td nowrap="nowrap" valign="top">Name:</td>
          <td valign="top"><%= @assignment.title %></td>
      </tr>
      <tr><td nowrap="nowrap" valign="top">Type:</td>
          <td valign="top"><%= @assignment.grade_category.category %></td></tr>
      <tr><td nowrap="nowrap" valign="top">Date Available:</td>
          <td valign="top"><%= @assignment.open_date.to_formatted_s(:friendly_date) %></td></tr>
      <tr><td nowrap="nowrap" valign="top">Due Date:</td>
          <td valign="top"><%= @assignment.due_date.to_formatted_s(:friendly_date) %></td></tr>
      <tr><td nowrap="nowrap" valign="top">Last Submission Date:</td>
          <td valign="top"><%= @assignment.close_date.to_formatted_s(:friendly_date) %></td></tr>
      <tr><td nowrap="nowrap" valign="top">Journals Required:</td>
	      <td valign="top"><%=  @assignment.enable_journal.yes_no %></td></tr>
	  <% unless @assignment.grade_item.nil? %>
	    <tr><td nowrap="nowrap" valign="top">Grade Category:</td>
		    <td valign="top"><%=  @assignment.grade_item.grade_category.category %></td></tr>
		<tr><td nowrap="nowrap" valign="top">Possible Points:</td>
		    <td valign="top"><%=  @assignment.grade_item.points %></td></tr>
		<tr><td nowrap="nowrap" valign="top">Assignment Graded:</td>
			<td valign="top">
			  <% if @assignment.released %>
			    Yes <i class="icon-ok-sign"></i>
			  <% else %>
			    No <i class="icon-exclamation-sign"></i>
			  <% end %>
			</td></tr>
	  <% end %>
      <% unless @assignment.description.nil? or @assignment.description.size == 0 %>
	  <tr><td nowrap="nowrap" valign="top">Assignment Description:</td>
		  <td valign="top"><%=  @assignment.description_html %></td></tr>
      <% end %>
      <% if @assignment.file_uploads %>
	  <tr><td nowrap="nowrap" valign="top">Assignment Files:</td>
		  <td valign="top"> 
		  
		  <ul>
	      <% for asgn_doc in @assignment.assignment_documents %>
	        <% if asgn_doc.add_to_all_turnins && asgn_doc.keep_hidden %>
	            <li><%= image_tag asgn_doc.icon_file %> <%=h asgn_doc.filename %>  - <i>Will be automatically added to your turnin.</i></li>
	        <% elsif !asgn_doc.keep_hidden %>
	            <li><%= link_to "#{image_tag asgn_doc.icon_file, :align => 'absmiddle'} #{h asgn_doc.filename}", :controller => '/audit', :action => 'download', :id => @program, :assignment => @assignment, :course => @course, :document => asgn_doc.id, :file => asgn_doc.without_extension, :extension => asgn_doc.extension %> (Size: <%=h asgn_doc.size_text %>)
			    <% if @assignment.enable_upload  && asgn_doc.add_to_all_turnins %><i>Will be automatically added to turnins</i><% end %> </li>
			<% end %>
		  <% end %>
		  </ul>
		
		  </td></tr>    
      <% end %>
     </table>
    </div>
    <div class="span3">
	  	<%= render :partial => '/assignments/duecalendar' %>
        <% unless @assignment.past? %>due in <%= distance_of_time_in_words_to_now( @assignment.due_date, true ) %><% end %>
	</div>
   </div>
  </div>
</div>

<div id="assignment_rubrics">
	<table class="table table-striped">
	 <thead>
	  <tr class="header">
		<th width="18%">Rubric</th>
		<th width="18%"><%= @course.rubric_level.l4_name %></th>
		<th width="18%"><%= @course.rubric_level.l3_name %></th>
		<th width="18%"><%= @course.rubric_level.l2_name %></th>
  	    <th width="18%"><%= @course.rubric_level.l1_name %></th>
	  </tr>
	 </thead>

	  <% row_count = 0 %>
	  <% for rubric in @assignment.rubrics %>
	    <% if rubric.visible_before_grade_release || (@assignment.released && rubric.visible_after_grade_release) %>
	
		 <% row_count = row_count.next 
		    odd = "odd"
	        odd = "even" if row_count.even? %>
	    <tr class="<%=odd%> hover" id="rubric_<%=rubric.id%>">
		  <th align="left" valign="top"><%=h rubric.primary_trait %></th>
		  <td align="left" valign="top"><%=h rubric.no_credit_criteria %> <span class="badge badge-inverse"><i><%= rubric.no_credit_points %> points</i></span></td>
		  <td align="left" valign="top"><%=h rubric.part_credit_criteria %> <span class="badge badge-error"><i><%= rubric.part_credit_points %> points</i></span></td>
		  <td align="left" valign="top"><%=h rubric.full_credit_criteria %> <span class="badge badge-warning"><i><%= rubric.full_credit_points %> points</i></span></td>
		  <td align="left" valign="top"><%=h rubric.above_credit_criteria %> <span class="badge badge-success"><i><%= rubric.above_credit_points %> points</i></span></td>
		</tr>
		<tr class="<%=odd%> hover" id="rubric_<%=rubric.id%>_outcomes">
		  <td align="right" valign="top" colspan="1"><i>Course outcomes:</i></td>
		  <td align="left" valign="top" colspan="4">
			<% if rubric.course_outcomes.size == 0 %>
			  <i>No course outcomes mapped to this rubric.</i>
		    <% else %>
		      <ul>
			    <% for co in rubric.course_outcomes %>
			      <li><%= @numbers[co.id] %>) <%= co.outcome %></li>
			    <% end %>
			  </ul>
		    <% end %>
		  </td>
		</tr>
		<% end %>
	  <% end %>

	</table>
	
  </div>