<div class="btn-toolbar">
  <div class="btn-group">
      <%= link_to 'Profile', {:controller => '/profile', :action => 'view', :id => @user_profile.user.id}, {:class => 'btn btn-info'} %>
      <%= link_to 'View Posts', {:controller => '/profile', :action => 'posts', :id => @user_profile.user.id}, {:class => 'btn'} %>
  </div>	
</div>
<div class="row">	
  <div class="span1"></div>
  <div class="span3">
  	<img src="<%= @user_profile.user.gravatar_url(request.ssl?, 300) %>">
  </div>
  <div class="span8">
  	<h2><%= @user_profile.user.display_name %>'s Profile
    <% if @show_following %><%= render :partial => 'following', :locals => {:feed_subscription => @feed_subscription, :user => @user_profile.user} %><% end %></h2>
    <% if !@user_profile.user.title.nil? && !''.eql?(@user_profile.user.title) %>
      <h3><%= @user_profile.user.title %></h3>
    <% end %>

    <div class="well">
	  <% unless @user_profile.major.nil? %>
	    <dl>
		  <dt>Major</dt>
		  <dd><%=h @user_profile.major %></dd>
	    </dl>
	  <% end %>
	  <% unless @user_profile.year.nil? %>
	    <dl>
		  <dt>Year / Class</dt>
		  <dd><%=h @user_profile.year %></dd>
		</dl>
	  <% end %>
	  <% unless @user_profile.about_me.nil? %>
	    <dl>
		  <dt>About Me</dt>
		  <dd><%= @user_profile.about_me.to_html %></dd>
		</dl>
	  <% end %>
	  
      <% if @user_profile.empty? %>
        <% if @user_profile.user.id.eql?(@user.id) %>
          <div class="alert alert-error">You haven't filled out your profile yet, hit the edit button below to get started.</div>
        <% else %>
          <div class="alert"><%= @user_profile.user.display_name %> hasn't filled out their profile.</div>
        <% end %>
      <% end %>
	
  	  <% if @user_profile.user_id == @user.id %>
        <%= link_to 'Edit', {:controller => '/profile', :action => 'edit', :id => nil}, {:class => 'btn btn-danger'} %>
      <% end %>
	</div>
  </div>
</div>

<% unless @show_following %>
  <h3>Your Followers</h3>
  <% if @followers.size == 0 %>
    <div class="alert alert-info">Sorry, you don't have any followers yet. You can still share updates with your classmates.</div>
  <% else %>
    <%= render :partial => '/roster/users', :locals => {:half_size => @followers.size/2, :users => @followers} %>
  <% end %>
	
<% end %>