<% if !@show_course_tabs.nil? && @show_course_tabs && !@course.nil? %>
<li class="nav-header"><%= h @course.title %>: <%= @course.short_description %></li>
<% active = tab_active(@tab, 'course_overview') %>
<li class="<%= 'active ' if active %>"><%= link_to "<i class=\"icon-picture #{'icon-white' if active}\"></i> #{h @course.title}", :controller => '/overview', :course => @course %></li>
<% if @course.course_setting.enable_blog %>
     <% active = tab_active(@tab, 'course_blog') %>
     <li class="<%= 'active ' if active %>"><%= link_to "<i class=\"icon-list-alt #{'icon-white' if active}\"></i> Course Blog", {:controller => '/blog', :course => @course, :assignment => nil } %></li> 
   <% end %>
   <% active = tab_active(@tab, 'course_documents') %>
   <li class="<%= 'active ' if active %>"><%= link_to "<i class=\"icon-folder-open #{'icon-white' if active}\"></i> Documents", :controller => '/documents', :course => @course, :assignment => nil %></li>
   <% active = tab_active(@tab, 'course_assignments') %>
   <li class="<%= 'active ' if active %>"><%= link_to "<i class=\"icon-calendar #{'icon-white' if active}\"></i> Assignments", :controller => '/assignments', :course => @course, :assignment => nil %></li>
   <% if @course.course_setting.enable_project_teams %>
     <% active = tab_active(@tab, 'course_teams') %>
     <li class="<%= 'active ' if active %>"><%= link_to "<i class=\"icon-magnet #{'icon-white' if active}\"></i> Team Center", :controller => '/team', :course => @course, :assignment => nil %></li> 
   <% end %>
   <% if @course.course_setting.enable_wiki %>
     <% active = tab_active(@tab, 'course_wiki') %>
     <li class="<%= 'active ' if active %>"><%= link_to "<i class=\"icon-edit #{'icon-white' if active}\"></i> Wiki", :controller => '/wiki', :course => @course, :assignment => nil %></li> 
   <% end %>
   <% if @course.course_setting.enable_forum %>
     <% active = tab_active(@tab, 'course_forum') %>
     <li class="<%= 'active ' if active %>"><%= link_to "<i class=\"icon-comment  #{'icon-white' if active}\"></i> Forums", :controller => '/forums', :course => @course, :assignment => nil %></li> 
   <% end %>
   <% if !@user.nil? && @user.student_in_course?(@course.id) && @course.course_setting.enable_gradebook %>
     <% active = tab_active(@tab, 'course_grades') %>
     <li class="<%= 'active ' if active %>"><%= link_to "<i class=\"icon-signal #{'icon-white' if active}\"></i> Grades", :controller => '/grades', :course => @course, :assignment => nil %></li>
   <% end %>
   <% if !@user.nil? && @user.student_in_course?(@course.id) && @course.course_setting.enable_attendance %>
     <% active = tab_active(@tab, 'course_attendance') %>
     <li class="<%= 'active ' if active %>"><%= link_to "<i class=\"icon-check #{'icon-white' if active}\"></i> Attendance", :controller => '/attendance', :course => @course, :assignment => nil %></li>
   <% end %>
   <% if !@user.nil? && (@user.instructor_in_course?(@course.id) || @user.assistant_in_course?(@course.id)) %>
     <% active = tab_active(@tab, 'course_instructor') %>
     <li class="<%= 'active ' if active %>"><%= link_to "<i class=\"icon-barcode #{'icon-white' if active}\"></i> Instructor", { :controller => '/instructor/index', :course => @course, :assignment => nil } %></li>
   <% end %>		
<% end %>

<% unless @user.nil? %>
<li class="nav-header">Your Courses - <%= @term.semester %></li>
<% ct = @user.courses_in_term( @term ) %>
<% if ct.size > 0%>
  <% for cu in ct %>
    <li><%= link_to "#{h cu.course.title}", {:controller => '/overview', :action => nil, :course => cu.course, :id => nil} %>
    </li>
  <% end %>
  <% if ct.size > 1 %>
    <li><%= link_to 'Change Display Order <i class="icon-random"></i>', :controller => '/home', :action => 'reorder' %></li>
  <% end %>
<% else %>
<li><i class="icon-info-sign"></i> You are not enrolled in any courses during this term.  If this is incorrect, please contact your instructor.</li>
<% end %>
<li><%= link_to "View courses from past semesters...", :controller => "home", :action => "courses", :id => nil%></li>

<% if @user.auditor %>
<li class="nav-header">Programs You Audit</li>
<% programs = @user.programs_under_audit() %>
<% if programs.size == 0 %>
 <li><i class="icon-info-sign"></i><em>You are not an auditor for any programs. Please contact the appropriate program managers for access.</em></li>
<% else %>
 <% for prog_user in programs %>
   <li><%= link_to "<b>#{prog_user.program.title}</b>", :controller => "/audit", :action => 'program', :id => prog_user.program_id %></li>
 <% end %>
<% end %>
<% end %>
<% end %>

<li class="nav-header">Public Courses</li>
<li><%= link_to 'View public courses <i class="icon-share"></i>', :controller => '/public', :couse => nil, :assignment => nil %></li>
