<ul>
<% if @users.nil? || @users.size == 0 %>
  <li>No users in this category</li>
<% else %>	
<% for user in @users %>
  <li id="<%=@utype%>_user_<%=user.id%>">
    <% if @course.course_open %>
	<%= link_to_remote( image_tag('delete.png', :align => 'absmiddle' ), :url => { :action => 'deluser', :type => @utype, :course => @course.id, :id => user }, :confirm => "Remove user #{user.display_name} from this course?", :success => "new Effect.Puff( '#{@utype}_user_#{user.id}' )", :failure => "alert('There was an error removing the selected user from this course.');" ) %>
	 <% end %>
	   <% if @show_images %><img src="<%= user.gravatar_url %>" align="middle" /><% end %> <%=h user.display_name %> (<%=h user.email%>)
	</li>
<% end %>
<% end %>
</ul>