<% if @users.nil? || @users.size == 0 %>
  <ul><li>No users in this category</li></ul>
<% else %>	
<% for user in @users %>
  <% course_user = nil
     if user.class.to_s.eql?( 'CoursesUser' ) 
	     course_user = user
	     user = user.user 
     end 
  %>
  <div id="<%=@utype%>_user_<%=user.id%>">
	<% form_tag( {:action => 'change_student_crn', :id => user}, {:class => 'form-inline'} ) do %> 
	<label>
    <% if @course.course_open %>
      <% unless @utype.eql?('dropped') %>
       <% if @utype.eql?('student') %>
        <%= link_to_remote( '<i class="icon-remove"></i>', :url => { :action => 'deluser', :type => @utype, :course => @course.id, :id => user }, :confirm => "Are you sure you want to remove the student '#{user.display_name}' from this course? The user will not be automatically enrolled in this course again.", :success => "new Effect.Puff( '#{@utype}_user_#{user.id}' )", :failure => "alert('There was an error removing the selected user from this course.');" ) %>
       <% elsif @utype.eql?('rejected') %>
        <%= link_to_remote( '<i class="icon-remove"></i>', :url => { :action => 'deluser', :type => @utype, :course => @course.id, :id => user }, :confirm => "Remove rejected access request #{user.display_name}. This user will be able to propose access again.", :success => "new Effect.Puff( '#{@utype}_user_#{user.id}' )", :failure => "alert('There was an error removing the selected user from this course.');" ) %>
       <% else %>
	    <%= link_to_remote( '<i class="icon-remove"></i>', :url => { :action => 'deluser', :type => @utype, :course => @course.id, :id => user }, :confirm => "Remove user #{user.display_name} from this course?", :success => "new Effect.Puff( '#{@utype}_user_#{user.id}' )", :failure => "alert('There was an error removing the selected user from this course.');" ) %>
	   <% end %>
	  <% end %>
	<% end %>
	</label>
	   <% if @show_images %><img src="<%= user.gravatar_url(request.ssl?) %>" align="top" /><% end %> 
		 <%=h user.display_name %> (<%=h user.email%>) 
	   <% if @showCRN && !course_user.nil? %> 		  
			<select id="course_select_top" name="crn" onchange="this.form.submit();">
		       <% selected = ""
		          selected = 'selected="selected"' if (course_user.crn_id == 0) %>
		       <option value="0" <%= selected %>>-- Select Section --</option>     
		       <% for crn in @course.crns %> 
		         <% selected = ""
			        selected = 'selected="selected"' if (course_user.crn_id == crn.id) %>
		         <option value="<%= crn.id %>" <%= selected %>>Section: <%= crn.name %>, <%= crn.crn %></option>     
		       <% end %>
		     </select>
      <% end %> 	  
	   
	  <% end %>
	</div>
<% end %>
<% end %>