<p><%= link_to "#{image_tag 'arrow_left.png' } Back", :controller => '/instructor/index', :course => @course.id %> |
<% if @show_images %>
  <%= link_to "Hide user pictures", :controller => '/instructor/course_users', :action => nil, :course => @course, :id => nil %>
<% else %>
  <%= link_to "Show user pictures", :controller => '/instructor/course_users', :action => nil, :course => @course, :id => nil, :show_images => true %>
<% end %>
</p>	

<h2>Instructor(s) for <%= @course.title %></h2>
<div id="instructor_error"> </div>
<div id="instructor">
<% @users = @course.instructors %>
<% @utype = 'instructor' %>
<%= render :partial => 'userlist' %>
</div>


<hr/>
<h2>TA/Grader(s) for <%= @course.title %></h2>
<div id="assistant_error"> </div>
<div id="assistant">
<% @users = @course.assistants %>
<% @utype = 'assistant' %>
<%= render :partial => 'userlist' %>
</div>

<hr/>
<h2>Students(s) for <%= @course.title %></h2>
<div id="student_error"> </div>
<div id="student">
<% @users = @course.students_courses_users %>
<% @utype = 'student' %>
<% @showCRN = true if @course.crns.size > 1 %>
<%= render :partial => 'userlist' %>
<% @showCRN = false %>
</div>


<hr/>
<h2>Guest(s) for <%= @course.title %></h2>
<div id="guest_error"> </div>
<div id="guest">
<% @users = @course.guests %>
<% @utype = 'guest' %>
<%= render :partial => 'userlist' %>
</div>

<hr/>
<h2>Dropped Student(s) for <%= @course.title %></h2>
<div id="dropped_error"> </div>
<div id="dropped">
<% @users = @course.drops %>
<% @utype = 'dropped' %>
<%= render :partial => 'userlist' %>
</div>

<hr/>
<p><%= link_to "#{image_tag 'arrow_left.png' } Back", :controller => '/instructor/index', :course => @course.id %></p>


<script language="javascript">
  prepareOverlayForm();
</script>
